//===== футер табов с пагинацией ======
.tabs-footer
	.tabs-footer__left
		.tabs-footer__col
			p Элементов #[span 50]
		.tabs-footer__col
			.filter-group
				p Отображать на странице	
				.custom-select.custom-select--light.custom-select--abs
					.select-icon
						svg(width="10" height="6")
							use(xlink:href="./img/svg-sprite.svg#iconArr")
					.select-field
						input(type="text" value="10" size="3" readonly)
					.select-list.select-list--flex
						ul
							li.current(data-role="10") 10
							li(data-role="20") 20
							li(data-role="30") 30
						
	.tabs-footer__right
		include _pagination.pug