//========== ANIMATION LINE ==========
section.animate-lines
	.container
		.animate-lines__header.flex-header
			.flex-header__text
				span
					svg(width="77" height="54")
						use(xlink:href="./img/svg-sprite.svg#numIcon")
				.text-20
					p GameFi проектов в фокусе&nbsp;внимания в которых мы пакупаем активы и учавствуем в игровом процессе
			.flex-header__btn
				a(href="#!").button.button--color.button--color-dark Смотреть каталог

	.animate-line_1
	.animate-line_2
	
	//============button for mobile========
	.flex-header__btn.animate-lines__btnMob
		a(href="#!").button.button--color.button--color-dark Смотреть каталог
