.pagination-block
	.pagination
		a(href="#!").pagination-item.pagination-item--first
		a(href="#!").pagination-item.pagination-item--prev
		a(href="#!").pagination-item.active 1
		a(href="#!").pagination-item 2
		a(href="#!").pagination-item 3
		a(href="#!").pagination-item ...
		a(href="#!").pagination-item 10
		a(href="#!").pagination-item.pagination-item--next
		a(href="#!").pagination-item.pagination-item--last

	.pagination-current 1