.contact-icons
	a(href="").contact-icons__item
		svg
			use(xlink:href="./img/svg-sprite.svg#twitIcon")
	a(href="").contact-icons__item
		svg
			use(xlink:href="./img/svg-sprite.svg#fbIcon")
	a(href="").contact-icons__item
		svg.tg-Svg
			use(xlink:href="./img/svg-sprite.svg#tgIcon")