/*FOOTER*/
.footer{
	background: #FFFFFF;	
	border-top: 1px solid #D4DFF1;
	.footer-content{
		display: flex;
		height: 80px;
		justify-content: space-between;
		align-items: center;
	}
	.footer-logo svg{
		fill:#788CAB;
	}
}