.game-news{
	 
	.card-light__text{
		display: flex;
		flex-direction: column;
	}
	.card-light__text h4{
		height: auto;
		-webkit-line-clamp: 1;
	}
	.card-light{
		background: #EEF5FF;
		height: 144px;
		&:hover{
			background: #7256FF;
		}
		@media(max-width:991px){
			width: 240px!important;
			padding: 16px;
			&__img{
				width: 80px;
				height: 96px;
				overflow:hidden;
				margin-right: 16px;
				img{object-position: center;
					width: 96px;
					max-width:unset;
				}
			}
		}

	}
	.card-light__text p{
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		font-family: $os;
	}
	.card-light__details{
		margin-top: auto;
		font-family: $os;
	}
	.flex-header{
		align-items: center;
		margin-bottom: 56px;
		.section-title{
			margin-bottom: 0;
		}
		@media(max-width:767px){
			margin-bottom: 24px;
		}
		.button{
			display: none;
			@media(max-width:767px){
				display: inline-block;
				margin-left: 16px;
			}
		}
	}
}
