.information-board{
	background: linear-gradient(81.66deg, #271B64 0%, #0A0522 100%);
	 
	.information-board-head{
		margin-bottom: 60px;
		ul, li{
			display: flex;
			align-items: center;
		}
	ul{
		width: 71%;
		justify-content: space-between;
		@media(max-width:767px){
			width: 100%;
			justify-content: flex-start;
		}
	}
		p {
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;			
			color: #FFFFFF;
			font-family: $ms;
			@media(max-width:767px){font-size: 15px;}
		}
		span{
			padding-left: 12px;
			padding-right: 12px;
			background-color: #fff;
			font-size: 16px;
			color: #0A0522;
			margin-left: 20px;
			font-family: $ms;
			border-radius: 30px;
			white-space: nowrap;
			min-width:37px;
			text-align: center;
			height: 24px;
			line-height: 24px;
			@media(max-width:767px) {
				font-size: 13px;
			}
		}
		.binance-item{
			position: relative;
			
			span{
				padding-right: 40px;
				position: relative;
				
			}
			svg{
				top:3px;
				right: 12px;
				position: absolute;
			}
		}
	}
	
}

.label-text .show-more{
	display: none;
	@media(max-width:1023px){
		display: block;
		color: #7EE4ED;
		margin-top: 6px;
		font-family: $os;
		font-size: 14px;
		line-height: 20px;
		padding-left: 60px;
		cursor:pointer;
		&:hover{opacity: .7;}
	}
}
.label-text.label-text--bull,
.label-text.label-text--star{
	margin-top: 24px;
	.label-text__top p{
		font-size: 14px;
		font-family: $os;
	}
	.label-text__bottom{padding-left: 20px;}
}
.label-text{margin-top: 40px;}
.information-board__list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 680px;
	width: 700px;
	justify-content: space-between;

	.label-text {
		max-width: 332px;
	}

	.label-text:nth-child(1),
	.label-text:nth-child(8) {
		margin-top: 0;
	}

}
.information-board{
	overflow: hidden;
	position: relative;
	&:before{
		content:'';
		position: absolute;
		top:-10%;
		left: -10%;
		width: 55%;
		bottom:0;
		background-image: url('../img/infoBgLeft.png');
		background-position: right;
		background-repeat: no-repeat;
	}
	
}
 .information-board__img{
	position: absolute;
	left: 25%;
	top: 52%;
	z-index: 2;
	@media(max-width:1023px) {
		display: none;
	}
	
}
.information-board__img-grid{
	position: absolute;
	right: 16%;
	top: 20%;
	z-index: 5;
}
.information-board__img-group{
	position: absolute;
	right: 0;
	bottom: 0;
	top: 20%;
	width: 38%;
	
	.board-chart-group{
		position: absolute;
		top: 16%;
		left: 0;		
		z-index: 1;
		width: 420px;
		height: 420px;
		
		.chart-group-text{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 2;
			color: #fff;
			font-family: $ms;
			font-size: 20px;
			line-height: 28px;
			text-align: center;
			span{display: block;}
			span+span{
				font-family: $os;
				font-size: 15px;
				line-height: 24px;
			}
			
		}
	}
	.board-chart{
		position: absolute;
		top:0;
		left: 0;
	}
}
.information-board-desktop{
	display: block;
	@media(max-width:1023px){
		display: none;
	}
}
.information-board-content{
	position: relative;
	z-index: 6;
}
.info-board-swiper,
.information-board__img-mobile {display: none;}
@media(min-width:1024px) and (max-width:1199px){
	.information-board-head li+li{margin-left: 32px;}
}

@media(max-width:1023px) {
	.info-board-swiper,
	.information-board__img-mobile {
		display: block;
	}
	.information-board {
		.information-board-head{margin-bottom: 16px;}
		.information-board-head li {
				flex-direction: column;
				align-items: flex-start;
				span{
					margin-top: 4px;
					margin-left: 0;
				}
			}
			.information-board__img-mobile {
				width: 288px;
				height: 288px;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				img{
				animation-name: spin;
				animation-duration: 30s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;	
				}
				
				p {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #fff;
				}

				p span {
					display: block;
					text-align: center;
					font-family: $ms;
					font-size: 18px;
					line-height: 24px;

					&+span {
						font-family: $os;
						font-size: 14px;
						line-height: 20px;
					}
				}

			}
	}

}

@media(max-width:1023px){
	.information-board {
		 background-color: #0A0522;
		background-image: url('../img/grid.png');
		background-position: center;
		background-repeat: repeat;
		background-size: auto;
		.information-board__list{display: none;}
		
		
	}


	.information-board  .swiper-slide .label-text {
		margin-top: 24px;
	}
}
@media(max-width:767px) {
	.information-board-head .binance-item {
		margin-left: 32px;

	}
	.information-board {
		padding-bottom: 27px;
		.information-board-head {

			li:nth-child(2) {
				display: none;
			}
		}
	}
}
.label-text-modal{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: linear-gradient(81.66deg, #271B64 0%, #0A0522 100%);	
	border: 1px solid #788CAB;	
	box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
	border-radius: 16px;
	z-index: 50;
	padding: 30px;
	width: 313px;
	.label-text:first-child{margin-top: 0;}
	&.visible{
		display: block;
	}
	.close-btn{
		color: #fff;
		background-color: $pr;
		width: 32px;
		height: 32px;
		border-radius: 9px;
		line-height: 32px;
		margin-top: 24px;
		
	}
}
.board-chart .chart-path {
	opacity: 0;
	transition: 1s;
}