.information-board{
	background: linear-gradient(81.66deg, #271B64 0%, #0A0522 100%);
	 
	.information-board-head{
		margin-bottom: 60px;
		ul, li{
			display: flex;
			align-items: center;
		}
	ul{
		width: 71%;
		justify-content: space-between;
		@media(max-width:767px){
			width: 100%;
		}
	}
		p {
			font-weight: 600;
			font-size: 18px;
			line-height: 24px;			
			color: #FFFFFF;
			font-family: $ms;
		}
		span{
			padding: 4px 12px 2px;
			background-color: #fff;
			font-size: 16px;
			color: #0A0522;
			margin-left: 20px;
			font-family: $ms;
			border-radius: 30px;
			white-space: nowrap;
			min-width:37px;
			text-align: center;
		}
		.binance-item{
			position: relative;
			
			span{
				padding-right: 40px;
				position: relative;
				
			}
			svg{
				top:3px;
				right: 12px;
				position: absolute;
			}
		}
	}
	
}
.information-board__list-bottom,
.information-board__list-top{
	padding-top: 28px;
	width: 100%;
	max-width:557px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap:24px;
	
}
.information-board__list-bottom{
	max-width:740px;
	padding-top: 30px;
}
.information-board{
	overflow: hidden;
	position: relative;
	&:before{
		content:'';
		position: absolute;
		top:0;
		left: 0;
		width: 45%;
		
		bottom:0;
		background-image: url('../img/infoBgLeft.png');
		background-position: right;
		background-repeat: no-repeat;
	}
	
} .information-board__img{
	position: absolute;
	bottom: 0;
	right: 12vw;
	@media(max-width:1920px) {right: 0;}
	@media(max-width:1439px){
		width: 70%;
	}
	@media(max-width:1199px) {
		width: 56%;
	}
	@media(max-width:1023px) {
		display: none;
	}
	
}
.information-board-content{
	position: relative;
	z-index: 6;
}
.info-board-swiper,
.information-board__img-mobile {display: none;}
@media(min-width:1024px) and (max-width:1199px){
	.information-board-head li+li{margin-left: 32px;}
}
@media(max-width:1023px) {
	.info-board-swiper,
	.information-board__img-mobile {
		display: block;
	}
	.information-board {
		.information-board-head{margin-bottom: 16px;}
		.information-board-head li {
				flex-direction: column;
				align-items: flex-start;
				span{
					margin-top: 12px;
					margin-left: 0;
				}
			}
			.information-board__img-mobile {
				width: 288px;
				height: 288px;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				img{
				animation-name: spin;
				animation-duration: 10s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;	
				}
				
				p {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #fff;
				}

				p span {
					display: block;
					text-align: center;
					font-family: $ms;
					font-size: 18px;
					line-height: 24px;

					&+span {
						font-family: $os;
						font-size: 14px;
						line-height: 20px;
					}
				}

			}
	}

}
@media(max-width:1023px){
	.information-board {
		 background-color: #0A0522;
		background-image: url('../img/grid.png');
		background-position: center;
		background-repeat: repeat;
		background-size: auto;
		.information-board__list{display: none;}
		
		
	}


	.information-board  .swiper-slide .label-text {
		margin-top: 24px;
	}
}
@media(max-width:767px) {
	.information-board-head .binance-item {
		margin-left: 16px;

	}
	.information-board {
		padding-bottom: 27px;
		.information-board-head {

			li:nth-child(2) {
				display: none;
			}
		}
	}
}