/*====   banner benefits==========*/
.investor-banner{	
	padding-top: 40px;
	padding-bottom: 72px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: hidden;
	position: relative;
	&:after{
		content:'';
		position: absolute;
		z-index: 1;
		width: 200%;
		height: 200%;
		top: 50%;
		left:50%;
		transform:translate(-50%, -50%);
		background: radial-gradient(50% 50% at 50% 50%, #FEBEFF 0%, rgba(247, 191, 162, 0.463542) 54.17%, rgba(241, 201, 82, 0) 100%);
		opacity: 0.32;
	}
}
.investor-banner-content{
	position: relative;
	z-index: 2;
	.text-column {
		position: relative;

		span {
			font-size: 12px;
			font-family: $mr;
			position: absolute;
			top: -16px;
			left: 0;
		}
	}
	.investor-banner__header {
		height: 496px;
		color: #ffffff;
		background: linear-gradient(260.62deg, #739AF4 3.16%, #D67EFF 47.55%, #7256FF 90.1%);
		border-radius: 24px;
		padding: 64px;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			width: 36%;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 2;
			background-image: url('../img/investor/banner-bg.png');
			background-repeat: no-repeat;
			background-position: right;
		}
		@media(max-width:1023px){
			height: auto;
		}
	}
	.investor-banner__title{
		display: flex;
		height: 100%;
		flex-direction: column;
		width: 60%;
		max-width: 460px;
		position: relative;
		z-index: 3;
		@media(max-width:1023px) {
			width: 85%;
		}
		p{
			font-size: 36px;
			line-height: 1.375;
			color: #ffffff;
		}
	}
	.investor-banner__text{
		margin-top: 40px;
	}
	.investor-banner__text p{
		font-size: 17px;
		line-height: 1.4;
	}
	.investor-banner__btn{
		margin-top: auto;
		display: flex;
		align-items: center;
		.button +.button{margin-left: 32px;}
		@media(max-width:1023px) {
			margin-top: 40px;
		}
		@media(max-width:1023px) {
			.button+.button {
				margin-left: 25px;
			}
		}
		
	}
}
.investor-banner__img{
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9;
	.investor-banner__laptop,
	.investor-banner__chart,
	.investor-banner__money,
	.investor-banner__man {
		position: absolute;
	}
	.investor-banner__man{
		left: 46%;
		bottom: -35px;
		transform:translateX(-50%);
	}
	.investor-banner__laptop{
		top: 75px;
		right: 85px;
	}
	.investor-banner__money{
		right: -18px;
		bottom: 18%;
	}
	.investor-banner__chart{
		left: -33px;
		top: 43%;
	}
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 75%;
		background-image: url('../img/investor/grid.svg');
		background-position:center;
		background-size:auto;
		background-repeat: no-repeat;	
	}
	@media(max-width:1023px){display: none;}
	
}
/*banner__benefits*/
.investor-banner__benefits{
	position: relative;
	z-index: 5;
	@media(max-width:1023px){
		padding-left: 15px;
		padding-right: 15px;
	}
}
.investor-banner__benefits .text-column-row{
	
	.text-column+.text-column{
		margin-left: 114px;
		
	}
	.text-column:last-child{
		margin-left: auto;
	}
	@media(max-width:1199px) {
		
		.text-column+.text-column {
			margin-left: 50px;

		}
		.text-column:last-child {
			margin-left: auto;
		}
	}
	@media(max-width:1023px) {
		justify-content: space-between;
		.text-column,.text-column+.text-column {
			margin-left: auto;
			margin-right: auto;
			

		}
	}
}
.investor-banner .contact-icons--vertical {
	display: flex;
	@media(max-width:767px){
		display: none;
	}
}
/****mob***/
@media(max-width:1023px) {
	.investor-banner-content .investor-banner__header {
		background-image: url('../img/investor/bannerMob.png');
		background-size: cover;
		background-position: left;
		background-repeat: no-repeat;
		height: 380px;
		border-radius: 0;
		padding: 44px 24px;

	}

	.investor-banner:after {
		background: none;
	}

	.investor-banner-content .investor-banner__header:before {
		display: none;
	}
	.investor-banner .container {
		padding: 0;
	}
	.investor-banner .investor-banner__title .title-3 ,
	.investor-banner .investor-banner__title p {
		font-size: 26px;
		line-height: 1.4;
	}

	.investor-banner .investor-banner__text p {
		font-size: 18px;
		line-height: 20px;
		max-width: 330px;
	}
}
@media(max-width:767px) {
	.investor-banner{
		padding-bottom: 27px;
		padding-top: 0;
	}
	.investor-banner .investor-banner__title .title-3,
	.investor-banner .investor-banner__title p {
		font-size: 20px;
		line-height: 1.4;
	}
	.investor-banner .investor-banner__text p {
		font-size: 14px;
		line-height: 20px;
		max-width:176px;
	}
}
.investor-banner__benefits.swiper{
	@media(min-width:768px){
		display: none;
	}
}
.investor-banner__benefits.visible-768{
	display: none;
	@media(min-width:768px) {
		display: block;
	}
}