.our-team{
	background: #EEF5FF;
	.double-card{
		@media(max-width:767px){
			width:240px!important;
		}
	}
}
.our-experts__cards.card-grid-duo {
	@media(max-width:767px) {
		grid-template-columns: 1fr;
	}
}