.our-team{
	background: #EEF5FF;
	
	
}
.our-experts,
.our-team{
	@media(max-width:1023px) {
		overflow: hidden;
		.container{
			width:calc(50% + 50vw);
			padding-right: 0;
		}
		.double-card__bottom p {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			overflow: hidden;
			height: 72px;
		}
	}
	@media(max-width:767px) {
		padding-bottom: 27px;
	}
}
.our-experts__cards.card-grid-duo {
	@media(max-width:1023px) {
		display: flex;
		// .double-card{width: 370px!important;}
	}
}
.our-team .double-card__top {
	@media(max-width:1023px) {
		flex-direction: column-reverse;
		align-items: center;
		text-align: center;

		h4 {
			font-size: 14px;
		}

		p {
			font-size: 13px;
		}
	}
}
.our-experts__cards{
	
	.double-card{background-color: #EEF5FF;}
	.double-card--darkLabel{
		.double-card__top{background-color: #fff;}
		.double-card__bottom {
			background-color: #EEF5FF;
		}
	}
	.double-card__label{
		p{color: #fff;}
		p:first-child{
			display: block;
			@media(max-width:1023px){
				display: none;
			}
		}
		p+p{
			display: none;

			@media(max-width:1023px) {
				display: block;
			}
		}
		background-color: #0A0522;
	}
}