
/* our-offer*/
.investor-page .our-offer{
	position: relative;
	background-color: #EEF5FF;
	padding-top: 133px;
	padding-bottom: 133px;
	overflow: hidden;
	height: 530px;
	&__text{
		width: 80%;
		max-width:585px;
		position: relative;
		z-index:  3;
		
	}
	.button{
		margin-top: 56px;
	}
	@media(max-width:1023px){
		height: 350px;
		padding-top: 67px;
		padding-bottom: 67px;
		&__text{width: 55%;
			
		}
	}
	@media(max-width:767px) {
		padding-bottom: 0;
		height: 386px;
		&__text {
			width: 100%;
			text-align: center;

		}
		.button{
			margin-top: 24px;
		}
		
	}
}
.our-offer .our-offer__bg{
	position: absolute;
	top: 50%;
	width: 80%;
	right: -50%;
	z-index: 2;
	transform: translateY(-50%);
	@media(max-width:767px) {
		display: none;
	}
}
.our-offer-content{
	position: relative;
	z-index: 3;
	.our-offer__img{
		position: absolute;
		top:-99%;
		right:-80px;
		width: 76%;
		z-index: 2;
		@media(max-width:1799px) {
			right:80px;		
		}
		@media(max-width:1023px) {
			top:-50%;
			right:0;
			width: 66%;
		}
		@media(max-width:767px){
			display: none;
		}
	}
	
}
.our-offer .our-offer__img-mob {
	display: none;
		@media(max-width:767px){
		position: relative;
		z-index: 1;
		margin-top: -85px;
		display: flex;
		justify-content: center;
		img{
			width: 200%;
			max-width:unset;
			left: -120px;
			position: relative;
			max-width:725px;
			
		}
	}
}
/* //our-offer*/