/*============ header2 right block ====== */
.profile-persone__row {
		height: 43px;
		width: 145px;
		border-radius: 25px;
		background: #EEF5FF;
		display: flex;
		align-items: center;
		font-weight: 600;
		font-size: 13px;
		text-align: right;
		color: #3E516F;
		padding-left: 45px;
	}
	.profile-persone__arrow{
		position: absolute;
		right: 7px;
		z-index: 3;
		top: 50%;
		transform: translateY(-50%);
		width: 18px;
		height: 18px;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor:pointer;
		svg{transition: .3s;}
		&.active svg{
			transform: rotate(180deg)
		}
	}
/*********************************************/
.arrow-right-white{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.33334 9.16667V10.8333H13.3333L8.75001 15.4167L9.93334 16.6L16.5333 10L9.93334 3.4L8.75001 4.58333L13.3333 9.16667H3.33334Z' fill='white'/%3e%3c/svg%3e");
}
.arrow-right-blue{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.66666 7.3333V8.66664H10.6667L6.99999 12.3333L7.94666 13.28L13.2267 7.99997L7.94666 2.71997L6.99999 3.66664L10.6667 7.3333H2.66666Z' fill='%237256FF'/%3e%3c/svg%3e");
}