header.about-game-header
	.header-group.d-flex
		.header-group-column
			span.badge.badge--green 8.9
			h1.main-title Axie Infinity
		.header-group-column
			.about-game__logo
				img(src="./img/aboutGame/game-logo.png", width="82" alt="alt")