//========= ПОХОЖИЕ ИГРЫ===========
article.games-similare.pt-48
	.column-container
		.flex-header
			h3.text-24 Похожие игры
			a(href="#!").bg-link.bagde-medium Смотреть все
			.game-cards-swiper.swiper
				.card-grid-trio.swiper-wrapper.flex-1023
					.swiper-slide
						a(href="#!") link.game-card-large
							.badge.badge--white ранний доступ
							.game-card-large__img
							.game-card-large__info
								.game-card__title
									span.badge.badge--green 8.9
									h4.main-title Axie Infinity
								.game-card__body
									p Пошаговая, карточная
								.game-card__footer
									img(src="./img/aboutGame/game-logo.png", width="82" alt="alt")
									span.bg-link.bagde-medium Смотреть все
