.about-game-header-desktop
	header.about-game-header
		.flex-header
			.text-group
				span.badge.badge--green 8.9
				h1.main-title Axie Infinity
			
			.about-game__logo
				img(src="./img/aboutGame/game-logo.png", width="82" alt="alt")