section.about-game
	.column-container
		.about-game-video
			.about-game-video__content#gameVideo
				.video-play-btn
				video#gameVideoClip( poster="./img/aboutGame/video-poster.jpg" width="100%")
					source(src="video/video.ogv", type="video/ogg;")
					source(src="video/video.mp4", type="video/mp4")
					source(src="video/video.webm", type="video/webm")
	.about-game-info
		.column-container
			.result-info.pt-48
				.result-info-content.gradient-box
					.gradient-box__inner.d-flex 
						ul
							li
								span.text-grey Средний доход
								p.text-24 до $ 1 200 / мес.
							li
								span.text-grey Временные затраты
								p.text-24 1-3 часа в день
						.result-info__right
							img(src="./img/aboutGame/gif.png", width="176" alt="alt")
		.about-game-parametrs.pt-48
			.column-container
				.swiper-block
					ul
						li
							span.text-grey.text-13 Жанр
							p.text-15 Пошаговая, карточная
						li
							span.text-grey.text-13 Разработчики
							p.text-15
								a(href="#!") skymavis.com
						li
							span.text-grey.text-13 Сеть
							p.text-15 Ronin на базе ETH
						li
							span.text-grey.text-13 Сайт игры
							p.text-15 
								a(href="#!") axieinfinity.com
						li
							span.text-grey.text-13 Стадия
							p.text-15 Релиз / ранний доступ
						li
							span.text-grey.text-13 Платформа
							p.d-flex
								span.badge.badge--black Android
								span.badge.badge--black IOS
								span.badge.badge--black MacOs
								span.badge.badge--black Windows
		article.text-block.pt-48
			.column-container
				h3.text-24  Описание игры
				.text-paragrafe
					p Axie Infinity, игра на блокчейне, популярность которой в мире, и в частности на Филиппинах, экспоненциально выросла на фоне пандемии, криптоигра позволяет игрокам зарабатывать внутриигровые криптовалюты, которые затем можно обменять на бирже на фиатные валюты.

					p Но чтобы начать играть в игру, игрокам необходимо приобрести трёх цифровых питомцев под названием «Axie», которых они будут разводить как потомков персонажей, которые можно использовать на поле битвы. За завершение битвы есть награды в виде криптовалют. 

		article.text-block.pt-48
			.column-container
				h3.text-24  Как заработать
				.text-paragrafe
					p При том что игра находится на ранней стадии, пользователям открыт максимально большой спектор вариантов дохода в игре. 

					p Но для большинства из них следует хорошо понимать игру и потребности игроков, иначе можно уйти в глубокий минус или потерять все активы. Мы советуем пройти обучение и набраться опыта, а потом уже рисковать. 
				button.button.button--pink.button--label
					span Научиться играть
					span Free
		
		//===============Виды механик карточки =============
		article.text-block.text-block--game-types.pt-48
			.column-container
				h3.text-24  Виды игровых механик в игре Axie Infinity:
				.grid-column-3.swiper-block
					.card-light.card-light--bg
						.card-light__head
							h4 Бридинг
							span 01
						.card-light__text
							p Вы можете создавать игровых персонажей при помощи зелья любви (SLP) и продавать их на маркете

					.card-light.card-light--bg
						.card-light__head
							h4 PVE бои
							span 02
						.card-light__text
							p Если ваш аккаунт выше 800 рейтинга на арене, вы будете зарабатывать до 50 SLP в день играя PVE.
					.card-light.card-light--bg
						.card-light__head
							h4 PVP арена
							span 03
						.card-light__text
							p Срaжайтесь с другими пользователями и зарабатывайте SLP и AXS при выходе в топ 1 000.

					.card-light.card-light--bg
						.card-light__head
							h4 Мини<br> игры
							span 04
						.card-light__text
							p Если вы приобрели землю в игре, вы можете разместить на ней игру и зарабатывать часть дохода игроков.
					.card-light.card-light--bg
						.card-light__head
							h4 Поиск<br> ресурсов
							span 05
						.card-light__text
							p Путешествия на карте проекта в LAND вы можете находить или добывать AXS и SLP.
					.card-light.card-light--bg
						.card-light__head
							h4 Торговля
							span 06
						.card-light__text
							p Вы можете покупать и перепродавать ресурсы, монеты и игровых персонажей.
		//==============Текстовый блок Как играть?============
		article.text-block.pt-48
			.column-container
				h3.text-24  Как играть?
				.text-paragrafe
					p Скачать игру можно на сайте axieinfinity.com по кнопке play now. Доступны приложения для PC, Andriod, IoS. 
					p Для регистрации Вам понадобится установить и завести кошелек roninwallet.io  Он нужен для приобретения игровых персонажей - NFT и работы с внутреигровыми активами.
					p Далее необходимо определить, какие персонажи Axie Вам наиболее интересны и приобрести минимум трех на торговой площадке marketplace.axieinfinity.com. Эти персонажи составят команду, которой можно играть
				button.button.button--pink Подобрать команду
				.text-block__img.pt-48.blind-img
					.blind-img-block
						.blind-img-block__item
						.blind-img-block__item
						.blind-img-block__item
						.blind-img-block__item
						.blind-img-block__item
					img(src="./img/aboutGame/game-banner.jpg", width="832" alt="alt")
		
		//==============Текстовый блок Сколько времени нужно на игру?==========
		article.text-block.pt-48
			.column-container
				.text-block-grid
					.text-block-grid__left
						h3.text-24  Сколько времени нужно на игру?
						.text-paragrafe
							p На время, проводимое в игре влияет такой параметр, как энергия. Когда она у вас есть -  вы получаете возможность добывать больше игровой валюты или прокачивать персонажей.
							p На аккаунте ее количество может быть от 20 до 60. В среднем, в сутки, вы будете тратить 80 минут в игре на прокаченном аккаунте с 20 энергией и 200 минут с 60 энергией
					.text-block-grid__right
						.text-block-grid__text
							span.text-14 Временные затраты 
							p.text-20 1–3 ч. в день
						.text-block-grid__img
							img(src="./img/aboutGame/hand.png",width="240" alt="alt" data-aos="fade-up" data-aos-duration="800")
		//=============КАРТОЧКИ ГЕРОЕВ==============
		article.hero-cards.pt-48
			.column-container
				h3.text-24 Классы персонажей
				.text-paragrafe
					p В игре имеется 6 основных классов и 3 смешанных. Каждый основной класс имеет гены, которые передаются его потомкам Набор генов у каждого персонажа индивидуален, но не обязательно уникален Гены классов влияют на значения здоровья, скорости, навык, мораль, а также на 4 умения персонажа.
				.hero-cards-swiper.swiper
					.card-grid-trio.swiper-wrapper.gap-32
						.swiper-slide
							.hero-card
								.hero-card__img
									img(src="./img/aboutGame/hero-1.png", width="128" alt="alt")
								.hero-card__text
									h4.text-15 Aquantic
									ul
										li
											span.text-grey Здоровье
											span.text-green 45,
										li
											span.text-grey Скорость
											span.text-green 57,
										li
											span.text-grey Навык
											span.text-green 35,
										li
											span.text-grey Мораль
											span.text-green 27
						.swiper-slide
							.hero-card
								.hero-card__img
									img(src="./img/aboutGame/hero-2.png", width="128" alt="alt")
								.hero-card__text
									h4.text-15 Beast
									ul
										li
											span.text-grey Здоровье
											span.text-green 45,
										li
											span.text-grey Скорость
											span.text-green 57,
										li
											span.text-grey Навык
											span.text-green 35,
										li
											span.text-grey Мораль
											span.text-green 27
						.swiper-slide
							.hero-card
								.hero-card__img
									img(src="./img/aboutGame/hero-3.png", width="128" alt="alt")
								.hero-card__text
									h4.text-15 Bird
									ul
										li
											span.text-grey Здоровье
											span.text-green 45,
										li
											span.text-grey Скорость
											span.text-green 57,
										li
											span.text-grey Навык
											span.text-green 35,
										li
											span.text-grey Мораль
											span.text-green 27
					.hero-card-pagination.swiper-pagination.hide-1024
		//==================КАРТОЧКИ ЛОКАЦИИ==========
		article.location-cards.pt-48
			.column-container
				.flex-header
					h3.text-24 Локации
					//==========slider btn ========
					.location-cards-swiper__btn.slider-btn-wrapper
					
						.locSwiper-button-prev.slider-btn-prev
						.locSwiper-button-next.slider-btn-next
						
				//=======slider========
				.location-cards-swiper.swiper
					.swiper-wrapper
						.swiper-slide
							.picture-card(style="background-image:url(./img/aboutGame/location-1.jpg)")
								.badge.badge--white Рынок
						.swiper-slide
							.picture-card(style="background-image:url(./img/aboutGame/location-2.jpg)")
								.badge.badge--white Сад
						.swiper-slide
							.picture-card(style="background-image:url(./img/aboutGame/location-3.jpg)")
								.badge.badge--white Руины
						.swiper-slide
							.picture-card(style="background-image:url(./img/aboutGame/location-1.jpg)")
								.badge.badge--white Рынок
						.swiper-slide
							.picture-card(style="background-image:url(./img/aboutGame/location-2.jpg)")
								.badge.badge--white Сад
						.swiper-slide
							.picture-card(style="background-image:url(./img/aboutGame/location-3.jpg)")
								.badge.badge--white Руины
				.center-wrapper
					a(href="#!").button-link Показать еще
		//=============== PvE Сражения==========
		article.text-block.pt-48
			.column-container
				h3.text-24  PvE Сражения
				.text-paragrafe
					p #[span.text-15 Основная механика игры заключается в следующем:]	Любое сражение, вне зависимости от режима, состоит из раундов. В начале первого рануда выдается определенное количество случайных карт с умениями ваших axies, а также начисляется определенное кол-во энергии для применения этих умений.
					p  #[img.img-right(src="./img/aboutGame/game-banner.jpg", width="492" alt="alt")] #[span.text-15 В режиме PVE нам предстоит сражаться с NPC на различных точках карты приключений:] В зависимости от точки, нам предстоит преодолеть от 1 до 5 ранудов, ликвидировать всех NPC и получить в награду SLP (если точка пройдена «на отлично» и никто из axie не погиб, то мы сможем разово заработать дополнительную награду). Чем дальше точка от начала, тем выше будет уровень NPC, и тем сложнее нам будет их победить. Но наши axie также смогут повышать свой уровень, увеличивая свои характеристики, но для этого нужно играть в PVE при наличии на аккаунте энергии. #[br] В день на прокачку мы, имея на аккаунте 3 акси, сможем потратить только 20 энергии. На вознаграждение в виде SLP энергия аккаунта не влияет, но есть ограничение: в режиме PVE можно заработать только 50 SLP в день. #[br] Чтобы заработать больше SLP, нам необходимо будет выигрывать матчи в режиме PVP, против других игроков. На этот режим уровень axie не влияет, и ваши axie, и axie вашего противника будут иметь базовые параметры, как на 1 уровне. Но нужно помнить, что вознаграждение, в случае победы, мы получим только при наличии энергии на аккаунте. Как только энергия кончится мы и дальше сможем играть, однако SLP за победу получать не будем. 

		//=============== PvP Сражения==========
		article.text-block.pt-48
			.column-container
				h3.text-24  PvP Сражения
				.text-paragrafe
					p  #[img.img-right(src="./img/aboutGame/game-banner.jpg", width="492" alt="alt")] #[span.text-15 На картинке можно увидеть, в каком порядке будут выполнять ход ваши axies, и axies противника.] В каждом из ходов можно выбрать, какие именно умения будет применять ваш axie, выбрав соответствующую карту. На применение каждой из карт требуется определенное кол-во энергии, указанной на карте. После совершения выбора игрок подтверждает завершение хода, после чего изменить или добавить карты нельзя. После того, как оба игрока подтвердят ход все axie в порядке очереди начинают применять свои умения, нанося урон противнику, защищая себя щитами и так далее.  #[br] Также нужно отметить, что большинство карт имеют дополнительный эффект, который сработает только в определенных условиях ( к примеру, за 1 ход axie разыграет определенное количество карт, или урон от карты будет нанесен самому быстрому axie противника, и так далее).  #[br] Это, если можно так сказать, краткая выжимка игрового процесса, в котором, на самом деле, крайне много особенностей, которые зависят от типа axie, его параметров, его умений и даже линии, на которой он стоит (в игре их 3, по 2 позиции на линии).
		
		//=========ИГРОВЫЕ КАРТЫ===========
		article.game-cards.pt-48
			.column-container
				.flex-header
					h3.text-24 Игровые карты
					a(href="#!").button-medium.button--pink Перейти в каталог
				
				.game-cards-swiper.swiper
					.card-grid-trio.swiper-wrapper.flex-1023
						.swiper-slide
							.picture-card.badge-center(style="background-image:url(./img/aboutGame/game-card1.jpg)")
								.badge.badge--white Рыбы
						.swiper-slide
							.picture-card.badge-center(style="background-image:url(./img/aboutGame/game-card2.jpg)")
								.badge.badge--white Рептилии
						.swiper-slide
							.picture-card.badge-center.bg-lightBlue
								.badge.badge--white Животные
						.swiper-slide
							.picture-card.badge-center.bg-blue
								.badge.badge--white Растения
						.swiper-slide
							.picture-card.badge-center.bg-violet
								.badge.badge--white Жуки
						.swiper-slide
							.picture-card.badge-center.bg-yellow
								.badge.badge--white Птицы
						
					.game-cards-swiper-pagination.swiper-pagination.hide-1024

				