.sidebar
	a(href="#!").button.button--color Получить аккаунт
	button.button.button--label.button--white
		span Научиться играть
		span Free
	.nav-list
		ul
			li
				a(href="") Описание игры			
			li 
				a(href="#game-rules") Как играть
			li 
				a(href="#heros") Классы персонажей
			li 
				a(href="#location") Локации игры
			li 
				a(href="#!") Геймплей
			li 
				a(href="#news") Новости
			li 
				a(href="#games-similare") Похожие игры
			li 
				a(href="#comments") Комментарии