.sidebar
	a(href="#!").button.button--pink Получить аккаунт
	button.button.button--label.button--white
		span Научиться играть
		span Free
	.nav-list
		nav
			a(href="#!") Описание
			a(href="#!").active Как заработать
			a(href="#!") Как играть
			a(href="#!") Классы
			a(href="#!") Локации
			a(href="#!") PvE
			a(href="#!") PvP
			a(href="#!") Игровые карты