//========= ПОХОЖИЕ ИГРЫ===========
article.games-similare#games-similare
	.column-container
		.flex-header
			h3.text-24 Похожие игры
			a(href="#!").button-medium.button-light Смотреть все
		//=======слайдер======
		.games-cards-large.swiper
			.card-grid-trio.swiper-wrapper.flex-1023
				//=====один слайд =====
				.swiper-slide
					+game-card-large('8.9', 'Kaby Arena', 'Пошаговая, карточная', 'kaby-card','kaby-logo')
				//=====один слайд =====
				.swiper-slide
					+game-card-large('8.9', 'Mechmaster', 'Пошаговая, карточная', 'mechmaster-card', 'mechmaster-logo')
				//=====один слайд =====
				.swiper-slide
					+game-card-large('8.9', 'Waves Duck', 'Пошаговая, карточная', 'duck', 'duck-logo')
			.cards-large-pagination.swiper-pagination.hide-1024