.sidebar
	.nav-list
		ul.page-nav
			li.active
				a(href="#all-genres") Все жанры
			
			li 
				a(href="#step-genres") Пошаговые
			li 
				a(href="#card-genres") Карточные
			li 
				a(href="#role-genres") Ролевые
			li 
				a(href="#action-genres") Action
			li 
				a(href="#moba-genres") MOBA
			li 
				a(href="#mmorpg-genres") MMORPG
			