.aside-panel
	a(href="#!").logo
		svg(width="37" height="48")
			use(xlink:href="./img/svg-sprite.svg#asideLogo")
	.aside-panel__menu
		button
			p.label
				span 1
			svg
				use(xlink:href="./img/svg-sprite.svg#menu1")
			span Игры

		button
			svg
				use(xlink:href="./img/svg-sprite.svg#menu2")
			span Работа

		button
			p.label
				span 1
			svg
				use(xlink:href="./img/svg-sprite.svg#menu3")
			span Pull

		button
			svg
				use(xlink:href="./img/svg-sprite.svg#menu4")
			span NFT

		button
			svg
				use(xlink:href="./img/svg-sprite.svg#menu5")
			span Маркет

		button
			svg
				use(xlink:href="./img/svg-sprite.svg#menu6")
			span News