
//=====BLUE LEFT SIDEBAR ========
.aside-panel
	a(href="index.html").logo
		svg.logo-svg(width="37" height="48")
			use(xlink:href="./img/svg-sprite.svg#asideLogo")
	.aside-panel__menu
		button
			span
				.label
					span 1
				svg.play-svg
					use(xlink:href="./img/svg-sprite.svg#menu1")
			span Игры

		button
			span
				svg.job-svg
					use(xlink:href="./img/svg-sprite.svg#menu2")
			span Работа

		button
			span
				.label
					span 1
				svg.pull-svg
					use(xlink:href="./img/svg-sprite.svg#menu3")
			span Добыча

		button
			span
				svg.ntf-svg
					use(xlink:href="./img/svg-sprite.svg#menu4")
			span NFT

		button
			span
				svg.market-svg
					use(xlink:href="./img/svg-sprite.svg#menu5")
			span Маркет

		button.news-menu-item
			span
				svg.news-svg
					use(xlink:href="./img/svg-sprite.svg#menu6")
			span Новости
		button
			//- span &hellip;
			span.dotted-icon
			span Еще


		//=========кнопка Работа(с иконкой меч), Добыча и Курсы
		// //=====Работа===
		// button
		// 	span
		// 		svg.job2-svg
		// 			use(xlink:href="./img/svg-sprite.svg#iconBatl")
		// 	span Работа
		
		// //=====Добыча===
		// button
		// 	span
		// 		svg.resourse-svg
		// 			use(xlink:href="./img/svg-sprite.svg#iconResourse")
		// 	span Добыча
		
		// //=====Курсы===
		// button
		// 	span
		// 		svg.edu-svg
		// 			use(xlink:href="./img/svg-sprite.svg#iconEdu")
		// 	span Курсы