//=====MOBILE FIX BOTTOM MENU ========
.fix-mobile-menu
	#open-fixMenu.fix-menu-toggle.active Меню раздела
	#close-fixMenu.fix-menu-toggle
	.fix-menu-list
		ul
			li
				a(href="#!") Задачи
			li
				a(href="#!") Аккаунты
			li
				a(href="#!") Календарь
			li
				a(href="#!") Обучение
			li
				a(href="#!") Задачи
			li
				a(href="#!") Аккаунты
			li
				a(href="#!") Календарь
			li
				a(href="#!") Обучение

	
//=====BLUE LEFT SIDEBAR ========
.aside-panel
	a(href="index.html").logo
		svg.logo-svg(width="37" height="48")
			use(xlink:href="./img/svg-sprite.svg#asideLogo")
	.aside-panel__menu
		button
			span
				.label
					span 1
				svg.play-svg
					use(xlink:href="./img/svg-sprite.svg#menu1")
			span Игры

		button
			span
				svg.job-svg
					use(xlink:href="./img/svg-sprite.svg#menu2")
			span Работа

		button
			span
				.label
					span 1
				svg.pull-svg
					use(xlink:href="./img/svg-sprite.svg#menu3")
			span Pull

		button
			span
				svg.ntf-svg
					use(xlink:href="./img/svg-sprite.svg#menu4")
			span NFT

		button
			span
				svg.market-svg
					use(xlink:href="./img/svg-sprite.svg#menu5")
			span Маркет

		button
			span
				svg.news-svg
					use(xlink:href="./img/svg-sprite.svg#menu6")
			span News
		button
			span &hellip;
			span Еще