//====best games====
section.popular-games.p-80.slider-1023
	.container
		h2.section-title.section-title--special  #[span Выбор игроков] #[br.br-mobile] декабрь 2021
		.popular-games-block.swiper
			.swiper-wrapper.flex-1023
				.swiper-slide
					+game-card-large('8.9', 'Crypto Snake', 'Пошаговая, карточная', 'snake-large','snake-logo', 'Ранний доступ', '376')
				
				.swiper-slide
					+game-card-large('8.9', 'Ember Sword', 'Пошаговая, карточная', 'ember-large','ember-logo', 'Ранний доступ', '376')
				
				.swiper-slide
					+game-card-large('8.9', 'FaraLand', 'Пошаговая, карточная', 'fara-large','fara-logo', 'Ранний доступ', '376')
			
			.populareGames-pagination.swiper-pagination
//======== start with us ==========
section.cta.p-80
	.container
		h2.section-title.section-title--special #[span Начните свой путь] #[br.br-mobile] c&nbsp;Game Hotel
		.cta-cards
			//====== one card =======
			a(href="#!").action-card
				.action-card-img(style="background: #F3EAFF url(./img/action-card1.jpg)")
				.action-card-content
					p.text-20 Обучение и гайды от GameFI
					p.text-15 Game Hotel подготовил подробные гайды<br> по всем играм, доступным на платформе
				.action-card-arrow
			//====== one card =======
			a(href="#!").action-card
				.action-card-img(style="background: #F3EAFF url(./img/action-card2.jpg)")
				.action-card-content
					p.text-20 Новости GameFI
					p.text-15 Будьте в курсе происходящего в мире блокчейна.<br> Рассказываем о самом важном и интересном
				.action-card-arrow