.page-content-wrapper
	.container.container--special
		.page-content-columns
			.page-content-left
				.page-content-left__block
					include ../sections/_about-game-header
			.page-content-right
				include ../sections/_about-game-aside