section.faq
	.container
		h2.section-title Q&A
		.faq-content
			.faq-content-col
				.question-card
					.question-card-head.label-head
						span 01
						h4 Какова экономическая модель для токенов GHot? Как гарантируется стоимость токенов?
					.question-card-body
						p Первоначально 50% от общего количества HOTEL отправятся на адрес черной дыры для сжигания. При совершении любой транзакции перевода взымается комиссия за транзакцию перевода в размере 10%, из которых 4% распределяются между всеми пользователями, владеющими токеном, 3% направятся в пул ликвидности и 3% отправятся в пул NFT. Цена на HOTEL будет становиться все выше и выше. 
						
				.question-card
					.question-card-head.label-head
						span 01
						h4 Какова экономическая модель для токенов GHot? Как гарантируется стоимость токенов?
					.question-card-body
						p Первоначально 50% от общего количества HOTEL отправятся на адрес черной дыры для сжигания. При совершении любой транзакции перевода взымается комиссия за транзакцию перевода в размере 10%, из которых 4% распределяются между всеми пользователями, владеющими токеном, 3% направятся в пул ликвидности и 3% отправятся в пул NFT. Цена на HOTEL будет становиться все выше и выше. 
			.faq-content-col
				.question-card
					.question-card-head.label-head
						span 01
						h4 Какова экономическая модель для токенов GHot? Как гарантируется стоимость токенов?
					.question-card-body
						p Первоначально 50% от общего количества HOTEL отправятся на адрес черной дыры для сжигания. При совершении любой транзакции перевода взымается комиссия за транзакцию перевода в размере 10%, из которых 4% распределяются между всеми пользователями, владеющими токеном, 3% направятся в пул ликвидности и 3% отправятся в пул NFT. Цена на HOTEL будет становиться все выше и выше. 