section.faq
	.container
		h2.section-title Q&A
		.faq-content
			.faq-content-col
				.question-card
					.question-card-head.label-head
						span 01
						h4 Какова экономическая модель для токенов GHot? Как гарантируется стоимость токенов?
					.question-card-body
						p Первоначально 50% от общего количества HOTEL отправятся на адрес черной дыры для сжигания. При совершении любой транзакции перевода взымается комиссия за транзакцию перевода в размере 10%, из которых 4% распределяются между всеми пользователями, владеющими токеном, 3% направятся в пул ликвидности и 3% отправятся в пул NFT. Цена на HOTEL будет становиться все выше и выше. 
						
				.question-card
					.question-card-head.label-head
						span 03
						h4 Сможет ли GHot украсть мои деньги?
					.question-card-body
						p Нет, GAME HOTEL полностью децентрализован. Конечно, мы должны провести несколько мероприятий, и все HOTEL, кроме тех, которые необходимы для мероприятия, будут отправлены в пул ликвидности без предварительной продажи, без долей команд для обеспечения справедливости
			.faq-content-col
				.question-card
					.question-card-head.label-head
						span 02
						h4 Как купить монеты GHot? Безопасно ли это?
					.question-card-body
						p “Mонеты HOTEL” выпускается на криптовалютном смартчейне, ликвидность заблокирована в PancakeSwap, а право собственности на контракт уничтожено, полностью централизовано и защищено от взлома. В настоящее время вы можете торговать монеты HOTEL на Pancakeswap (следите за новостями о других торговых платформах монеты  HOTEL). 

						p При торговле на Pancakeswap, пожалуйста, убедитесь, что у вас есть BNB в кошельке для оплаты комиссии и добавьте 12-15 проскальзываний, чтобы увеличить процент успеха ваших сделок во время заторов. Адрес контракта: 0x78a499a9&shy;98ba9832u982&shy;u9r8b5abe49100&shy;d82de12f1c