.farm-header
	.container
		.farm-header-content.d-flex
			.farm-header-left
				.farm-header-column
					.farm-title
						h1 Диверсифицированный#[br] #[span майнинг в GameFi проектах]
					.farm-info
						ul
							li
								.farm-info-col
									p 23 434 GHOT
									p Заблокировано из 100 млн GHOT
								.farm-info-col
									p 38.42%
									p APR
							li
								.farm-info-col
									p ≈ $ 123 320
									p Общая добыча в этом сезоне
								.farm-info-col
									p 83.16%
									p APY
						.farm-info-btn
							a(href="#!").button.button--pink Купить GHOT
					.farm-header-text
						p #[span Выплачиваем 40% прибыли#[br] от игрового майнинга] держателям #[br]токена GHOT и участвующим в добыче
			.farm-header-right
				.farm-header-right__title
					p Мой фарминг
				.farm-cards
					.farm-assets-card.farm-card
						.farm-card-row
							.farm-card-row__left
								.farm-card__value
									p  3 000 GHOT
									p ≈ $ 1 823.12
								.farm-card__type
									span Ваш залог
							.farm-card-row__right
								button.button.button-light Отменить залог

						.farm-card-row
							.farm-card-row__left
								.farm-card__value
									p  0.28133883%
									p ≈ $ 1 823.12
								.farm-card__type
									span Ваша доля
							.farm-card-row__right
								button.button.button--color.button--flex
									span Добавить GHOT
									span

					.farm-withdrawal-card.farm-card
						.farm-card-row
							.farm-card-row__left
								.farm-card__value
									p $ 2 913
								.farm-card__type
									span Доступно для вывода
							.farm-card-row__right
								button.button.button-light.disable Clame & Swap in USDT
						.farm-card-row
							.farm-card-row__left
								.farm-card__type
									span Список валют
							.farm-card-row__right
								.form-checkbox
									label
										input(type="checkbox" name="")
										span.fake-checkbox
										span Авто реинвестиция
