//===========FARM HEADER ===========
.farm-header
	.container
		.farm-header-content.d-flex
			.farm-header-left
				.farm-header-column
					.farm-title
						h1 Диверсифицированный#[br] #[span майнинг в GameFi проектах]
					.farm-info
						.farm-info-list.swiper
							.swiper-wrapper
								.farm-info-list__item.swiper-slide
									.farm-info-col
										p 23 434 GHOT
										p Заблокировано из #[span 100 млн GHOT]
									.farm-info-col
										p 38.42%
										p APR
								.farm-info-list__item.swiper-slide
									.farm-info-col
										p ≈ $ 123 320
										p Общая добыча в этом сезоне
									.farm-info-col
										p 83.16%
										p APY
							.farm-info-pagination.swiper-pagination.hide-1024
						
						.farm-header-text.d-block.d-md-none
							p #[span Выплачиваем 40% прибыли#[br] от игрового майнинга] держателям #[br]токена GHOT и участвующим в добыче
						
						.farm-info-btn
							a(href="#!").button.button--pink Купить GHOT
					
					.farm-header-text.d-none.d-md-block
						p #[span Выплачиваем 40% прибыли#[br] от игрового майнинга] держателям #[br]токена GHOT и участвующим в добыче
			.farm-header-right
				.farm-header-right__title
					p Мой фарминг
				.farm-cards
					//============farm card ==========
					.farm-assets-card.farm-card
						.farm-card-row
							.farm-card-row__left
								.farm-card__value
									p  3 000 GHOT
									p ≈ $ 1 823.12
								.farm-card__type
									span Ваш залог
							.farm-card-row__right
								button.button.button-light Отменить залог

						.farm-card-row
							.farm-card-row__left
								.farm-card__value
									p  0.28133883%
									p ≈ $ 1 823.12
								.farm-card__type
									span Ваша доля
							.farm-card-row__right
								button.button.button--color.button--flex
									span Добавить GHOT
									span
					
					//============farm card ==========
					.farm-withdrawal-card.farm-card
						.farm-card-body
							.farm-card-row
								.farm-card-row__left
									.farm-card__block
										.farm-card__value
											p $ 2 913
										.farm-card__type
											span Доступно для вывода
									.farm-card__type.farm-card__block
										span Список валют
								.farm-card-row__right
									.farm-card__block
										//- button.button.button-light.disable Clame & Swap in USDT
										.exchange-value
											p 384 GHOT
											span Реинвестировано за 12.12.2021
									.farm-card__block
										.form-checkbox
											label
												input(type="checkbox" name="")
												span.fake-checkbox
												.form-checkbox__block
													span Авто реинвестиция
													.tooltip-box
														span.info-icon i
														.tooltip-box-content
															p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

						.farm-card-footer
							.timeline-block 
								.timeline-block-range
									.timeline-scale
										span
								.timeline-block-text
									.timeline-input
										span
										input(type="text" readonly value= "10 д. 2 ч.")

section.farm-projects
	.farm-projects-pic
		img(src="./img/farm-man.png", width="350" alt="img")
	.container
		h2.section-title.section-title--special #[span GameFi проекты] #[br] в которых добываются игровые ценности
		.farm-projects-block
			.farm-projects-card
				.farm-projects-img
					img(src="./img/farm-games/axier.jpg", width="272" alt="img")
				.farm-projects-logo
					img(src="./img/farm-games/axie-logo.png", width="80" alt="img")
		
			.farm-projects-card
				.farm-projects-img
					img(src="./img/farm-games/snake.jpg", width="272" alt="img")
				.farm-projects-logo
					img(src="./img/farm-games/snake-logo.png", width="80" alt="img")
		
			.farm-projects-card
				.farm-projects-img
					img(src="./img/farm-games/ember.jpg", width="272" alt="img")
				.farm-projects-logo
					img(src="./img/farm-games/ember-logo.png", width="80" alt="img")
	
			.farm-projects-card
				.farm-projects-img
					img(src="./img/farm-games/fara.jpg", width="272" alt="img")
				.farm-projects-logo
					img(src="./img/farm-games/fara-logo.png", width="80" alt="img")