//===========FOOTER=========
footer.footer
	.container
		.footer-content
			.footer-left
				p GAME-HOTEL.IO. All rights reserved.

			.footer-logo
				svg(width="42" height="24")
					use(xlink:href="./img/svg-sprite.svg#footer-logo")
			.footer-rignt
				p Copyright&copy; 2021