//===========FOOTER=========
footer.footer
	.container
		.footer-content.footer-content--desk
			.footer-left
				p GAME-HOTEL.IO. All rights reserved.

			.footer-logo
				svg(width="42" height="24")
					use(xlink:href="./img/svg-sprite.svg#footer-logo")
			.footer-rignt
				p Copyright&copy; 2021
		.footer-content.footer-content--mob
			.footer-left
				p GAME-HOTEL.IO
				p All rights reserved © 2021
			.footer-rignt
				.contact-icons
					a(href="").contact-icons__item
						svg
							use(xlink:href="./img/svg-sprite.svg#twitIcon")
					a(href="").contact-icons__item
						svg
							use(xlink:href="./img/svg-sprite.svg#fbIcon")
					a(href="").contact-icons__item
						svg
							use(xlink:href="./img/svg-sprite.svg#tgIcon")