section.game-news
	.container
		h2.section-title Интересное из мира Game Fi
		.game-news-cards
			.card-grid-trio
				//=======one card ======
				a(href="#!").card-light.card-light--pic
					.card-light__img
						img(src="./img/game-news1.jpg", width="104" height="104" alt="alt")
					.card-light__text
						h4 Киберспорт
						p Победа Natus Vincere в заветном мейджоре и влия...
						.card-light__details
							p 14.10.2021
							span
				//=======one card ======
				a(href="#!").card-light.card-light--pic
					.card-light__img
						img(src="./img/game-news2.jpg", width="104" height="104" alt="alt")
					.card-light__text
						h4 Секреты лучших
						p Обсуждаем с про игроком секреты тактики в Axie...
						.card-light__details
							p 14.10.2021
							span
				//=======one card ======
				a(href="#!").card-light.card-light--pic
					.card-light__img
						img(src="./img/game-news3.jpg", width="104" height="104" alt="alt")
					.card-light__text
						h4 JRPG и Game Fi
						p Как Япония оказывает влияние на индустрию...
						.card-light__details
							p 14.10.2021
							span



