.header-slider
	//========banner slider ========
	.header-slider__top
		.container
			.header-slider-nav
				.header-slider-next.swiper-button-next
				.header-slider-prev.swiper-button-prev
			.header-slider-swiper.swiper
				.swiper-wrapper
					//=======один слайд ====
					.swiper-slide
						.game-banner(style="background-image: url(./img/games/axie-banner.jpg)")
							.game-banner__content
								h1.title-1
									img(src="./img/games/axie-banner-logo.png", width="99"  alt="logo")
									| Axie Infinity
								p Axie Infinity, игра на блокчейне, популярность которой в мире, и в частности на Филиппинах, экспоненциально выросла на фоне пандемии
								//====кнопки ======
								.btn-group
									a(href="#!").button.button--pink Бесплатное обучение
								//====гифка=====
								.game-banner__gif
									img(src="./img/games/banner-gif.gif", width="360" alt="gif")
					//=====один слайд =====
					.swiper-slide
						.game-banner(style="background-image: url(./img/games/thetan-banner.jpg)")
							.game-banner__content
								h1.title-1
									img(src="./img/games/thetan-banner-logo.png", width="99"  alt="logo")
									| Thetan Arena
								p Thetan Arena, игра на блокчейне, популярность которой в мире, и в частности на Филиппинах, экспоненциально выросла на фоне пандемии
								//====кнопки ======
								.btn-group
									a(href="#!").button.button--pink Бесплатное обучение
					//=====один слайд =====
					.swiper-slide
						.game-banner(style="background-image: url(./img/games/axie-banner.jpg)")
							.game-banner__content
								h1.title-1
									img(src="./img/games/axie-banner-logo.png", width="99"  alt="logo")
									| Axie Infinity
								p Axie Infinity, игра на блокчейне, популярность которой в мире, и в частности на Филиппинах, экспоненциально выросла на фоне пандемии
								//====кнопки ======
								.btn-group
									a(href="#!").button.button--pink Бесплатное обучение
								//====гифка=====
								.game-banner__gif
									img(src="./img/games/banner-gif.gif", width="360" alt="gif")
					
					//=====один слайд =====
					.swiper-slide
						.game-banner(style="background-image: url(./img/games/thetan-banner.jpg)")
							.game-banner__content
								h1.title-1
									img(src="./img/games/thetan-banner-logo.png", width="99"  alt="logo")
									| Thetan Arena
								p Thetan Arena, игра на блокчейне, популярность которой в мире, и в частности на Филиппинах, экспоненциально выросла на фоне пандемии
								//====кнопки ======
								.btn-group
									a(href="#!").button.button--pink Бесплатное обучение
									