header.header
	.header-content.d-flex
		.header-left
			.mobile-logo
				a(href="#!")
					svg(width="42" height="24")
						use(xlink:href="./img/svg-sprite.svg#footer-logo")
			.custom-select.custom-select--lang
				.select-icon
				.select-field
					input(type="text" value="Ru" readonly)
				.select-list
					ul
						li.current(data-role="Ru") Ru
						li(data-role="En") En
						
		.header-center
			.header-menu
				ul
					li.active
						a(href="#!") О проекте
					li
						a(href="#games-catalogy") Игры
					li
						a(href="#road-map") Road map
					li
						a(href="#tokenomic") Токеномика
					li
						a(href="#team") Команда
					li
						a(href="#hoy-bay") Как купить GHOT?
					li
						a(href="#faq") Часты вопросы
		.header-right
			.login-block
				.login-block__img
					img(src="./img/login.png", width="31" alt="alt")
				button.login-btn(type="button" data-btn="logIn") Войти
