header.header
	.header-content.d-flex
		.header-left
			.custom-select
				.select-icon
				.select-field
					input(type="text" value="Ru" readonly)
				.select-list
					ul
						li.current(data-role="Ru") Ru
						li(data-role="En") En
						
		.header-center
			.header-menu
				ul
					li.active
						a(href="#!") О проекте
					li
						a(href="#!") Игры
					li
						a(href="#!") Road map
					li
						a(href="#!") Токеномика
					li
						a(href="#!") Команда
					li
						a(href="#!") Как купить GHOT?
					li
						a(href="#!") Часты вопросы
		.header-right
			.profile-panel
				.profile-icon
					.icon-notify
						span 2
				.profile-avatar
