.header-slider
	.container
		.header-slider-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					.game-banner(style="background-image: url(./img/games/thetan-banner.jpg)")
				.swiper-slide
					.game-banner(style="background-image: url(./img/games/axie-banner.jpg)")
				.swiper-slide
					.game-banner(style="background-image: url(./img/games/thetan-banner.jpg)")
				.swiper-slide
					.game-banner(style="background-image: url(./img/games/axie-banner.jpg)")