section.how-bay-mobile
	.how-bay-mobile__img
		img(src="./img/money.png", width="150" alt="alt")
	.container
		h2.section-title Как купить #[span $GHot?]
		.how-bay-block
			.vertical-slider__text
				.vertical-slider__text-item
					.d-flex
						span Шаг 1
						h4.text-20 Создать кошелек
					p В Google Chrome посетите metamask.io, чтобы загрузить программу расширения и создать кошелек. Пользователи Android и iOS могут загрузить приложение Trust Wallet.
					.vertical-slider__text-img
						img(src="./img/bayStep1.png", width="250" alt="alt")
				
				.vertical-slider__text-item
					.d-flex
						span Шаг 2
						h4.text-20 Отправить монеты BNB на цепной кошелек Binance
					p Купите BNB на бирже Binance и переведите его на адрес кошелька Trust Wallet.
					.vertical-slider__text-img
						img(src="./img/bayStep2.png", width="250" alt="alt")
				.vertical-slider__text-item
					.d-flex
						span Шаг 3
						h4.text-20 Отправить монеты BNB на цепной кошелек Binance
					
					p Перейдите на вкладку DApps внизу и найдите PancakeSwap V2, нажмите на ”Select currency”и введите адрес этого контракта в строке поиска, и вы должны найти HOTEL.

					p Перед обменом нажмите на шестерёнку и передвиньте ползунок PancakeSwap V2. strong сдвиньте на 12–15%, установите сумму, которую вы хотите купить, и нажмите кнопку своп.

					p Если вы работаете с компьютера, перейдите на сайт PancakeSwapV2 и нажмите на ”Connect Wallet». в правом верхнем углу сайта.

					p PancakeSwap:#[br] #[a(href="#!").text-link https://exchange.pancakeswap.finance]
					
					.vertical-slider__text-img
						img(src="./img/bayStep3.png", width="250" alt="alt")