//========стань игроком======
section.investor-cta
	.container
		.investor-cta-header.d-flex
			.investor-cta-header__title.text-32
				p #[span Мы смогли автоматизировать процесс эффективной добычи] игровых ценностей в GameFi при помощи сотен людей
			.investor-cta-header__btn
				.btn-group.btn-group--offerDesk
					.btn-group__img
						img(src="./img/gamepad.png", width="80" alt="img")
					.button--color.button Стать игроком
		
		.investor-cta-cards.mt-56
			.light-cards-grid
				+lightCard('Легальный найм', '01', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')(class=" arr-card")
				+lightCard('Авто тестирование', '02', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')(class=" arr-card")
				+lightCard('Онлайн обучение', '03', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')(class=" arr-card")
				+lightCard('Наставничество', '04', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')(class=" arr-card")
				+lightCard('Легальный найм', '05', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')(class=" arr-card")
				+lightCard('Платим <br> фиатом', '06', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')(class=" arr-card")
				+lightCard('Лучшие попадают в штат', '07', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')(class=" arr-card")
				+lightCard('Оставляем лучших', '08', 'Автоматически рассылаем комиссии владельцам NFT и&nbsp;инвесторам игрового пула.')(class=" arr-card ")
		
		//==============mobile slider============
		.swiper-investor-cta.swiper
			.swiper-wrapper
				.swiper-slide
					+lightCard('Легальный найм', '01', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')
				
					+lightCard('Авто тестирование', '02', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')
				.swiper-slide
					+lightCard('Онлайн обучение', '03', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')
				
					+lightCard('Наставничество', '04', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')
				.swiper-slide
					+lightCard('Легальный найм', '05', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')
				
					+lightCard('Платим <br> фиатом', '06', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')
				.swiper-slide
					+lightCard('Лучшие попадают в штат', '07', 'Нанимаем игрока как сотрудника компании в рамках законодательства.')
					+lightCard('Оставляем лучших', '08', 'Автоматически рассылаем комиссии владельцам NFT и&nbsp; инвесторам игрового пула.')(class="card-light--special")
			.swiper-pagination-cta.swiper-pagination
		
		.center-wrapper.btn-group--offerMob
			.btn-group
				.btn-group__img
					img(src="./img/gamepad.png", width="80" alt="img")
				.button--color.button Стать игроком
