//========== BANNER  ==========
section.investor-banner
	.container
		//===== desktop version=====
		.investor-banner-desktop
			.investor-banner-content
				.investor-banner__img
					
					.investor-banner__laptop
						img.parallax-item1(src="./img/investor/laptop.svg", width="142" alt="img")
					
					.investor-banner__chart
						img.parallax-item2(src="./img/investor/chart.png", width="136" alt="img")
					
					.investor-banner__money
						img.parallax-item3(src="./img/investor/money.png", width="121" alt="img")
				
				.investor-banner__header
					.investor-banner__title
						p #[strong Game Hotel] — платформа для майнинга #[br] в блокчейн играх
						.investor-banner__text
							p Мы создали токены GHOT для участия в доле  от&nbsp;добычи в игровом майнинге
						

				.investor-banner__benefits.mt-64.visible-768
					.text-column-row.d-flex
						// ======one text column
						.text-column
							.text-column__title
								span APY
								p 83,16%
							.text-column__descr
								p
									| Текущая доходность
									br
									|  в добыче
						// ======one text column
						.text-column
							.text-column__title
								p 130+
							.text-column__descr
								p
									| Профессиональных
									br
									|  игроков
						// ======one text column
						.text-column
							.text-column__title
								p $270 000+
							.text-column__descr
								p
									| Стоимость игровых
									br
									|  активов в системе
						// ======one text column
						.text-column
							.text-column__title
								p 3
							.text-column__descr
								p
									| Проекта доступны
									br
									| игрокам

				.investor-banner__benefits.mt-64.swiper
					.text-column-row.d-flex.swiper-wrapper
						//======one text column
						.text-column.swiper-slide
							.text-column__title
								span APY
								p 83,16%
							.text-column__descr
								p Текущая доходность#[br] в добыче
						//======one text column
						.text-column.swiper-slide
							.text-column__title
								p 130+
							.text-column__descr
								p Профессиональных#[br] игроков
						//======one text column
						.text-column.swiper-slide
							.text-column__title
								p $270 000+
							.text-column__descr
								p Стоимость игровых#[br] активов в системе
						//======one text column
						.text-column.swiper-slide
							.text-column__title
								p 3
							.text-column__descr
								p Проекта доступны #[br] игрокам
					.swiper-pagination-investBenef.swiper-pagination