.hidden-layout
//========== BANNER BENEFITS ==========
section.investor-banner
	.container
		//===== desktop version=====
		.investor-banner-desktop
			.investor-banner-content
				.investor-banner__img
					.investor-banner__man
						img(src="./img/investor/man1.png", width="350" alt="img")
					.investor-banner__laptop
						img.parallax-item1(src="./img/investor/laptop.svg", width="142" alt="img")
					
					.investor-banner__chart
						img.parallax-item2(src="./img/investor/chart.png", width="136" alt="img")
					
					.investor-banner__money
						img.parallax-item3(src="./img/investor/money.png", width="121" alt="img")
				
				.investor-banner__header
					.investor-banner__title
						h3.title-3 Платформа для майнинга
						p  в блокчейн играх
						.investor-banner__text
							p Мы создали токены $GHot для участия в&nbsp;доле от&nbsp;дохода нашей организации в игровом майнинге
						.investor-banner__btn
							a(href="#!").button.button--pink Купить $Hotel
							a(href="#!").button.button--white Получить доход

				.investor-banner__benefits.mt-64.visible-768
					.text-column-row.d-flex
						//======one text column
						.text-column
							.text-column__title
								span ASP
								p 105%
							.text-column__descr
								p Текущая доходность#[br] майнинг пула 
						//======one text column
						.text-column
							.text-column__title
								p 131+
							.text-column__descr
								p Профессиональных#[br] игроков
						//======one text column
						.text-column
							.text-column__title
								p $231 000+
							.text-column__descr
								p Стоимость игровых#[br] активов в системе
						//======one text column
						.text-column
							.text-column__title
								p 3
							.text-column__descr
								p Игровых проекта#[br] в инвестиционном пуле
				.investor-banner__benefits.mt-64.swiper
					.text-column-row.d-flex.swiper-wrapper
						//======one text column
						.text-column.swiper-slide
							.text-column__title
								p 105%
							.text-column__descr
								p Текущая доходность#[br] майнинг пула 
						//======one text column
						.text-column.swiper-slide
							.text-column__title
								p 131+
							.text-column__descr
								p Профессиональных#[br] игроков
						//======one text column
						.text-column.swiper-slide
							.text-column__title
								p $231 000+
							.text-column__descr
								p Стоимость игровых#[br] активов в системе
						//======one text column
						.text-column.swiper-slide
							.text-column__title
								p 3
							.text-column__descr
								p Игровых проекта#[br] в инвестиционном пуле
					.swiper-pagination-investBenef.swiper-pagination