//=====MOBILE FIX BOTTOM MENU ========
.fix-mobile-menu
	#open-fixMenu.fix-menu-toggle.active Меню раздела
	#close-fixMenu.fix-menu-toggle
	.fix-menu-list
		ul
			li
				a(href="#!") Задачи
			li
				a(href="#!") Аккаунты
			li
				a(href="#!") Календарь
			li
				a(href="#!") Обучение