//========= ПОХОЖИЕ ИГРЫ===========
article.games-similare.slider-1023
	.column-container
		.flex-header
			h3.text-24 Action
			a(href="#!").button-medium.button-light Смотреть все
		//=======слайдер======
		.games-cards-large.swiper.swiper-actionGames
			.card-grid-trio.swiper-wrapper.flex-1023
				//=====один слайд =====
				.swiper-slide
					+game-card-large('9.1', 'Fara Land', 'Пошаговая, карточная', 'fara','fara-logo',330)
				//=====один слайд =====
				.swiper-slide
					+game-card-large('7.5', 'Monsta Infinite', 'Пошаговая, карточная', 'monsta', 'monsta-logo',330)
				//=====один слайд =====
				.swiper-slide
					+game-card-large('8.9', 'My Defi Pet', 'Пошаговая, карточная', 'mydefi','mydefi-logo',330)
			.actionGames-pagination.swiper-pagination.hide-1024
