//==========game categories ========
section.game-categories.p-80
	.game-categories__img
		img(src="./img/gamepad-bg.png", width="390" alt="img" )
	.container
		.game-categories-list
			.game-categories-type--new
				.game-categories-type
					.categories-type__title
						h4  Новые обновления
					.categories-type__cards
						+game-card-category('duck', 'Axie Infinity')
						+game-card-category('fara', 'Fara Land')
						+game-card-category('splint', 'Splinterlands')
						+game-card-category('monsters', 'Monsters Clan')
			.game-categories-type--favor
				.game-categories-type
					.categories-type__title
						h4  Популярное
					.categories-type__cards
						+game-card-category('ember', 'Ember Sword')
						+game-card-category('axie', 'Axie Infinity')
						+game-card-category('jojo', 'Jojo.Fun')
						+game-card-category('kaby', 'Kaby Arena')
			
			.game-categories-type--anonce
				.game-categories-type
					.categories-type__title
						h4  Скоро в Game Hotel
					.categories-type__cards
						+game-card-category('snake', 'Crypto Snake')
						+game-card-category('defi', 'My Defi Pet')
						+game-card-category('thetan', 'Thetan Arena')
