//========= ПОХОЖИЕ ИГРЫ===========
article.games-similare
	.column-container
		.flex-header
			h3.text-24 Пошаговые игры
			a(href="#!").button-medium.button-light Смотреть все
		//=======слайдер======
		.games-cards-large.swiper
			.card-grid-trio.swiper-wrapper.flex-1023
				//=====один слайд =====
				.swiper-slide
					+game-card-large('8.9', 'Axie Infinity', 'Пошаговая, карточная', 'axie-card','axie-logo', 'Ранний доступ')
				//=====один слайд =====
				.swiper-slide
					+game-card-large('8.1', 'Mechmaster', 'Пошаговая, карточная', 'mechmaster-card', 'mechmaster-logo')
				//=====один слайд =====
				.swiper-slide
					+game-card-large('8.2', 'Kaby Arena', 'Пошаговая, карточная', 'kaby-card','kaby-logo')
				//=====один слайд =====
				.swiper-slide
					+game-card-large('9.1', 'Fara Land', 'Пошаговая, карточная', 'fara-card','fara-logo')
				//=====один слайд =====
				.swiper-slide
					+game-card-large('7.5', 'Monsta Infinite', 'Пошаговая, карточная', 'monsta-card', 'monsta-logo')
				//=====один слайд =====
				.swiper-slide
					+game-card-large('8.9', 'My Defi Pet', 'Пошаговая, карточная', 'mydefi-card','mydefi-logo')
			.cards-large-pagination.swiper-pagination.hide-1024