section.our-team
	.container
		h2.section-title.section-title--special #[span Команда] Game Hotel
		.our-team__cards.card-grid-duo
			//=====team card ======
			.double-card.double-card--blue
				.double-card__content
					.double-card__top
						.double-card__top-text
							h4 Межуев Андрей
							p со-основатель Game Hotel
							.double-card__label
								p Процессы и финансы
						.double-card__top-img
							img(src="./img/team1.jpg",width="104" alt="alt")
					.double-card__bottom
						p Эксперт в области операционного управления и автоматизации бизнеса, финансового инжиниринга.
			//=====team card ======
			.double-card.double-card--pink
				.double-card__content
					.double-card__top
						.double-card__top-text
							h4 Дмитрий Лукьян
							p со-основатель Game Hotel
							.double-card__label
								p Продукт и маркетинг
						.double-card__top-img
							img(src="./img/team2.jpg",width="104" alt="alt")
					.double-card__bottom
						p Эксперт в области операционного управления и автоматизации бизнеса, финансового инжиниринга.
			//=====team card ======
			.double-card.double-card--yellow
				.double-card__content
					.double-card__top
						.double-card__top-text
							h4 Гаганчиков Павел
							p Разработчик Game Hotel
							.double-card__label
								p Web разработка
						.double-card__top-img
							img(src="./img/team3.jpg",width="104" alt="alt")
					.double-card__bottom
						p Эксперт в области операционного управления и автоматизации бизнеса, финансового инжиниринга.

			//=====team card ======
			.double-card.double-card--aqua
				.double-card__content
					.double-card__top
						.double-card__top-text
							h4 Борис Секретный
							p Спец по безопасности Game Hotel
							.double-card__label
								p Software Разработка
						.double-card__top-img
							img(src="./img/team4.jpg",width="104" alt="alt")
					.double-card__bottom
						p 12 лет в разработке. Эксперт по защите ПО и низкоуровневому программированию.




						



