section.our-experts
	.container
		h2.section-title.section-title--special #[span Советники] Game Hotel
		.swiper-our-experts.swiper
			.our-experts__cards.card-grid-duo.swiper-wrapper
				//=====team card ======
				.swiper-slide
					.double-card.double-card--blue.double-card--darkLabel
						.double-card__content
							.double-card__top
								.double-card__top-text
									h4 Евгений Галиахметов
									p со-основатель DAO.VC
									.double-card__label
										p Взаимоотношения с&nbsp;инвесторами
								.double-card__top-img
									img(src="./img/team5.jpg",width="104" alt="alt")
							.double-card__bottom
								p Бизнес ангел, венчурный инвестор, со-основатель клуба Angelsdeck.com, со-основатель и управляющий партнер Altergate.vc
				//=====team card ======
				.swiper-slide
					.double-card.double-card--blue.double-card--darkLabel
						.double-card__content
							.double-card__top
								.double-card__top-text
									h4 Георгий Галоян
									p Исполнительный директор DAO.VC
									.double-card__label
										p Эксперт в области технологий&nbsp;и&nbsp;инноваций
								.double-card__top-img
									img(src="./img/team6.jpg",width="104" alt="alt")
							.double-card__bottom
								p Руководитель направления стартап-предпринимательства блокчейн-ассоциации Армении. Член инициативы «Цифровая Грузия».
			.swiper-pagination-experts.swiper-pagination.hide-1024