section.our-offer
	.our-offer__bg
		img(src="./img/offerBg.png", width="608" alt="image")
	.container
		.our-offer-content
			.our-offer__text.text-32
				.our-offer__text-desk
					p #[span 40% прибыли] от игрового майнинга мы выплачиваем держателям токена GHOT в нашем игровом пуле
				.our-offer__text-mob
					p #[span Выплачиваем 40% прибыли] от&nbsp;игрового майнинга держателям токена GHOT<br> в&nbsp;нашем GameFi пуле
				
				a(href="#!").button--color.button.button--flex
					svg( width="16" height="16")
						use( xlink:href="./img/svg-sprite.svg#icon-pool")
					span Купить $Hotel
			.our-offer__img(data-aos="fade-up" data-aos-delay="300" data-aos-duration="800")
				img(src="./img/macbook.png", width="710" alt="alt")