section.our-offer
	.our-offer__bg
		img(src="./img/offerBg.png", width="1200" alt="image")
	.container
		.our-offer-content
			.our-offer__text.text-32
				.our-offer__text-desk
					p #[span We pay before 40 % for]<br> the gaming mining income to GHOT token holders
				
				a(href="#!").button--color.button.button--flex
					svg( width="16" height="16")
						use( xlink:href="./img/svg-sprite.svg#icon-pool")
					span Participate in farming
			
			img.our-offer__img(src="./img/macbook-en.png", width="680" alt="alt" data-aos="fade-up" data-aos-delay="500" data-aos-offset="300"  data-aos-duration="800")
	.our-offer__img-mob
		img(src="./img/macbook-en.png", width="700" alt="alt" data-aos="fade-up" data-aos-delay="500" data-aos-offset="100"  data-aos-duration="600")