section.our-experts
	.container
		h2.section-title.section-title--special #[span Советники] Game Hotel
		.swiper-our-experts.swiper
			.our-experts__cards.card-grid-duo.swiper-wrapper
				//=====team card ======
				.swiper-slide
					
				//=====team card ======
				.swiper-slide
				
			.swiper-pagination-experts.swiper-pagination.hide-1024