section.partners
	.container
		h2.section-title Партнеры
		.partners-logo
			.partners-logo__item.partners-dao
				img(src="./img/partner1.png", width="147" alt="alt")
			.partners-logo__item.partners-haw
				img(src="./img/partner2.png", width="316" alt="alt")
			.partners-logo__item.partners-crypto
				img(src="./img/partner3.png", width="301" alt="alt")
			.partners-logo__item.partners-kaz
				img(src="./img/partner44.png", width="160" alt="alt")