//=======модальное окно ПОДРОБНАЯ ИНФОРМАЦИЯ для мобильной версии =============
.short-modal(data-modal="profile-info")
	.short-modal-header
		.text-15
			p Информация
		button.cross-btn(data-close)
	//======followers=======
	.short-modal-row
		.person-statistics
			.statistics-item
				.top-block
					svg.icon-followers
						use( xlink:href="./img/svg-sprite.svg#iconFollover")
					span 56
				.text-14
					span Фоловеров
			.statistics-item
				.top-block
					svg.icon-reward
						use( xlink:href="./img/svg-sprite.svg#iconReward")
					span 5
				.text-14
					span Наград
			.statistics-item
				.top-block
					svg.icon-post
						use( xlink:href="./img/svg-sprite.svg#iconPost")
					span 12
				.text-14
					span Статей
			.profile-header-label
				.profile-label__img
					img(src="./img/profile/gh-logo.jpg", width="36" alt="alt")
	
	//======certificates=======
	.short-modal-row
		.person-sertif-wrapper
			.flex-header
				.text-15
					p Сертификаты #[span 3]
				a(href="#!" data-btn="personAllCert").text-13 Смотреть
			.person-sertificates.swiper-block
				//======карточка сертификата ========
				.certificate-card.certificate-card--mini.certificate-card--lux
					.certificate-card__header
						img(src="./img/games/axie-logo.png", width="104" alt="alt")
					.certificate-card__body
						.certificate-card__title
							img(src="./img/sertificate/lux.svg", height="72" alt="alt")
							p LUX
				
				//======карточка сертификата ========
				.certificate-card.certificate-card--mini.certificate-card--comfort
					.certificate-card__header
						img(src="./img/games/monsters-logo.png", width="104" alt="alt")
					.certificate-card__body
						.certificate-card__title
							img(src="./img/sertificate/comfort.svg", height="72" alt="alt")
							p  Comfort
						
				//======карточка сертификата ========
				.certificate-card.certificate-card--mini.certificate-card--standart
					.certificate-card__header
						img(src="./img/games/fara-logo.png", width="104" alt="alt")
					.certificate-card__body
						.certificate-card__title
							img(src="./img/sertificate/standart.svg", height="72" alt="alt")
							p  Standart

	//======followers=======
	.short-modal-row
		.person-followers-wrapper
			.flex-header
				.text-15
					p Фоловеры #[span 56]
				.text-13
					a(href="#"  data-btn="personAllFollow") Все подписчики
			
			.followers-block.swiper-block
				.followers-block__item
					img(src="./img/profile/av1.jpg", width="52" alt="alt")
					span.text-13 Jaylon
				.followers-block__item
					img(src="./img/profile/av2.jpg", width="52" alt="alt")
					span.text-13 Ahmad
				.followers-block__item
					img(src="./img/profile/av3.jpg", width="52" alt="alt")
					span.text-13 Jaylon
				.followers-block__item
					img(src="./img/profile/av4.jpg", width="52" alt="alt")
					span.text-13 Ahmad
				.followers-block__item
					img(src="./img/profile/av5.jpg", width="52" alt="alt")
					span.text-13 Aspen 
				.followers-block__item
					img(src="./img/profile/av6.jpg", width="52" alt="alt")
					span.text-13 Lincoln
				.followers-block__item
					img(src="./img/profile/av7.jpg", width="52" alt="alt")
					span.text-13 Omar 
				.followers-block__item
					img(src="./img/profile/av8.jpg", width="52" alt="alt")
					span.text-13 Alfonso
					.profile-main-right

	//======followers=======
	.short-modal-row
		.person-.rewards-wrapper
			.flex-header
				.text-15
					p Награды #[span 5]
				.text-13
					a(href="#!" data-btn="personAllRewards") Все награды
			.rewards-block.swiper-block
				.rewards-block__item
					img(src="./img/profile/reward1.png", width="43" alt="alt")
				.rewards-block__item
					img(src="./img/profile/reward2.png", width="43" alt="alt")
				.rewards-block__item
					img(src="./img/profile/reward3.png", width="37" alt="alt")
				.rewards-block__item
					img(src="./img/profile/reward4.png", width="28" alt="alt")
				.rewards-block__item
					img(src="./img/profile/reward5.png", width="36" alt="alt")

//========модальное окно, открывается по клику на кнопку с data-btn="personAllCert"===========
.page-modal.full-modal(data-modal="personAllCert")
	.page-modal__header
		.text-15
			p Мои сертификаты #[span 3]
		button.cross-btn(data-close)
	.page-modal__body
		.person-sertificates.grid-wrapper
			//======карточка сертификата ========
			.certificate-card.certificate-card--mini.certificate-card--lux
				.certificate-card__header
					img(src="./img/games/axie-logo.png", width="104" alt="alt")
				.certificate-card__body
					.certificate-card__title
						img(src="./img/sertificate/lux.svg", height="72" alt="alt")
						p LUX
			
			//======карточка сертификата ========
			.certificate-card.certificate-card--mini.certificate-card--comfort
				.certificate-card__header
					img(src="./img/games/monsters-logo.png", width="104" alt="alt")
				.certificate-card__body
					.certificate-card__title
						img(src="./img/sertificate/comfort.svg", height="72" alt="alt")
						p  Comfort
					
			//======карточка сертификата ========
			.certificate-card.certificate-card--mini.certificate-card--standart
				.certificate-card__header
					img(src="./img/games/fara-logo.png", width="104" alt="alt")
				.certificate-card__body
					.certificate-card__title
						img(src="./img/sertificate/standart.svg", height="72" alt="alt")
						p  Standart

//========модальное окно, открывается по клику на кнопку с data-btn="personAllFollow"===========
.page-modal.full-modal(data-modal="personAllFollow")
	.page-modal__header
		.text-15
			p Мои подписчики #[span 56]
		button.cross-btn(data-close)
	.page-modal__body
		.followers-block.grid-wrapper
			//==== single row ============
			.followers-block__item.flex-row
				.followers-block__ava
					img(src="./img/profile/av1.jpg", width="52" alt="alt")
				.followers-block-col
					.text-14.text-bold Cooper Gouse
					.text-13.text-grey А у меня во дворе ходит...
				.followers-block-chat
					.icon-chat
				.followers-block-drop
					//======выпадашка три точки ====
					.custom-dropdown.dropdown-menu
						.custom-dropdown__icon
							span.dotted-icon
						.custom-dropdown__field
						//====выпадающий список =====
						.custom-dropdown__wrapper
							.custom-dropdown__list
								//====элемент списка =====
								.custom-dropdown__list-item
									p Какой-то текст
								//====элемент списка =====
								.custom-dropdown__list-item.current
									p Какой-то текст
								//====элемент списка =====
								.custom-dropdown__list-item
									p Какой-то текст
			//==== single row ============
			.followers-block__item.flex-row
				.followers-block__ava
					img(src="./img/profile/av2.jpg", width="52" alt="alt")
				.followers-block-col
					.text-14.text-bold Cooper Gouse
					.text-13.text-grey А у меня во дворе ходит...
				.followers-block-chat
					.icon-chat
				.followers-block-drop
					//======выпадашка три точки ====
					.custom-dropdown.dropdown-menu
						.custom-dropdown__icon
							span.dotted-icon
						.custom-dropdown__field
						//====выпадающий список =====
						.custom-dropdown__wrapper
							.custom-dropdown__list
								//====элемент списка =====
								.custom-dropdown__list-item
									p Какой-то текст
								//====элемент списка =====
								.custom-dropdown__list-item.current
									p Какой-то текст
								//====элемент списка =====
								.custom-dropdown__list-item
									p Какой-то текст

			//==== single row ============
			.followers-block__item.flex-row
				.followers-block__ava
					img(src="./img/profile/av3.jpg", width="52" alt="alt")
				.followers-block-col
					.text-14.text-bold Cooper Gouse
					.text-13.text-grey А у меня во дворе ходит...
				.followers-block-chat
					.icon-chat
				.followers-block-drop
					//======выпадашка три точки ====
					.custom-dropdown.dropdown-menu
						.custom-dropdown__icon
							span.dotted-icon
						.custom-dropdown__field
						//====выпадающий список =====
						.custom-dropdown__wrapper
							.custom-dropdown__list
								//====элемент списка =====
								.custom-dropdown__list-item
									p Какой-то текст
								//====элемент списка =====
								.custom-dropdown__list-item.current
									p Какой-то текст
								//====элемент списка =====
								.custom-dropdown__list-item
									p Какой-то текст

//======модальное окно, открывается по клику на кнопку с data-btn="personAllRewards"===========
.page-modal.full-modal.visible(data-modal="personAllRewards")
	.page-modal__header
		.text-15
			p Мои награды #[span 3]
		button.cross-btn(data-close)
	.page-modal__body
		//=======шкала опыта ======
		.person-state
			.person-state-value
				.icon-group
					span.star-symbol &#9733;
					span 1334xp
				.badge.badge--profi Профи
			.skills-progress
				.skills-progress-bar
					.skills-progress-line
					.skills-progress-scale
				.skills-progress-text.text-14
					p Еще 540 xp для получения уровня #[strong Легенда]
		.person-rewards
			//===single item ====
			.person-rewards-row.flex-row
				.person-rewards-icon
					.icon-achiv
						span
				.person-rewards-text
					.flex-wrapper
						.text-14.text-bold Погчамп комментатор
						.badge.badge--light +100xp
					.text-13 Написать 100 комментариев
				
					
			//===single item ====
			.person-rewards-row.flex-row
				.person-rewards-icon
					.icon-achiv
						span
				.person-rewards-text
					.flex-wrapper
						.text-14.text-bold Великий комбинатор
						.badge.badge--light +100xp
					
					.text-13 Написать 100 комментариев
			
			
			//===single item ====
			.person-rewards-row.flex-row
				.person-rewards-icon
					.icon-achiv
						span
				.person-rewards-text
					.flex-wrapper
						.text-14.text-bold Крипто–энтузиаст
						.badge.badge--light +100xp
					.text-13 Написать 100 комментариев
				
					
		
		.person-rewards.person-rewards--notcompleted
			.person-rewards-row.flex-row
				.person-rewards-icon
					.icon-achiv.bg-grey
						span
				.person-rewards-text
					.flex-wrapper
						.text-14.text-bold Игровой критик
						.badge.badge--light +400xp
					.text-13 Написать 10 статей в рубрике игры
				
					
			.person-rewards-progress
				.text-13.text-bold 6/10
				.skills-progress
					.skills-progress-bar
						.skills-progress-line
						.skills-progress-scale
					
//=======================mob version==========
.profile-mobile
	//========плашка с заголовокм и со стрелкой ===============
	.mobile-page-top
		.mobile-page-top__left
			button.back-arrow--dark
				svg(width="24" height="24")
					use(xlink:href="./img/svg-sprite.svg#arrRight")
			.text-15
				p Мой профиль
		.mobile-page-top__right
			//======выпадашка три точки ====
			.custom-dropdown.dropdown-menu
				.custom-dropdown__icon
					span.dotted-icon
				.custom-dropdown__field
				//====выпадающий список =====
				.custom-dropdown__wrapper
					.custom-dropdown__list
						//====элемент списка =====
						.custom-dropdown__list-item
							p Какой-то текст
						//====элемент списка =====
						.custom-dropdown__list-item.current
							p Какой-то текст
						//====элемент списка =====
						.custom-dropdown__list-item
							p Какой-то текст
//====banner  for mobile =============
.profile-banner-mobile
	img(src="./img/profile/banner1-mob.jpg", height="104" alt="alt")
.profile-mobile-header
	.profile-mobile-header__row
		.container
			.profile-header-left.flex-center
				.profile-header-avatar
					img(src="./img/profile/persone.jpg", width="144" alt="alt")
				.profile-header-title
					.top-block
						.top-block-group.flex-center
							.text-36 Геральт из Ривии
							.text-16 Ведьмак
							.top-block-col
								.icon-group
									span.star-symbol &#9733;
									span 1334
								.badge.badge--profi Профи
					
		
			//=======шкала опыта ======
			.skills-progress
				.skills-progress-bar
					.skills-progress-line
					.skills-progress-scale
				.skills-progress-text.text-14
					p Еще 540 xp для получения уровня Легенда
			
			//=========кнопки ===========
			.profile-header-buttons
				.button.button--color Новая запись
				.button.button-light Настроить профиль
		
			//=========статистика профиля ===========
			.person-statistics
				.statistics-item
					.top-block
						svg.icon-followers
							use( xlink:href="./img/svg-sprite.svg#iconFollover")
						span 56
					.text-14
						span Фоловеров
				.statistics-item
					.top-block
						svg.icon-reward
							use( xlink:href="./img/svg-sprite.svg#iconReward")
						span 5
					.text-14
						span Наград
				.statistics-item
					.top-block
						svg.icon-post
							use( xlink:href="./img/svg-sprite.svg#iconPost")
						span 12
					.text-14
						span Статей
				.profile-header-label
					.profile-label__img
						img(src="./img/profile/gh-logo.jpg", width="36" alt="alt")
			
			.text-link-wrapper
				a(href="#!" data-btn="profile-info").text-link.button--flex
					span Подробная информация
					svg(width="14" height="14")
						use(xlink:href="./img/svg-sprite.svg#arrRight")

	//========моб карточки пройденных курсов =========
	.profile-mobile-header__row
		.container
			.person-courses--mobile
				.flex-header
					.text-15
						p Курсы #[span 3]
					a(href="#!").text-13 Смотреть
				
				.person-courses.swiper-block
					.course-card
						.course-card-left
							.text-13
								p Курс для Pro
							.text-14.text-bold
								p Axie Infinity #[span.badge.badge-sale 20%]
						.course-card-logo
							img(src="./img/games/axie-logo.png", width="104" alt="alt")
					.course-card
						.course-card-left
							.text-13
								p Курс для Pro
							.text-14.text-bold
								p Axie Infinity #[span.badge.badge-sale 20%]
						.course-card-logo
							img(src="./img/games/jojo-logo.png", width="104" alt="alt")
					
					.course-card
							.course-card-left
								.text-13
									p Курс для Pro
								.text-14.text-bold
									p Axie Infinity #[span.badge.badge-sale 20%]
							.course-card-logo
								img(src="./img/games/ember-logo.png", width="104" alt="alt")