.profile-header(style="background-image: url(./img/profile/banner3.jpg")
	.container
		.profile-header-content
			.profile-header-left.flex-center
				.profile-header-avatar
					img(src="./img/profile/persone2.jpg", width="144" alt="alt")
				.profile-header-title
					.top-block
						.top-block-group.flex-center
							.text-36 Jaylon Torff
							.top-block-col
								.icon-group
									span.star-symbol &#9733;
									span 1334
								.badge.badge--yellow Местный
						.text-16
							p Praise The Sun \[T]/
							
					.bottom-block
						.flex-wrapper
							.button.button--color.button-chat
								span
							.button.button--color Подписаться
			.profile-header-right
				.profile-header-label
					.profile-label__img
						img(src="./img/profile/gh-logo.jpg", width="36" alt="alt")
					
					.gh-title
						p Game Hotel
						.icon-check
				.person-statistics
					.statistics-item
						.top-block
							span.icon-followers
							span 56
						.text-14
							span Фоловеров
					.statistics-item
						.top-block
							span.icon-rewards
							span 5
						.text-14
							span Наград
					.statistics-item
						.top-block
							span.icon-posts
							span 12
						.text-14
							span Статей