.profile-main
	.container
		.profile-main-wrapper
			//==========ЛЕВАЯ КОЛОНКА ==========
			.profile-main-left
				//====панелька для моб версии ========
				.profile-main-left__mobile
					.course-frame-panel__btns#toggle-panel
						button.vert-lines
						button.cross-btn
				
				.profile-sidebar#sidebar-panel
					//======курсы ======
					.content-block
						.flex-header
							.text-15
								p Курсы #[span 1]
						
						.person-courses
							.course-card
								.course-card-left
									.text-13
										p Курс для Pro
									.text-14.text-bold
										p Axie Infinity #[span.badge.badge-sale 20%]
								.course-card-logo
									img(src="./img/games/axie-logo.png", width="80" alt="alt")
							.course-card
								.course-card-left
									.text-13
										p Курс для Pro
									.text-14.text-bold
										p Axie Infinity #[span.badge.badge-sale 20%]
								.course-card-logo
									img(src="./img/games/jojo-logo.png", width="80" alt="alt")
							
							.course-card
									.course-card-left
										.text-13
											p Курс для Pro
										.text-14.text-bold
											p Axie Infinity #[span.badge.badge-sale 20%]
									.course-card-logo
										img(src="./img/games/fara-logo.png", width="80" alt="alt")
					
					//======сертификаты ======
					.content-block
						.flex-header
							.text-15
								p Сертификаты #[span 3]
							
						.person-sertificates
							//======карточка сертификата ========
							.certificate-card.certificate-card--mini.certificate-card--lux
								.certificate-card__header
									img(src="./img/games/axie-logo.png", width="104" alt="alt")
								.certificate-card__body
									.certificate-card__title
										img(src="./img/sertificate/lux.svg", height="72" alt="alt")
										p LUX
							
							//======карточка сертификата ========
							.certificate-card.certificate-card--mini.certificate-card--comfort
								.certificate-card__header
									img(src="./img/games/axie-logo.png", width="104" alt="alt")
								.certificate-card__body
									.certificate-card__title
										img(src="./img/sertificate/comfort.svg", height="72" alt="alt")
										p  Comfort
									
							//======карточка сертификата ========
							.certificate-card.certificate-card--mini.certificate-card--standart
								.certificate-card__header
									img(src="./img/games/axie-logo.png", width="104" alt="alt")
								.certificate-card__body
									.certificate-card__title
										img(src="./img/sertificate/standart.svg", height="72" alt="alt")
										p  Standart
					
					//======Фоловеры =========
					.content-block
						.flex-header
							.text-15
								p Фоловеры #[span 56]
							.text-13
								a(href="#") Все подписчики
						
						.followers-block
							.followers-block__item
								img(src="./img/profile/av1.jpg", width="52" alt="alt")
								span.text-13 Jaylon
							.followers-block__item
								img(src="./img/profile/av2.jpg", width="52" alt="alt")
								span.text-13 Ahmad
							.followers-block__item
								img(src="./img/profile/av3.jpg", width="52" alt="alt")
								span.text-13 Jaylon
							.followers-block__item
								img(src="./img/profile/av4.jpg", width="52" alt="alt")
								span.text-13 Ahmad
							.followers-block__item
								img(src="./img/profile/av5.jpg", width="52" alt="alt")
								span.text-13 Aspen 
							.followers-block__item
								img(src="./img/profile/av6.jpg", width="52" alt="alt")
								span.text-13 Lincoln
							.followers-block__item
								img(src="./img/profile/av7.jpg", width="52" alt="alt")
								span.text-13 Omar 
							.followers-block__item
								img(src="./img/profile/av8.jpg", width="52" alt="alt")
								span.text-13 Alfonso
								.profile-main-right
					//==========награды==========
					.content-block
						.flex-header
							.text-15
								p Награды #[span 5]
						.rewards-block
							.rewards-block__item
								img(src="./img/profile/reward1.png", width="43" alt="alt")
							.rewards-block__item
								img(src="./img/profile/reward2.png", width="43" alt="alt")
							.rewards-block__item
								img(src="./img/profile/reward3.png", width="37" alt="alt")
							.rewards-block__item
								img(src="./img/profile/reward4.png", width="28" alt="alt")
							.rewards-block__item
								img(src="./img/profile/reward5.png", width="36" alt="alt")

			//==========ПРАВАЯ КОЛОНКА ==========
			.profile-main-right
				//========что у тебя нового =======
				.content-block.content-block--border
					.profile-news
						.profile-news__left.d-flex
							.profile-post-ava
								img(src="./img/profile/persone.jpg", width="44" alt="alt")
							.text-15
								p Что у тебя нового?
						.profile-news__right
							.profile-news-types
								.icon-image
								.icon-video
								.icon-post

				//=========TABS ===================
				.content-block
					.profile-tabs
						.tabs-wrapper
							//===переключатели табов ======
							.tabs-header
								.tabs
									.tab
										p Посты
										span.badge 1
									.tab
										p Статьи
									.tab
										p Комментарии
										span.badge 3
								
								
							//===== основной контент-таблица ======
							.tabs-content
								//=======вкладка ПОСТЫ=======
								.tab-item
									.profile-post
										//=====шапка поста =======
										.profile-post__head
											//======левая часть шапка поста ===========
											.profile-post__head-left
												.profile-post-ava
													img(src="./img/profile/persone.jpg", width="44" alt="alt")
												.profile-post-info
													.text-bold.text-14
														p Game Hotel
													.text-13
														span вчера в 18:22

											//====== правая часть шапка поста иконка -троеточие ===========
											.profile-post__head-right
												//======выпадашка три точки ====
												.custom-dropdown.dropdown-menu
													.custom-dropdown__icon
														span.dotted-icon
													.custom-dropdown__field
													//====выпадающий список =====
													.custom-dropdown__wrapper
														.custom-dropdown__list
															//====элемент списка =====
															.custom-dropdown__list-item
																p Какой-то текст
															//====элемент списка =====
															.custom-dropdown__list-item.current
																p Какой-то текст
															//====элемент списка =====
															.custom-dropdown__list-item
																p Какой-то текст
										//=======текст поста ======
										.profile-post__body
											p Британский оператор World Mobile будет раздавать интернет с дирижаблей — для этого он планирует запустить сеть из них в Африке.

											p Подобные проекты были у Facebook и Google — и оба закрылись.
											p
												img(src="./img/profile/post.jpg", width="712"  alt="alt")
										
											.text-details.d-flex
												.article-text-badge.d-flex
													.badge.badge--light
														span.icon-chat
														span 32
													.badge.badge--light
														span.icon-share
														span 3
												
												.comment-rate.d-flex
													.comment-rate__like(data-clicked="false")
														span.icon-like
														span.rating-value 20
													
													.comment-rate__dislike(data-clicked="false")
														span.icon-dislike
														span.rating-value 20
								
									//===========comments=========
									.comments-block-form
										.comments-block__avatar
											img(src="./img/profile/persone.jpg", alt="alt")
										form.comment-form(action="" method="")
											.form-field
												.form-field-icon
												input(type="text" required placeholder="Комментарий...")
												button(type="submit").form-btn.send-btn
									
									//================ comments filter===============
									.simple-filter
										span Сначала
										.custom-select.custom-select--abs.custom-select--light
											.select-icon
												svg(width="10" height="6")
													use(xlink:href="./img/svg-sprite.svg#iconArr")
											.select-field
												input(type="text" value="популярные" readonly)
											.select-list.select-list--flex
												ul
													li.current(data-role="популярные") популярные
													
													li(data-role="новые")
														span новые
														
													li(data-role="старые")
														span старые
														
													li(data-role="другие")
														span другие
													
									//================end filter ====================
									.comments-block-tree
										ul
											//====== один комментарий ====
											li
												.comments-block-tree__item
													//===avatar===
													.comments-block__avatar(style="background-image: url(./img/comment1.jpg")
													
													//=====верхняя строка с именем автора =======
													.comments-block__details
														//=====левая часть строки =======
														.comments-block__details-info.d-flex
															.comment-info-group
																p Rayna Aminoff
																.badge.badge--white Новичок
																.icon-group
																	span.icon-star
																	span 250
															
														//=====текст комментария =======
														.comments-block__details-text
															p В течении двадцатого века было предложено множество теорий всего, но ни одна из них не смогла пройти экспериментальную проверку.
														
														//=====текст комментария нижняя строка с лайками=======
														.comments-block__details-options.d-flex
															//=====левая часть  =======
															.comments-block__details-col
																.comment-rate.d-flex
																	//====лайки: есть скрипт увеличить/уменьшить по клику и не позволяет увеличить одновременно и лайк и дислайк. 
																	.comment-rate__like(data-clicked="false")
																		span.icon-like
																		span.rating-value 20
																	
																	//====dislike есть скрипт увеличить/уменьшить по клику
																	.comment-rate__dislike(data-clicked="false")
																		span.icon-dislike
																		span.rating-value 20
								
								.tab-item
									h1 Контент для вкладки Статьи
									
								
								.tab-item
									h1 Контент для вкладки Комментарии
				
				//==========блок под табами ===========
				.content-block
					.profile-post
						//=====шапка поста =======
						.profile-post__head
							//======левая часть шапка поста ===========
							.profile-post__head-left
								.profile-post-ava
									img(src="./img/profile/persone.jpg", width="44" alt="alt")
								.profile-post-info
									.text-bold.text-14
										p Геральт из Ривии
									.text-13
										span вчера в 18:22

							//====== правая часть шапка поста иконка -троеточие ===========
							.profile-post__head-right
								//======выпадашка три точки ====
								.custom-dropdown.dropdown-menu
									.custom-dropdown__icon
										span.dotted-icon
									.custom-dropdown__field
									//====выпадающий список =====
									.custom-dropdown__wrapper
										.custom-dropdown__list
											//====элемент списка =====
											.custom-dropdown__list-item
												p Какой-то текст
											//====элемент списка =====
											.custom-dropdown__list-item.current
												p Какой-то текст
											//====элемент списка =====
											.custom-dropdown__list-item
												p Какой-то текст
						//=======текст поста ======
						.profile-post__body
							p Интересно, выпустит ли в итоге свой проект Питер Молинье или нет?
							.text-details.d-flex
								.article-text-badge.d-flex
									.badge.badge--light
										span.icon-chat
										span 0
									.badge.badge--light
										span.icon-share
										span 0
						
						//==============comments ==========
						.comments-block-form
							.comments-block__avatar
								img(src="./img/profile/persone.jpg", alt="alt")
							form.comment-form(action="" method="")
								.form-field
									.form-field-icon
									input(type="text" required placeholder="Написать комментарий")
									button(type="submit").form-btn.send-btn