.profile-mobile
	//========плашка с заголовокм и со стрелкой ===============
	.mobile-page-top
		.mobile-page-top__left
			button.back-arrow--dark
				svg(width="24" height="24")
					use(xlink:href="./img/svg-sprite.svg#arrRight")
			.text-15
				p Мой профиль
		.mobile-page-top__right
			//======выпадашка три точки ====
			.custom-dropdown.dropdown-menu
				.custom-dropdown__icon
					span.dotted-icon
				.custom-dropdown__field
				//====выпадающий список =====
				.custom-dropdown__wrapper
					.custom-dropdown__list
						//====элемент списка =====
						.custom-dropdown__list-item
							p Какой-то текст
						//====элемент списка =====
						.custom-dropdown__list-item.current
							p Какой-то текст
						//====элемент списка =====
						.custom-dropdown__list-item
							p Какой-то текст
//====banner  for mobile =============
.profile-banner-mobile
	img(src="./img/profile/banner1-mob.jpg", height="104" alt="alt")
.profile-mobile-header
	.container
		.profile-header-left.flex-center
			.profile-header-avatar
				img(src="./img/profile/persone.jpg", width="144" alt="alt")
			.profile-header-title
				.top-block
					.top-block-group.flex-center
						.text-36 Геральт из Ривии
						.text-16 Ведьмак
						.top-block-col
							.icon-group
								span.star-symbol &#9733;
								span 1334
							.badge.badge--profi Профи
					
		//=======шкала опыта ======
		
		.skills-progress
			.skills-progress-bar
				.skills-progress-line
				.skills-progress-scale
			.skills-progress-text.text-14
				p Еще 540 xp для получения уровня Легенда