section.road-map
	.container
		.road-map__content
			.road-map__img
				img(src="./img/roadMapBg.png", width="250" alt="img")
			h2.section-title Road Map
			.card-grid-trio
				.list-card.list-card--full
					.list-card-head
						p Q3 2021
					.list-card__ul
						ul
							li Собственный инвестиции $ 100,000
							li Первые инвесторы 105 000$
							li Создание майнинговой площадки в GameFi
							li Автоматизация: 
								span Найм и адаптация игроков, управление серверами, подмены игрока на аккаунте, разработка собственной ERP системы, ограничение доступов на игровых серверах.road-map-card--medium
				
				.list-card.list-card--medium
					.list-card-head
						p Q4 2021
					.list-card__ul
						ul
							li.active Продажа токена (стратегический раунд)
							li.active Разработка юридической документации
							li Доформирование команды
							li Расширение майнинговой мощности в текущих игровых проектах
							li Релиз веб-сайта
							li KYC игроков
				.list-card
					.list-card-head
						p Q1 2022
					.list-card__ul
						ul
							li Продажа токена (раунд прямых инвестиций)
							li Аудит безопасности
							li Маркетинг в социальных сетях
							li Запуск майнинговых мощностей в двух новых GameFi проектах
							li Внутренняя площадка профиля игроков
				
				.list-card
					.list-card-head
						p Q1 2022
					.list-card__ul
						ul
							li Открытая продажа токена
							li Запуск пулов ликвидности PancakeSwap
							li Запуск платформы для инвесторов с пулами GameFi майнинга
							li Запуск майнинговых мощностей в двух новых GameFi проектах
							li Усиление майнинговых мощностей в имеющихся GameFi проектах
				
				.list-card
					.list-card-head
						p Q1 2022
					.list-card__ul
						ul
							li Запуск пулов ликвидности на децентрализованных площадках
							li Интеграция с первыми биржами
							li Релиз V 1.0 СМИ и Wiki по крипто играм
							li Релиз V 1.0 открытой площадки для игроков

