//======= ПОСЛЕДНИЕ НОВОСТИ ДЛЯ ДЕСКТОП ============
.sidebar
	.sidebar-title.text-14
		p Последние новости 
	.news-list
		.news-item
			a(href="#!").text-14 Gambit Esports заняла второе место#[br] в рейтинге HLTV.org
			span.text-13 14.10.2021
		.news-item
			a(href="#!").text-14 Комиссия, созданная PSG.LGD, не нашла фактов причастности Xiao8#[br]к ставкам на подставные матчи
			span.text-13 14.10.2021

		.news-item
			a(href="#!").text-14 Team Liquid представила нового игрока состава по CS:GO
			span.text-13 14.10.2021
		
		.news-item
			a(href="#!").text-14 Gambit Esports заняла второе место#[br] в рейтинге HLTV.org
			span.text-13 14.10.2021
		.news-item
			a(href="#!").text-14 Комиссия, созданная PSG.LGD, не нашла фактов причастности Xiao8#[br]к ставкам на подставные матчи
			span.text-13 14.10.2021

		.news-item
			a(href="#!").text-14 Team Liquid представила нового игрока состава по CS:GO
			span.text-13 14.10.2021




			