article.article
	.article-header.d-flex
		.article-header__left
			p 14.12.2021
		.article-header__right
			.article-categories
				span.badge.badge--light Япония
				span.badge.badge--light Киберспорт
	.article-body
		.title-1
			h1 В Японии откроется первая старшая киберспортивная школа
		.article-text
			p Японская телевизионная компания Nippon Telegraph and Telephone при поддержке ФК «Токио Верди» создаст первую киберспортивную школу для учеников старших классов. Учебное заведение будет расположено в Токио, а его открытие запланировано на 2022 год.
			.article-text-badge
				.badge.badge--light
					span.icon-chat
					span 3
			figure
				.article-icons-group.d-flex
					.icon-group
						span.icon-share
						span Поделиться
					.icon-group
						span.icon-chat
						span 12
				p
					img(src="./img/article.jpg", width="832" alt="img")
				figcaption.text-14 Источник: Esports High School
			p Школа нацелена на юных киберспортсменов, стримеров, блогеров и ютуберов, которые планируют профессионально работать в этих направлениях. Однако создатели отмечают, что программа разработана с целью дать ученикам возможность как продолжить карьеру в сфере киберспорта, так и свободно уйти в другую область.

			p Учебный план рассчитан на три года обучения и будет включать в себя набор стандартных предметов. Помимо этого, подростки будут посещать тренировки по киберспортивным дисциплинам в жанрах MOBA, шутеры от первого и третьего лица, а также стратегии в реальном времени.

			p Отдельное внимание будет уделено вопросам физического и морального здоровья, диетологии и другим аспектам здорового образа жизни. Обучением займутся бывшие и действующие киберспортсмены, а также работники индустрии.
		
		.article-icons-group.d-flex
			.icon-group
				span.icon-share
				span Поделиться