section.token-usage
	.container
		h2.section-title Использование токена
		.token-usage-cards.card-grid-duo
			//=====token-card =======
			.token-card
				.token-card-content
					.token-card-label A
					.token-card-text
						h4 Добыча игровой валюты
						p  При поставновке в пулы <br> для получения добытых игровых валют в GameFi проектах игроками Game Hotel.
					.token-card-img
						img(src="./img/token1.png", width="172" alt="alt")
			//=====token-card =======
			.token-card
				.token-card-content
					.token-card-label B
					.token-card-text
						h4 Обеспечение<br> ликвидности
						p  При поставновке в пулы <br> для получения добытых игровых валют в GameFi проектах игроками Game Hotel.
					.token-card-img
						img(src="./img/token2.png", width="172" alt="alt")
			//=====token-card =======
			.token-card
				.token-card-content
					.token-card-label C
					.token-card-text
						h4 Выплаты
						p  При поставновке в пулы <br> для получения добытых игровых валют в GameFi проектах игроками Game Hotel.
					.token-card-img
						img(src="./img/token3.png", width="172" alt="alt")
			//=====token-card =======
			.token-card
				.token-card-content
					.token-card-label D
					.token-card-text
						h4 Поощрение <br>игроков
						p  При поставновке в пулы <br> для получения добытых игровых валют в GameFi проектах игроками Game Hotel.
					.token-card-img
						img(src="./img/token4.png", width="172" alt="alt")