.container
	.edu-header

.container
	h2 Course menu sidebar
	.course-menu
		//======= header Course menu sidebar =============
		.course-menu-header
			.course-menu-header__left
				a(href="#!").arrow-back
				.course-menu-game.text-16
					p Axie Infinity
			.course-menu-header__right
				.badge.badge--light Базовый курс
		.course-menu-body
			.course-menu-top
				.course-menu-left
					img(src="../img/games/axie-logo.png", width="100" alt="alt")
				.course-menu-right
					.point-block
						.text-18.text-bold
							p 223
						.text-14
							p Баллов эксперта
			//======= progress bar =============
			.course-menu-progress
				.progress-block
					.progress-block-text
						p Идет обучение
					.progress-block-line
						.progress-block-bar
							span 50%

			include _edu-accor