.container
	//=====Работа===
	button
		span
			.label
				span 1
			svg.play-svg
				use(xlink:href="./img/svg-sprite.svg#iconBatl")
		span Работа
	
	//=====Добыча===
	button
		span
			svg.play-svg
				use(xlink:href="./img/svg-sprite.svg#iconResourse")
		span Добыча
	
	//=====Курсы===
	button
		span
			svg.play-svg
				use(xlink:href="./img/svg-sprite.svg#iconEdu")
		span Курсы