mixin edu-card(title, logo, med, medImg)
	a(href="#!").edu-card
		.edu-card__left
			img(src="./img/education/"+ logo +".png", width="128" alt="alt")
		.edu-card__right
			.edu-card__title
				.text-13
					p Базовый курс
				.text-16.text-bold
					h4 #{title}
			.edu-card__body
				.edu-card__body-img
					img(src="./img/sertificate/"+ medImg +".svg", width="30" alt="alt")
				.edu-card__body-text
					.text-13
						p Certificate
						.tooltip-box
							span.info-icon i
							.tooltip-box-content
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
					.text-bold.text-14
						p #{med}
			.edu-card__footer
				.button.h-40 Пройти курс

article.edu-cards
	.grid-column-2.edu-cards-wrapper
		.edu-card-yellow
			+edu-card('Axie Infinity', 'axie', 'Gold', 'gold')
		.edu-card-olive
			+edu-card('Crypto Snake', 'snake', 'Bronze', 'bronze')
		.edu-card-lightgreen
			+edu-card('Monsta Infinite', 'monsta', 'Bronze', 'bronze')
		.edu-card-grey
			+edu-card('Fara Land', 'fara', 'Silver', 'silver')
		.edu-card-pink
			+edu-card('Kaby Arena', 'kaby', 'Silver', 'silver')
		.edu-card-lightblue
			+edu-card('Thetan Arena', 'thetan', 'Gold', 'gold')
		
		