.cabinet-header
	.container
		.cabinet-header-content
			.cabinet-header__balance
				.cabinet-header__logo
					img(src="./img/coin-logo.svg", width="44" alt="coin-logo")
				.cabinet-header__total
					p $118.53
					span Баланс
			.cabinet-header__drop
			.cabinet-header__btn
			.cabinet-header__info
	