#overlay
.container
	.wr(style="margin-bottom:40px;")
		.accounts
			.flex-header
				h2.text-24 Аккаунты
				.flex-header-col.d-flex
					.switch-inner
						label.switch-item
							input(type="checkbox")
							span
							span
							| Только доступные мне
					.custom-select.custom-select--light.custom-select--abs
						.select-icon
							svg(width="10" height="6")
								use(xlink:href="./img/svg-sprite.svg#iconArr")
						.select-field
							input(type="text" value="Все игры" readonly)
						.select-list.select-list--flex
							ul
								li.current(data-role="Ru") Все игры
								li(data-role="Axie Infinity")
									span Axie Infinity
									img(src="./img/games/axie-logo.png", width="60" alt="img")
									
								li(data-role="Crypto Snake")
									span Crypto Snake
									img(src="./img/games/axie-logo.png", width="60" alt="img")
									
								li(data-role="Ember Sword")
									span Ember Sword
									img(src="./img/games/axie-logo.png", width="60" alt="img")
									
								li(data-role="FaraLand")
									span FaraLand
									img(src="./img/games/axie-logo.png", width="60" alt="img")
									
	.wr(style="margin-bottom:40px;")
		.tabs-wrapper
			.tabs-header
				.tabs
					.tab
						p Вкладка 1
					.tab
						p Вкладка 2
					.tab
						p Вкладка 3
				.tab-options
					//======выпадашка filter-list ====
					.filter-list-wrapper.custom-dropdown
						.custom-dropdown__icon
							span.filer-list
						.custom-dropdown__field
						//====выпадающий список =====
						.custom-dropdown__wrapper
							.custom-dropdown__list
								//====элемент списка =====
								.custom-dropdown__list-item
									p На карту
								//====элемент списка =====
								.custom-dropdown__list-item.current
									p В токене Ghot
								//====элемент списка =====
								.custom-dropdown__list-item
									p На Metamask
					
					//======выпадашка три точки ====
					.options-block.custom-dropdown
						.custom-dropdown__icon
							span.dotted-icon
						.custom-dropdown__field
						//====выпадающий список =====
						.custom-dropdown__wrapper
							.custom-dropdown__list
								//====элемент списка =====
								.custom-dropdown__list-item
									p На карту
								//====элемент списка =====
								.custom-dropdown__list-item.current
									p В токене Ghot
								//====элемент списка =====
								.custom-dropdown__list-item
									p На Metamask
			.tab_content
				.tab_item Содержимое 1
				.tab_item Содержимое 2
				.tab_item
					.table.replacement-accounts
						table
							//====заголовочная строка =====
							tr
								th.id-col
									.form-checkbox
										label
											input(type="checkbox" name="")
											span.fake-checkbox
											span ID
								th.games-col
									p Игра
								th.result-col
									p Награда
								th.ntf-col.icon-cell
									span.sort-icon
									span NTF
								th.range-col.icon-cell
									span.sort-icon
									span Рейтинг
								th.replacement-date.icon-cell
									span.sort-icon
									span Дата замены
								th.btn-col
									
							//====строка с контентом =====
							tr
								td.id-col
									.form-checkbox
										label
											input(type="checkbox" name="")
											span.fake-checkbox
											span ID
								td.games-col
									img(src="./img/games/axie-logo.png", width="80" alt="img")
								td.result-col.text-bold
									p $ 1,5 за 1 SLP / 30% за AXS
								td.ntf-coldd
									p.account-badge 2 ед.
								td.range-cold
									p 1 место
								td.replacement-dated
									p 7 января
								td.btn-col
									.button.button--color Подменить

							//====строка с контентом =====
							tr
								td.id-col
									.form-checkbox
										label
											input(type="checkbox" name="")
											span.fake-checkbox
											span ID
								td.games-col
									img(src="./img/games/axie-logo.png", width="80" alt="img")
								td.result-col.text-bold
									p $ 1,5 за 1 SLP / 30% за AXS
								td.ntf-coldd
									p.account-badge 2 ед.
								td.range-cold
									p 2 место
								td.replacement-dated
									p 17 января
								td.btn-col
									.button.button--color Подменить
				


		
	.wr(style="margin-bottom:40px;")
		.account-badge
			span.copy-icon
			span.account-input  AxieHotel281
		.account-badge
			span.copy-icon
			input(type="password" value="password111111" size="8").account-input
	.wr(style="margin-bottom:40px;")
		.form-checkbox
			label
				input(type="checkbox" name="")
				span.fake-checkbox
				span label text

	.wr(style="margin-bottom:40px;")
		.form-radio
			label
				input(type="radio" name="")
				span.fake-radio
				span label text
	.wr(style="margin-bottom:40px;")
		label.switch-item
			input(type="checkbox")
			span
			span
	.wr(style="margin-bottom:40px;")
		.filter-btn-block
			.filter-btn по популярности
			.filter-btn по популярности
			.filter-btn.active по новизне
.task-board-wrapper
	//=======одна карточка ======
	.task-board
		.task-board-column.task-board-column--queueing
			.task-board-column__title
				.badge.badge--white 3
				h4 В очереди
			.task-board-list
				//=======task card =======
				.task-card
					.task-card__head
						.task-card-badge Начать до #[span 14:00]
						.task-card-options
					.task-card__body
						.task-card-title 10 побед в Arena (PvP)
						.task-card-timeCounter Задача на #[span 1 ч 20 мин]
						.task-card-deskrip
							p Возможное описание задачи что надо зайти в игру и пробить PVP или иные пояснения...
					.task-card__footer
						.task-card__footer-col
								.task-card__logo
									img(src="./img/games/ember-logo.png", width="80" alt="img")
						.task-card__footer-col
							.task-card__footer-spans
								span от 
								span $8
							a(href="#!").task-card-state
								span Go
								svg(width="20" height="20")
									use(xlink:href="./img/svg-sprite.svg#arrRight")
				//=======task card =======
				.task-card
					.task-card__head
						.task-card-badge Начать до 14:00
						.task-card-options
					.task-card__body
						.task-card-title 10 побед в Arena (PvP)
						.task-card-timeCounter Задача на #[span 1 ч 20 мин]
						.task-card-deskrip
							p Возможное описание задачи что надо зайти в игру и пробить PVP или иные пояснения...
					.task-card__footer
						.task-card__footer-col
								.task-card__logo
									img(src="./img/games/thetan-logo.png", width="80" alt="img")
						.task-card__footer-col
							.task-card__footer-spans
								span от 
								span $8
							a(href="#!").task-card-state
								span Go
								svg(width="20" height="20")
									use(xlink:href="./img/svg-sprite.svg#arrRight")

		.task-board-column.task-board-column--process
			.task-board-column__title
				.badge.badge--white 1
				h4 В процессе
			.task-board-list
				//=======task card =======
				.task-card
					.task-card__head
						.task-card-badge Осталось #[span 40 мин 32 сек]
						.task-card-options
					.task-card__body
						.task-card-title 10 побед в Arena (PvP)
						.task-card-timeCounter Задача на #[span 1 ч 20 мин]
						.task-card-deskrip
							p Возможное описание задачи что надо зайти в игру и пробить PVP или иные пояснения...
					.task-card__footer
						.task-card__footer-col
								.task-card__logo
									img(src="./img/games/kaby-logo.png", width="80" alt="img")
						.task-card__footer-col
							.task-card__footer-spans
								span от
								span $8
							a(href="#!").task-card-state
								svg(width="16" height="12")
									use(xlink:href="./img/svg-sprite.svg#checkIcon")
								span Done
		.task-board-column.task-board-column--done
			.task-board-column__title
				.badge.badge--white 1
				h4 Выполнено
			.task-board-list
				//=======task card =======
				.task-card
					.task-card__head
						.task-card-badge Выполнено за #[span  30 минут]
						.task-card-options
					.task-card__body
						.task-card-title 10 побед в Arena (PvP)
						.task-card-timeCounter Задача на #[span 1 ч 20 мин]
						.task-card-deskrip
							p Возможное описание задачи что надо зайти в игру и пробить PVP или иные пояснения...
					.task-card__footer
						.task-card__footer-col
								.task-card__logo
									img(src="./img/games/axie-logo.png", width="80" alt="img")
						.task-card__footer-col
							.task-card__footer-spans
								span +
								span $12

		.task-board-column.task-board-column--notcompleted
			.task-board-column__title
				.badge.badge--white 1
				h4 Не выполнено
			.task-board-list
				//=======task card =======
				.task-card
					.task-card__head
						.task-card-badge Выполнено за #[span  30 минут]
						.task-card-options
					.task-card__body
						.task-card-title 10 побед в Arena (PvP)
						.task-card-timeCounter Задача на #[span 1 ч 20 мин]
						.task-card-deskrip
							p Возможное описание задачи что надо зайти в игру и пробить PVP или иные пояснения...
					.task-card__footer
						.task-card__footer-col
								.task-card__logo
									img(src="./img/games/fara-logo.png", width="80" alt="img")
						.task-card__footer-col
							.task-card__footer-spans
								span +
								span $12
							