.flex-wrapper
	.certificate-card.certificate-card--lux
		.certificate-card__header
			img(src="./img/games/axie-logo.png", width="104" alt="alt")
		.certificate-card__body
			img(src="./img/sertificate/lux.svg", height="72" alt="alt")
			.text-16
				p #[span Lux] Certificate
			.text-13
				p Game Hotel
		.certificate-card__footer
			.button.button--white.button--flex
				svg.nft-icon
					use(xlink:href="./img/svg-sprite.svg#nftIcon")
				span Выпустить NFT

	.certificate-card.certificate-card--comfort
		.certificate-card__header
			img(src="./img/games/axie-logo.png", width="104" alt="alt")
		.certificate-card__body
			img(src="./img/sertificate/comfort.svg", height="72" alt="alt")
			.text-16
				p #[span Comfort] Certificate
			.text-13
				p Game Hotel
		.certificate-card__footer
			.button.button--flex.button.button--green
				svg.nft-icon
					use(xlink:href="./img/svg-sprite.svg#nftIcon")
				span Выпустить NFT

	.certificate-card.certificate-card--standart
		.certificate-card__header
			img(src="./img/games/axie-logo.png", width="104" alt="alt")
		.certificate-card__body
			img(src="./img/sertificate/standart.svg", height="72" alt="alt")
			.text-16
				p #[span Standart] Certificat
			.text-13
				p Game Hotel
		.certificate-card__footer
			.button.button--flex.button--white
				svg.nft-icon
					use(xlink:href="./img/svg-sprite.svg#nftIcon")
				span Выпустить NFT

//========Поздравляем ======
.congrat-result
	.congrat-result__img
		img(src="./img/sertificate/stars.png", width="190" alt="alt")
	.congrat-result__text
		.text-13
			p Баллы экспертности
		.text-24
			p 2 546

.congrat-reward
	.congrat-reward__col
		img(src="./img/sertificate/labelgh.svg", alt="alt")
	.congrat-reward__col
		.text-13
			p Ваша награда
		.text-24
			p #[strong LUX] Certificat
	.congrat-reward__col
		img(src="./img/sertificate/lux.svg", alt="alt")