//================ui==========
.container
	.button Купить $Hotel
	.button--color.button Купить $Hotel
	.button--color.button.button--flex
		svg( width="16" height="16")
			use( xlink:href="./img/svg-sprite.svg#icon-pool")
		span Купить $Hotel
	.btn-group
		.btn-group__img
			img(src="./img/gamepad.png", width="80" alt="img")
		.button--color.button Стать игроком

.card-light
	.card-light__head
		h4 Легальный найм
		span 01
	.card-light__text