//================ui==========
.container
	
	
	.button Купить $Hotel
	.wr(style="margin-bottom:40px;")
		.button--color.button Купить $Hotel
		p .button--color.button
	.wr(style="margin-bottom:40px;")
		.button--color.button.button--flex
			svg( width="16" height="16")
				use( xlink:href="./img/svg-sprite.svg#icon-pool")
			span Купить $Hotel
		pre.
			.button--color.button.button--flex
				svg( width="16" height="16")
					use( xlink:href="./img/svg-sprite.svg#icon-pool")
				span Купить $Hotel
	.wr(style="margin-bottom:40px; ")
		.btn-group
			.btn-group__img
				img(src="./img/gamepad.png", width="80" alt="img")
			.button--color.button Стать игроком
		pre.
			.btn-group
				.btn-group__img
					img(src="./img/gamepad.png", width="80" alt="img")
				.button--color.button Стать игроком
	.wr(style="margin-bottom:40px;")
		button.button.button-light Button
		p .button.button-light
	
	.wr(style="margin-bottom:40px;")
		button.button.button--pink Button
		p .button.button--pink
	.wr(style="margin-bottom:40px;")
		button.button.button--pink.button--label
			span Научиться играть
			span Free
		p .button.button--pink.button--label

	.wr(style="margin-bottom:40px;")
		button.button.button--label.button--white
			span Научиться играть
			span Free
		p .button.button--label.button--white

	.wr(style="margin-bottom:40px;")
		.nav-list
			nav
				a(href="#!") Описание
				a(href="#!").active Как заработать
				a(href="#!") Как играть
				a(href="#!") Классы
				a(href="#!") Локации
				a(href="#!") PvE
				a(href="#!") PvP
				a(href="#!") Игровые карты
	.wr(style="margin-bottom:40px;")
		.button.button--color.button-icon
			span Войти
			svg(width="16" height="16")
	.wr(style="margin-bottom:40px;")
		.card-light
			.card-light__head
				h4 Легальный найм
				span 01
			.card-light__text
	.wr(style="margin-bottom:40px;")
		.form-field
			span.form-field-icon
				svg.phone-svg
					use(xlink:href="./img/svg-sprite.svg#phoneSvg")
			input(type="text")
	.wr(style="margin-bottom:40px;")
		.profile-panel
			.profile-icon
				.icon-notify
					p.label
						span 2
			.profile-persone
				.profile-persone__img
					img(src="./img/ava.png", width="38" alt="ava")
				.profile-persone__arrow#profile-arrow
					svg(width="10" height="6")
						use(xlink:href="./img/svg-sprite.svg#iconArr")
				.profile-persone__row
					p 0x...263a
				.profile-persone__drop#profile-menu

	.wr(style="margin-bottom:40px;")
		.hero-card
			.hero-card__img
				img(src="./img/aboutGame/hero-1.png", width="128" alt="alt")
			.hero-card__text
				h4.text-15 Aquantic
				ul
					li
						span.text-grey Здоровье
						span.text-green 45,
					li
						span.text-grey Скорость
						span.text-green 57,
					li
						span.text-grey Навык
						span.text-green 35,
					li
						span.text-grey Мораль
						span.text-green 27
	.wr(style="margin-bottom:40px;")
		a(href="#!").bg-link Показать еще
						