//================ui==========
.container
	.wr(style="margin-bottom:40px;")
		.filter-btn-block
			.filter-btn по популярности
			.filter-btn.active по новизне
		pre.
			.filter-btn-block
				.filter-btn по популярности
				.filter-btn.active по новизне
	.wr(style="margin-bottom:40px;")
		.button--square
			svg( width="16" height="16")
				use( xlink:href="./img/svg-sprite.svg#icon-pool")
	.wr(style="margin-bottom:40px;")
		.button--color.button Купить $Hotel
		p .button--color.button
	.wr(style="margin-bottom:40px;")
		.button--color.button.button--flex
			svg( width="16" height="16")
				use( xlink:href="./img/svg-sprite.svg#icon-pool")
			span Купить $Hotel
		pre.
			.button--color.button.button--flex
				svg( width="16" height="16")
					use( xlink:href="./img/svg-sprite.svg#icon-pool")
				span Купить $Hotel
	.wr(style="margin-bottom:40px;")
		a(href="#!").bg-link Показать еще
	.wr(style="margin-bottom:40px; ")
		.btn-group
			.btn-group__img
				img(src="./img/gamepad.png", width="80" alt="img")
			.button--color.button Стать игроком
		pre.
			.btn-group
				.btn-group__img
					img(src="./img/gamepad.png", width="80" alt="img")
				.button--color.button Стать игроком
	.wr(style="margin-bottom:40px;")
		button.button.button-light Button
		p .button.button-light
	.wr(style="margin-bottom:40px;")
		button.button.button-light.button--flex
			span Купить $Hotel Button
			svg(width="16" height="16")
				use(xlink:href="./img/svg-sprite.svg#arrRight")
			
		pre.
			button.button.button-light.button--flex
				span Купить $Hotel Button
				svg( width="16" height="16")
					use( xlink:href="./img/svg-sprite.svg#icon-pool")
				
	.wr(style="margin-bottom:40px;")
		button.button.button--pink Button
		p .button.button--pink
	.wr(style="margin-bottom:40px;")
		button.button.button--pink.button--label
			span Научиться играть
			span Free
		p .button.button--pink.button--label

	.wr(style="margin-bottom:40px;")
		button.button.button--label.button--white
			span Научиться играть
			span Free
		p .button.button--label.button--white

	.wr(style="margin-bottom:40px;")
		.nav-list
			nav
				a(href="#!") Описание
				a(href="#!").active Как заработать
				a(href="#!") Как играть
				a(href="#!") Классы
				a(href="#!") Локации
				a(href="#!") PvE
				a(href="#!") PvP
				a(href="#!") Игровые карты
	.wr(style="margin-bottom:40px;")
		.button.button--color.button--flex
			span Войти
			svg(width="16" height="16")
				use(xlink:href="./img/svg-sprite.svg#arrRight")
	.wr(style="margin-bottom:40px;")
		.card-light
			.card-light__head
				h4 Легальный найм
				span 01
			.card-light__text
	.wr(style="margin-bottom:40px;")
		.form-field
			span.form-field-icon
				svg.phone-svg
					use(xlink:href="./img/svg-sprite.svg#phoneSvg")
			input(type="text")
	.wr(style="margin-bottom:40px;")
		.profile-panel
			.profile-icon
				.icon-notify
					p.label
						span 2
			.profile-persone
				.profile-persone__img
					img(src="./img/ava.png", width="38" alt="ava")
				.profile-persone__arrow#profile-arrow
					svg(width="10" height="6")
						use(xlink:href="./img/svg-sprite.svg#iconArr")
				.profile-persone__row
					p 0x...263a
				.profile-persone__drop#profile-menu

	.wr(style="margin-bottom:40px;")
		.hero-card
			.hero-card__img
				img(src="./img/aboutGame/hero-1.png", width="128" alt="alt")
			.hero-card__text
				h4.text-15 Aquantic
				ul
					li
						span.text-grey Здоровье
						span.text-green 45,
					li
						span.text-grey Скорость
						span.text-green 57,
					li
						span.text-grey Навык
						span.text-green 35,
					li
						span.text-grey Мораль
						span.text-green 27
	
	
	.wr(style="margin-bottom:40px;")
		.flex-header
			h3.text-24 Игровые карты
			a(href="#!").button.button--pink Перейти в каталог
		pre.
			.flex-header
				h3.text-24 Игровые карты
				a(href="#!").button.button--pink Перейти в каталог

	.wr(style="margin-bottom:40px;")
		.flex-header
			.text-group
				span.badge.badge--green 8.9
				h1.main-title Axie Infinity
			
			.about-game__logo
				img(src="./img/aboutGame/game-logo.png", width="82" alt="alt")
		pre.
			.flex-header
				.flex-header
					.text-group
						span.badge.badge--green 8.9
						h1.main-title Axie Infinity
					
					.about-game__logo
						img(src="./img/aboutGame/game-logo.png", width="82" alt="alt")
	.wr(style="margin-bottom:40px; overflow:hidden;")
		.header-text
			h3.text-24 Новости
			p.text-18 Статьи
		pre.
			.header-text
				h3.text-24 Новости
				p.text-18 Статьи	
	.wr(style="margin-bottom:40px; overflow:hidden; width:260px")
		+game-card-large('8.9', 'Axie Infinity', 'Пошаговая, карточная', 'axie-card','game-logo', 'Ранний доступ')
	.wr(style="margin-bottom:40px; overflow:hidden; width:376px;")
		+game-card-medium('8.9', 'Axie Infinity', 'Пошаговая, карточная','favor-card', 'game-logo')
		pre.
			+game-card-large('8.9', 'Axie Infinity', 'Пошаговая, карточная','axie-card', 'game-logo', 'Ранний доступ')
	.wr(style="margin-bottom:40px; overflow:hidden; ")
		a(href="#!").action-card
			.action-card-img(style="background: #F3EAFF url(./img/action-card1.jpg)")
			.action-card-content
				p.text-20 Обучение и гайды от GameFI
				p.text-15 Game Hotel подготовил подробные гайды<br> по всем играм, доступным на платформе
			.action-card-arrow
		a(href="#!").action-card
			.action-card-img(style="background: #F3EAFF url(./img/action-card2.jpg)")
			.action-card-content
				p.text-20 Новости GameFI
				p.text-15 Будьте в курсе происходящего в мире блокчейна.<br> Рассказываем о самом важном и интересном
			.action-card-arrow

	
	.wr(style="margin-bottom:40px;")
		.gradient-text
			h1 Gradient text
			pre.
				.gradient-text
					h1 Gradient text
	.wr(style="margin-bottom:40px; background-color: blue;")
		+game-card-category('axie', 'Axie Infinity')
		pre.
			+game-card-category(imgSrc, title)

	.wr(style="margin-bottom:40px; max-width:376px;")
		.game-card__info
			.game-card__body
				.game-card__title
					span.badge.badge--green 8.9
					h4.text-15 Axie Infinity
				p.text-14 Пошаговая, карточная
			.game-card__footer
				img(src="./img/aboutGame/game-logo.png", width="82" alt="alt")
				span.button.button-light.button--flex
					span Изучить
					svg(width="16" height="16")
						use(xlink:href="./img/svg-sprite.svg#arrRight")
	.wr(style="margin-bottom:40px; overflow:hidden;")
		.flex-header
			h3.text-24 Локации
			//==========slider btn ========
			.slider-btn-wrapper
				.game-news-next.slider-btn-next
				.game-news-prev.slider-btn-prev
		
		.game-news
			.game-news-cards.gn-cards-full.swiper
				.swiper-wrapper
					//=======one card ======
					a(href="#!").card-light.card-light--pic.swiper-slide
						.card-light__img
							img(src="./img/game-news1.jpg", width="104" height="104" alt="alt")
						.card-light__text
							h4 Киберспорт
							p Победа Natus Vincere в заветном мейджоре и влия...
							.card-light__details
								p 14.10.2021
								span
					//=======one card ======
					a(href="#!").card-light.card-light--pic.swiper-slide
						.card-light__img
							img(src="./img/game-news2.jpg", width="104" height="104" alt="alt")
						.card-light__text
							h4 Секреты лучших
							p Обсуждаем с про игроком секреты тактики в Axie...
							.card-light__details
								p 14.10.2021
								span
					//=======one card ======
					a(href="#!").card-light.card-light--pic.swiper-slide
						.card-light__img
							img(src="./img/game-news3.jpg", width="104" height="104" alt="alt")
						.card-light__text
							h4 JRPG и Game Fi
							p Как Япония оказывает влияние на индустрию...
							.card-light__details
								p 14.10.2021
								span
					//=======one card ======
					a(href="#!").card-light.card-light--pic.swiper-slide
						.card-light__img
							img(src="./img/game-news1.jpg", width="104" height="104" alt="alt")
						.card-light__text
							h4 Киберспорт
							p Победа Natus Vincere в заветном мейджоре и влия...
							.card-light__details
								p 14.10.2021
								span
					//=======one card ======
					a(href="#!").card-light.card-light--pic.swiper-slide
						.card-light__img
							img(src="./img/game-news2.jpg", width="104" height="104" alt="alt")
						.card-light__text
							h4 Секреты лучших
							p Обсуждаем с про игроком секреты тактики в Axie...
							.card-light__details
								p 14.10.2021
								span
					//=======one card ======
					a(href="#!").card-light.card-light--pic.swiper-slide
						.card-light__img
							img(src="./img/game-news3.jpg", width="104" height="104" alt="alt")
						.card-light__text
							h4 JRPG и Game Fi
							p Как Япония оказывает влияние на индустрию...
							.card-light__details
								p 14.10.2021
								span
								