@font-face {
	font-family: 'Montserrat Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat Semibold';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/OpenSans-Regular.eot');
	src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  html,
  body {
	margin: 0;
	padding: 0;
	color: $basic;
	font-family: $mr;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
  }
  .noscroll {
	overflow: hidden;
  }
  header.header, main{
	@media(min-width:1200px){
		margin-left: 72px;
	}
  }
   
  a,
  a:hover {
	text-decoration: none;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }
  figure {
	margin: 0;
  }
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  }
  
  input,
  button {
	outline: none;
  }
  label{
	  cursor:pointer;
  }
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
  #overlay{
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  background-color:  rgba(10, 5, 34, .72);
	  z-index: 25;
	  display: none;
	  &.active{display: block;}
  }

  input[type="radio"], input[type='checkbox'], input[type="submit"]{
	  appearance: none;
	  -moz-appearance: none;
  -webkit-appearance: none;
  }
.page-breadcrumb{
	margin-bottom: 24px;
	ul{
		display: flex;
		align-items: center;
		li{
			a{
				color: #0A0522;
				font-size: 13px;
				line-height: 20px;
				transition: .3s;
				position: relative;
			padding-right: 30px;
				&:after{
					content: '';
					background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.442505 8.435L3.8775 5L0.442505 1.5575L1.5 0.5L6 5L1.5 9.5L0.442505 8.435Z' fill='%233B4E6A'/%3e%3c/svg%3e");
					background-position: center;
					background-size: auto;
					background-repeat: no-repeat;
					width: 18px;
					height: 18px;
					right: 0;
					top: 1px;
					position: absolute;
					z-index:  2;
				}
				
			}
			&:hover{a{color:#3B4E6A;}}
		}
		li:last-child{
			a:after{
				display: none;
				padding-right: 12px;
			}
			a{
				pointer-events: none;
				cursor:default;
			}
		}
		li+li{
			padding-left: 12px;
		}
	}
}
.hidden-layout{
	display: none;
	@media(max-width:1199px){
		height: 64px;
		display: block;
	}
}
.main-title{
	font-size: 28px;
	line-height: 40px;
	color: #0A0522;
	font-family: $ms;

}
.title-3,
.section-title {
	  font-size: 32px;
  	 line-height: 1.375;
	   font-family: $ms;
	   @media(max-width:767px){
		   font-size: 20px;
		   line-height: 1.4;
	   }
}
.section-title--special{
	font-family: $mr;
	span {
		font-family: $ms;
	}
}
.section-title{
	margin-bottom: 56px;
	@media(max-width:767px){
		margin-bottom: 24px;
	}
}
.text-14 {
	font-size: 14px;
	line-height: 20px;
	font-family: $os;
}
.text-13{
	font-size: 13px;
	line-height: 20px;
}
.text-15,
.text-16{
	font-family: $ms;
	font-size: 16px;
	line-height: 1.5;
	color: #0A0522;
}
.text-15{font-size: 15px;}
.text-20, .text-20 p{
	font-size: 20px;
	line-height: 1.4;
	font-family: $mr;
}
.text-24,
.text-24 p,
.text-24 span,
.text-24 h2,
.text-24 h3{
	color: #0A0522;
	font-size: 24px;
	line-height: 1.5;
	font-family: $ms;
}
.text-32,
.text-32  p{
	font-size: 32px;
	line-height: 1.375;
	span{
		font-family: $ms;
	}
	@media(max-width:1023px){
		font-size: calc((100vw + 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
	}
	@media(max-width:767px) {
		font-size: 18px;
		line-height: 24px;
	}
}
.text-grey{
	color:#3B4E6A;
}
.text-link{
	color: #7256FF;
}
  .d-flex{
	  display: flex;
	  align-items: center;
	  
  }
.gradient-box {	
	$border: 8px;
	color: #fff;
	border-radius:10px;
	position: relative;
	padding: 2px;
	overflow:hidden;
	&__inner{
		z-index: 2; 
		background-color:#fff;
		position: relative;	
		border-radius: $border;
		
		
	}
	&:before {
		content: "";
		background: linear-gradient(to right, #739AF4, #D67EFF 22.07%, #739AF4 100.05%);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		border-radius: $border;
	}
}

// .round-bg{
// 	padding: 5px 8px;
// 	background-color: #EEF5FF;
// 	border-radius: 24px;
// }
.container{
	width: 100%;
	max-width: 1238px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@media(max-width:767px){
		padding-left: 24px;
		padding-right: 24px;
	}
	
}
.center-wrapper{
	display: flex;
	justify-content: center;
}
.mt-64{
	margin-top: 64px;
	@media(max-width:767px){margin-top: 44px;}
}
.mt-56	{
	margin-top: 56px;
}
.pt-48{
	padding-top: 48px;
}
.p-40{
	padding:40px;
}
.pt-40{padding-top: 40px;}
.flex-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.flex-header__text{
		width: 85%;
		max-width: 687px;
		@media(max-width:767px){
			width: 100%;
		}
	}
	.flex-header__btn{
		flex-shrink: 0;
		margin-left: 16px;
		@media(max-width:767px) {
			display: none;
		}
	}
}
svg.phone-svg{
	fill:#788CAB;
	width:20px;
	height:20px;
}
svg.twit-svg, svg.fb-svg,
svg.tg-svg{
	fill:#788CAB;
	
}
.text-column{
	flex-shrink: 0;
	.text-column__title {
		font-size: 28px;
		line-height: 1.43;
		font-family: $ms;
		@media(max-width:768px){
			font-size: 18px;
			white-space: nowrap;
		}
	}
	.text-column__deskrip {
		font-size: 15px;
		line-height: 1.6;
		padding-top: 12px;
	}
}
.label-text{
	.label-text__top{
		display: flex;
		align-items: flex-start;
		span{
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			padding-left: 8px;
			padding-right: 8px;
			border-radius: 16px;
			font-family: $ms;
			color: #FFFFFF;
			width: 50px;
			text-align: center;
		}
		p{
			font-family: $ms;
			color: #FFFFFF;
			font-size: 15px;
			line-height: 24px;
			margin-left: 16px;
		}
	}
	.label-text__bottom{
		padding-top: 8px;
		@media(max-width:1023px){
			padding-left: 65px;
		}
		p{
			font-family: $os;
			font-size: 14px;
			line-height: 20px;
			color: #FFFFFF;
		}
	}
}
.label-text.label-text--dashed{
	span{
		background: rgba(255, 255, 255, 0.2);		
		border: 1px dashed rgba(255, 255, 255, 0.7);
	}
}
.label-text.label-text--pink {
	span {
		background: #F169DC;
	}
}
.label-text.label-text--purple {
	span {
		background: #E83EC2;
	}
}
.label-text.label-text--blue {
	span {
		background: #2400FF;
	}
}
.label-text.label-text--aqua {
	span {
		background: #40E0EE;
	}
}
.label-text.label-text--red {
	span {
		background: #F73232;
	}
}
.label-text.label-text--broun {
	span {
		background: #DCA068;
		
	}
}
.label-text.label-text--lime{
	span {
		background: #6BBF18;
	}
}
.label-text.label-text--violet {
	span {
		background: #7256FF;
	}
}

.label-text.label-text--star,
.label-text.label-text--bull{
	.label-text__top{
		position: relative;
		padding-left: 25px;
		
		p{margin-left: 0;}
		&:before{
			content:'';
			position: absolute;
			top:5px;
			left: 0;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #F2CF68;
			;
		}
	}
}
.label-text.label-text--star .label-text__top:before {
	content: '\2605';
	color: #fff;
	background-color: transparent;
	font-size: 18px;
	top: 0;

}
.label-head{
	display: flex;
	align-items: center;
	margin-bottom: 22px;
	font-family: $ms;
	span{
		margin-right: 24px;
		padding-left: 8px;
		padding-right: 8px;
		color: #fff;
		background-color: #7256FF;
		font-size: 14px;
		line-height: 20px;
		border-radius: 16px;
	}
	h4{
		color: #0A0522;
		font-size: 18px;
		line-height: 24px;

	}	
}
.contact-icons{
	display: flex;
	a{
		display: flex;
		width: 32px;
		height: 32px;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		background: #EEF5FF;
		border-radius: 9px;
		border: 1px solid #EEF5FF;
		transition: .3s;
		&:hover{
			border-color: #788CAB;
			background-color: #fff;
		}
	}
	svg{
		width: 24px;
		height: 24px;
		@media(max-width:767px) {
			width: 20px;
			height: 20px;
		}
	}
	@media(max-width:767px){
		a+a{
			margin-left: 12px;
		}
	}
}
.contact-icons--vertical{
	position: absolute;
	right: 0;
	top: 39%;
	transform: translateY(-50%);
	z-index: 11;
	flex-direction: column;
	border: 1px solid #D4DFF1;
	border-right:0;
	border-radius: 12px 0px 0px 12px;
	background: #FFFFFF;
	overflow: hidden;
	a{
		background-color: #fff;
		width: 40px;
		height: 40px;
		border: none;
		border-radius: 0;
		&:nth-child(even){
			border-top: 1px solid #D4DFF1;
			border-bottom: 1px solid #D4DFF1;
		}
		&:hover{
			background-color: #eef5ff;
		}
	}
}
/***swiper pagination***/
.swiper {
	
	overflow: unset;
	
	padding: 0;
	
padding-bottom: 0;
	@media(max-width: 1023px){
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
		list-style: none;
		padding: 0;
		z-index: 1;
		padding-bottom: 0;
	}
}
.swiper-pagination{
	display: flex;
	justify-content: center;
	
	display: none;
	@media(max-width:767px){
		display: flex;
	}
}
.swiper-pagination-bullets.swiper-pagination-horizontal{bottom:10px;}
.card-grid-duo.swiper-wrapper,
.card-grid-trio.swiper-wrapper {
	@media(max-width:767px) {
		display: flex;
	}
}
.swiper-our-experts .card-grid-trio.swiper-wrapper,
.our-team .card-grid-trio.swiper-wrapper,
.road-map .card-grid-trio.swiper-wrapper,
.game-news-cards .card-grid-trio.swiper-wrapper,
.our-team__cards.swiper-wrapper {
	@media(max-width:1023px) {
		display: flex;
	}
}

.swiper-pagination-info,
.road-map .card-grid-trio.swiper-wrapper,
.game-news .card-grid-trio.swiper-wrapper,
.swiper-pagination-roadMap.swiper-pagination {
	@media(max-width:1023px) {
		display: flex;
	}
	
}
.swiper-pagination-bullet,
.swiper-pagination-bullet:active,
.swiper-pagination-bullet:focus {
	outline:none;
}
.swiper-pagination-info{
	.swiper-pagination-bullet {
		background: #fff;
		opacity: 1;
	}

	.swiper-pagination-bullet-active {
		background: #7256FF;
	}
	
}
.swiper-wrapper{
	padding-bottom: 40px;
}
