@font-face {
	font-family: 'Montserrat Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat Semibold';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans Regular';
	src: url('../fonts/OpenSans-Regular.eot');
	src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  html,
  body {
	margin: 0;
	padding: 0;
	color: $basic;
	font-family: $mr;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
  }
  .noscroll {
	overflow: hidden;
  }
  header, main{
	@media(min-width:1200px){
		margin-left: 72px;
	}
  }
 
  a,
  a:hover {
	text-decoration: none;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }
  figure {
	margin: 0;
  }
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  }
  
  input,
  button {
	outline: none;
  }
  label{
	  cursor:pointer;
  }
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
  
  section {
	// padding-left: 16px;
	// padding-right: 16px;
	position: relative;
	padding-top: 80px;
	padding-bottom: 96px;
	@media(max-width:767px){
		padding-top: 32px;
		padding-bottom: 67px;
	}
  }
  input[type="radio"], input[type='checkbox'], input[type="submit"]{
	  appearance: none;
	  -moz-appearance: none;
  -webkit-appearance: none;
  }
.title-3,
.section-title {
	  font-size: 32px;
  	 line-height: 1.375;
	   font-family: $ms;
	   @media(max-width:767px){
		   font-size: 20px;
		   line-height: 1.4;
	   }
}
.section-title--special{
	font-family: $mr;
	span {
		font-family: $ms;
	}
}
.section-title{margin-bottom: 56px;}
.text-20, .text-20 p{
	font-size: 20px;
	line-height: 1.4;
	font-family: $mr;
}
.text-32,
.text-32  p{
	font-size: 32px;
	line-height: 1.375;
	span{
		font-family: $ms;
	}
	@media(max-width:1023px){
		font-size: calc((100vw + 30rem)/(80 - 30) * (1.5 - 1) + 1rem);
	}
	@media(max-width:767px) {
		font-size: 18px;
		line-height: 24px;
	}
}
  .d-flex{
	  display: flex;
	  align-items: center;
	  
  }
.round-bg{
	padding: 5px 8px;
	background-color: #EEF5FF;
	border-radius: 24px;
}
.container{
	width: 100%;
	max-width: 1238px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	@media(max-width:767px){
		padding-left: 24px;
		padding-right: 24px;
	}
	
}
.mt-64{
	margin-top: 64px;
}
.mt-56	{
	margin-top: 56px;
}
.flex-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.flex-header__text{
		width: 85%;
		max-width: 687px;
	}
	.flex-header__btn{
		flex-shrink: 0;
		margin-left: 16px;
	}
}
.text-column{
	flex-shrink: 0;
	.text-column__title {
		font-size: 28px;
		line-height: 1.43;
		font-family: $ms;
	}
	.text-column__deskrip {
		font-size: 15px;
		line-height: 1.6;
		padding-top: 12px;
	}
}
.label-text{
	.label-text__top{
		display: flex;
		span{
			font-weight: 600;
			font-size: 14px;
			line-height: 24px;
			padding-left: 8px;
			padding-right: 8px;
			border-radius: 16px;
			font-family: $ms;
			color: #FFFFFF;
		}
		p{
			font-family: $ms;
			color: #FFFFFF;
			font-size: 15px;
			line-height: 24px;
			margin-left: 16px;
		}
	}
	.label-text__bottom{
		padding-top: 8px;
		p{
			font-family: $os;
			font-size: 14px;
			line-height: 20px;
			color: #FFFFFF;
		}
	}
}
.label-text.label-text--dashed{
	span{
		background: rgba(255, 255, 255, 0.2);		
		border: 1px dashed rgba(255, 255, 255, 0.7);
	}
}
.label-text.label-text--pink {
	span {
		background: #F169DC;
	}
}
.label-text.label-text--purple {
	span {
		background: #E83EC2;
	}
}
.label-text.label-text--blue {
	span {
		background: #2400FF;
	}
}
.label-text.label-text--aqua {
	span {
		background: #40E0EE;
	}
}
.label-text.label-text--red {
	span {
		background: #F73232;
	}
}
.label-text.label-text--green {
	span {
		background: #339FAD;
		
	}
}
.label-text.label-text--lime{
	span {
		background: #6BBF18;
	}
}
.label-text.label-text--violet {
	span {
		background: #7256FF;
	}
}

.label-text.label-text--star,
.label-text.label-text--bull{
	.label-text__top{
		position: relative;
		padding-left: 20px;
		p{margin-left: 0;}
		&:before{
			content:'';
			position: absolute;
			top:5px;
			left: 0;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: #F2CF68;
			;
		}
	}
}
.label-text.label-text--star .label-text__top:before {
	content: '\2605';
	color: #fff;
	background-color: transparent;
	font-size: 18px;
	top: 0;

}
.label-head{
	display: flex;
	align-items: center;
	margin-bottom: 22px;
	font-family: $ms;
	span{
		margin-right: 24px;
		padding-left: 8px;
		padding-right: 8px;
		color: #fff;
		background-color: #7256FF;
		font-size: 14px;
		line-height: 20px;
		border-radius: 16px;
	}
	h4{
		color: #0A0522;
		font-size: 18px;
		line-height: 24px;

	}
	
}