.button-medium,
.filter-btn,
.button-link,
.button{
	padding: 0;
	cursor:pointer;
	display: inline-block;
	outline: none;
	padding-left: 16px;
	padding-right: 16px;
	height: 44px;
	line-height: 42px;
	font-size: 14px;
	background: transparent;
	border: 1px solid #ffffff;
	border-radius: 12px;
	color: #ffffff;
	transition: .2s;
	white-space: nowrap;
	font-family: $ms;
	&:focus{
		outline: none ;
	}
	&:hover{
		opacity: .7;
	}
}
.button-link{
	height: 24px;
	line-height: 22px;
	color: $pr;
	background-color: $light;
}
.filter-btn,
.button-medium{
	height: 36px;
	line-height: 34px;
	border-radius: 9px;
}
.button.h-40 {
height: 40px;
line-height: 38px;
border-radius: 9px;
}
.filter-btn{
	border-color:#C8D2E1;
	background: #EEF5FF;
	color: #7256FF;
	font-family: $mr;
	position: relative;
	transition: .3s;
	display: inline-block;
	border: 1px solid #D8E1EF;
	p{position: relative;
	}
	p:after {
		content:'';
		position: absolute;
		left: 0;
		width: 0;
		bottom: 2px;
		height: 2px;
		background-color: transparent;
		transition: .3s;
	}
	&.active {
		background-color: #fff;
		
		p{
			text-shadow: 0.5px 0.3px 0px #E857D1,
		-0.5px -0.3px 0px #E857D1;
		color: #E857D1;
		}
		
		p:after {
			width: 100%;
			background-color: #E857D1;
		}

		

		
	}
}

.button-light{
background: #EEF5FF;
svg{fill: $pr;}
span{color: $pr;}
color: #7256FF;
border-color: #EEF5FF;
&:hover{
opacity: .7;
	}
}
.button--color {
	background: #7256FF;
	border: 1px solid #7256FF;
	color: #ffffff;
	&:hover{
	opacity: .7;
		
	}
}

.button--color span +svg{
	fill: #ffffff;
	margin-left: 14px;
}
.button--color svg +span {
	fill: #ffffff;
	margin-right: 14px;
}
.button--color:hover svg {
	fill:#fff;

}
.button--flex{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	span+span,
	span+svg,
	svg + span{
		margin-left: 12px;
	}
	
}
.btn-group{
	position: relative;
	padding-left: 70px;
	flex-shrink: 0;
	&__img{	
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
	}
}
.button--pink {
	background-color: #E857D1;
	border-color: #E857D1;
	color: #fff;

	&:hover {
		opacity: .7;
	}
}

.button--white {
	background-color: #fff;
	color: $pr;
	border-color: #fff;

	&:hover {
		opacity: .7;
	}
}
svg#arrRight{
	fill:#7256FF;
}
.button.button-icon{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	svg{
		fill:#fff;
		margin-left: 12px;
		margin-right: 0;
	}
}
.button--label{
	display: flex;
	align-items: center;
	justify-content: center;
	span +span{
		margin-left: 12px;
		color: #E857D1;
		font-size: 13px;
		font-family: $os;
		background-color: #fff;
		padding-left: 8px;
		padding-right: 8px;
		height: 20px;
		line-height: 20px;
		border-radius: 16px;
	}
}
.button--label .button--label--color{
	span+span {color: $pr;}
}
.button--label.button--white{
	span+span {
		color: #fff;
		background-color: $pr;
	}
}
.button--square{
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $light;
	svg{fill: $pr;}
	color: $pr;
}
.button-light.disable{
	color: rgba(59, 78, 106, .5);
}
.button--grey{
background: #788CAB;
color: #fff;
text-align: center;	
}
.button--turqu {
	background-color: #45E4E4;
	color: #3B4E6A;
}
.button--green {
	color: #fff;
	background-color: #33A661;
	}
