.button{
	padding: 0;
	cursor:pointer;
	display: inline-block;
	outline: none;
	padding-left: 16px;
	padding-right: 16px;
	height: 44px;
	line-height: 42px;
	font-size: 14px;
	background: transparent;
	border: 1px solid #ffffff;
	border-radius: 12px;
	color: #ffffff;
	transition: .2s;
	white-space: nowrap;
	font-family: $ms;
	&:focus{
		outline: none ;
	}
	&:hover{
		opacity: .7;
	}
	
}
.button-light{
background: #EEF5FF;
svg{fill: $pr;}
span{color: $pr;}
color: #7256FF;
border-color: #EEF5FF;
&:hover{
border-color: $pr;
background: $pr;
	svg {
		fill: #fff;
	}

	span {
		color: #fff;
	}
	}
}
.button--color {
	background: #7256FF;
	border: 1px solid #7256FF;
	color: #ffffff;
	&:hover{
	opacity: .7;
		
	}
}

.button--color svg{
	fill: #ffffff;
	margin-right: 14px;
}
.button--color:hover svg {
	fill:#fff;

}
.button--flex{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	svg{
		margin-right: 12px;
	}
}
.btn-group{
	position: relative;
	padding-left: 70px;
	flex-shrink: 0;
	&__img{	
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		z-index: 2;
	}
}
.button--pink {
	background-color: #E857D1;
	border-color: #E857D1;
	color: #fff;

	&:hover {
		opacity: .7;
	}
}

.button--white {
	background-color: #fff;
	color: #0A0522;
	border-color: #fff;

	&:hover {
		opacity: .7;
	}
}
svg#arrRight{
	fill:#7256FF;
}
.button.button-icon{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	svg{
		fill:#fff;
		margin-left: 12px;
		margin-right: 0;
	}
}
.button--label{
	display: flex;
	align-items: center;
	justify-content: center;
	span +span{
		margin-left: 12px;
		color: #E857D1;
		font-size: 13px;
		font-family: $os;
		background-color: #fff;
		padding-left: 8px;
		padding-right: 8px;
		height: 20px;
		line-height: 20px;
		border-radius: 16px;
	}
}
.button--label .button--label--color{
	span+span {color: $pr;}
}
.button--label.button--white{
	span+span {
		color: #fff;
		background-color: $pr;
	}
}