/*====простая карточка  =====*/
.card-light{
	padding: 20px 24px;
	background: #FFFFFF;
	box-shadow: 0px 5px 16px rgba(221, 213, 245, 0.8);
	border-radius: 16px;
	position: relative;
	transition: .3s;
	.card-light__head{
		display: flex;
		justify-content: space-between;
		&>*{flex-shrink: 0;}
		span{
			margin-left: 16px;
			padding-left: 8px;
			padding-right: 8px;
			display: inline-block;
			text-align: center;
			background: #7256FF;
			border:1px solid #7256FF;
			border-radius: 24px;
			height: 20px;
			line-height: 18px;
			font-size: 13px;
			color: #fff;
		}
	}
	h4{
		font-family: $ms;
		font-size: 15px;
		line-height: 24px;
		height: 48px;
		 display: -webkit-box;
		 -webkit-box-orient: vertical;
		 -webkit-line-clamp: 2;
		 overflow: hidden;
		 max-width:160px;
	}
	.card-light__text {
		padding-top: 28px;
		color: $text;
		p{
			 display: -webkit-box;
			 -webkit-box-orient: vertical;
			 -webkit-line-clamp: 3;
			 overflow: hidden;
		}
	}
}
.card-light.card-light--bg{
	background-color: #EEF5FF;
}
.investor-cta .card-light:last-child{
	@media(min-width:768px){
	background: #7256FF;
	box-shadow: 0px 5px 16px rgba(221, 213, 245, 0.8);
	color: #fff;
	.card-light__text {
		color: rgba(255, 255, 255, 0.7);
	}
}
}
.swiper-investor-cta  .card-light--special{
	background: #7256FF;
	box-shadow: 0px 5px 16px rgba(221, 213, 245, 0.8);
	color: #fff;

	.card-light__text {
		color: rgba(255, 255, 255, 0.7);
	}
}
.card-light:hover {	
	box-shadow: 0px 5px 16px rgba(221, 213, 245, 0.28);	
}
.arr-card{
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		right:-16px;
		width: 16px;
		height: 16px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.66666 7.3333V8.66664H10.6667L6.99999 12.3333L7.94666 13.28L13.2267 7.99997L7.94666 2.71997L6.99999 3.66664L10.6667 7.3333H2.66666Z' fill='%237256FF'/%3e%3c/svg%3e");
		background-position: 0 0;
		background-size: auto;
		background-repeat: no-repeat;
	}
}
/*====простакя карточка с картинкой =====*/
.card-light--pic{
	display: flex;
	box-shadow: none;
	.card-light__img{
		border-radius: 10px;
		overflow: hidden;
		margin-right: 20px;
		width: 104px;
		height: 104px;
		flex-shrink: 0;
		img{border-radius: 10px;}
	}
	.card-light__text{
		padding-top: 0;
		h4{
			font-size: 15px;
			line-height: 24px;
			font-family: $ms;
			
		}
	}
	.card-light__details{
		display: flex;
		justify-content: space-between;
		align-items: center;
		span{
			width: 16px;
			height: 16px;	
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.66666 7.3333V8.66664H10.6667L6.99999 12.3333L7.94666 13.28L13.2267 7.99997L7.94666 2.71997L6.99999 3.66664L10.6667 7.3333H2.66666Z' fill='%237256FF'/%3e%3c/svg%3e");
			background-position: 0 0;
			background-size: auto;
			background-repeat: no-repeat;
		}
		
	}
}
.card-light--pic:hover .card-light__details span{
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.66666 7.3333V8.66664H10.6667L6.99999 12.3333L7.94666 13.28L13.2267 7.99997L7.94666 2.71997L6.99999 3.66664L10.6667 7.3333H2.66666Z' fill='%23ffffff'/%3e%3c/svg%3e");
}

/* double card*/
.double-card{
background: #FFFFFF;
border-radius: 16px;
padding: 16px;
max-width:584px;
box-shadow: 0px 5px 16px rgba(221, 213, 245, 0.8);
.double-card__label{
	height: 24px;
	line-height: 24px;
	padding-left: 8px;
	padding-right: 8px;
	border-radius: 16px;
	background-color: #fff;
	display: inline-block;
	margin-top: 28px;
	white-space: nowrap;
	p{	font-size: 13px;
	font-family: $ms;}

}
p{
	font-family: $os;
	font-size: 15px;
	line-height: 24px;
}
}
.double-card__top {
	padding: 32px 40px;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	.double-card__top-img{
		width: 104px;
		height: 104px;
		border-radius: 50%;
		img{
			border-radius: 50%;
		}
	}

	h4{
		font-family: $ms;
		font-size: 17px;
		line-height: 24px;		
		color: #0A0522;
	}
	p{
		color: #0A0522;
	}
	@media(max-width:1279px){
		padding: 24px 20px;
	}
	@media(max-width:767px) {
		flex-direction: column-reverse;
		    align-items: center;
		    text-align: center;
		h4 {font-size: 14px;}
		p{font-size: 13px;}
	}
}

.double-card__bottom{
	padding-top: 20px;
	background-color: #fff;
	p{	
		color: #3E516F;		
	}
}
.double-card--blue .double-card__top {
	background: #D4E5FF;
}
.double-card--pink .double-card__top {
	background: #F3EAFF;
}
.double-card--yellow .double-card__top {
	background: #FEF8E8;
}
.double-card--aqua .double-card__top {
	background: #E7FBFF;
}

.double-card--darkLabel{
	.token-card-label{
		background-color: #0A0522;
		color: #fff;
	}
}

.card-grid-duo,
.card-grid-trio {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;
	row-gap: 40px;

	@media(max-width:767px) {
		column-gap: 0px;
		grid-template-columns: repeat(1, 1fr);
		row-gap: 30px;
	}
}
.card-grid-duo{
	grid-template-columns: repeat(2, 1fr);
	@media(max-width:1199px) {
		
		column-gap: 15px;
	}

}
/********hero card********/
.hero-card{
	background: #FFFFFF;	
	border: 1px solid #C8D2E1;
	box-sizing: border-box;
	border-radius: 16px;
	max-width:256px;
	overflow:hidden;
	&__img{
		display: flex;
		justify-content: center;
		align-items: center;
		height: 128px;
	}
	.hero-card__text{
		padding: 16px;
		.text-15{
			font-family: $ms;
			margin-bottom: 8px;
		}
		ul{
			display: flex; flex-wrap: wrap;
		}
		li{
			display: flex;
			font-family: $ms;
			span{
				padding-left: 3px;
				padding-right: 3px;
			}
		}
	}
}
.hero-cards .card-grid-trio {	
	column-gap: 32px;
	row-gap:32px;
}
.location-card{
	position: relative;
	border-radius: 16px;
	width: 256px;
	height: 168px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
}
.location-card .badge{
	top: 14px;
	left: 16px;
	position: absolute;
	z-index: 2;
}