[data-modal]{
	display: none;
}
.visible[data-modal]{
	display: block;
	
}
.large-modal.visible{
	.large-modal-content{
		animation-name: zoomIn;
	animation-fill-mode: forwards;
	animation-duration: .5s ;
	}
	
}
@keyframes zoomIn{
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}
.page-modal{
	
	width: 100%;
	max-width:376px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 30;
	border-radius: 24px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
	@media(max-width:424px){
		width: 98%;
	}
}
.page-modal__header{
	padding: 16px 24px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #D4DFF1;
	h3{
		font-family: $ms;
		font-size: 16px;
		line-height: 1.5;
		color: #0A0522;
		padding-right: 16px;

	}
}
.page-modal__img{
	overflow: hidden;
	background-color: #F3EAFF;
	padding-top: 8px;
	display: flex;
	justify-content: center;
	.image-group{
		position: relative;
		width:fit-content;
		
		img +img{
			position: absolute;
			top:8;
			right: -25px;
			z-index: 3;
		}
		@media(max-width:767px){
			img{width: 120px;}
			img +img{width:70px;}
		}
		
	}
}

.page-modal__body{
	padding: 24px;
	padding-bottom: 20px;
	background-color: #fff;
}
.page-modal{
	.button{width: 100%;}
	.page-modal__footer{
		padding: 24px;
		
		padding-top: 0;
	}
	.text-agree {
		
		@media(max-width:767px) {
			padding-top: 15px;
		}
	}
	.text-agree p{
		font-family: $os;
		@media(max-width:767px){font-size: 12px;}
	}
	
	.close-btn{
		background-color: $light;
		width: 24px;
		height: 24px;
		line-height: 24px;
		border-radius: 7px;
		color: #788CAB;transition: .3s;
		cursor:pointer;
		&:hover{
			color: $pink;
		}
	}
}
.register-step {
	.register-step-title {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		span{
			padding: 2px 8px;
			border-radius: 24px;
			background-color: $light;
			margin-right: 12px;
			height: 24px;
		}
	}
}
.login-modal--blue .register-step-title span{
	background-color: #33A661;
	width: 34px;
	color: #fff;
	text-align: center;
}
.login-modal--yellow .page-modal__img{
	background-color: #FEF8E8;
}
.login-modal--blue .page-modal__img {
	background-color: #E7FBFF;
}
.step2-text{
	span{
		white-space: nowrap;
	}
	button{
		font-size: 14px;
		line-height: 20px;
		color: $pr;
		padding-right: 5px;
		&:hover{color: $pink;}
	}
}

.large-modal .page-modal__header-btns .close-btn {
	
		width: 24px;
		height: 24px;
		border-radius: 9px;
		background-color: $light;
		line-height: 24px;
		text-align: center;
		color: #788CAB;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.25 1.8075L10.1925 0.75L6 4.9425L1.8075 0.75L0.75 1.8075L4.9425 6L0.75 10.1925L1.8075 11.25L6 7.0575L10.1925 11.25L11.25 10.1925L7.0575 6L11.25 1.8075Z' fill='%23788CAB'/%3e%3c/svg%3e");
		@include pos;

		cursor: pointer;
	
}
.large-modal .large-modal-dialog {
.page-modal__body{
	background-color: #EEF5FF;
	padding: 24px;
}
}