$text: #3E516F;
$basic: rgb(10, 5, 34);
$pr: #7256FF;
$light: #EEF5FF;
$pink:#E857D1;
$ly:#FEF8E8;
$green:#33A661;
$b3:#3B4E6A;

$mr: 'Montserrat Regular';
$ms: 'Montserrat Semibold';
$os: 'Open Sans Regular';

@mixin pos{
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
}
@mixin center{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}