.about-game-main .page-content-wrapper{
	padding-bottom: 157px;
	@media(max-width:767px){
		padding-bottom: 100px;
	}
}
.page-content-wrapper {
	background-color: #EEF5FF;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 24px;
	@media(max-width:767px) {
		background-color: #ffffff;
	}
	.page-content-left{
		width: 74%;
		
		
		@media(max-width:1279px) {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
		
	}
	.page-content-left__block{
		box-shadow:0px 5px 16px rgba(216, 207, 244, 0.8);
		background-color: #fff;
		overflow:hidden;
		padding-top: 24px;
		padding-bottom: 24px;
		// padding: 24px 32px;
		border-radius: 24px;
		@media(max-width:767px){
			padding-left: 0;
			padding-right: 0;
			box-shadow: none;

		}
		
	}
	.page-content-left__block+.page-content-left__block{
		margin-top: 40px;
	}
	.page-content-right {
		width: 22.5%;
	}
}
.page-content-columns{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@media(max-width:1279px){
		display: block;
	}
	.page-content-right{
		position: sticky;
		top: 72px;
	}
}
.about-game-header {
	padding-bottom: 24px;
	// padding-top: 24px;
	padding-left: 32px;
	padding-right: 32px;
	@media(max-width:767px){
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.header-group-column{
		display: flex;
		align-items: center;
		.main-title{margin-left: 16px;}
		@media(max-width:767px){
			flex-direction: column;
			align-items: flex-start;
			.main-title {
				margin-left: 0;
				margin-top: 8px;
			}
		}
	}

}
.about-game article .text-24{
	margin-bottom: 16px;
}
.header-group{
	justify-content: space-between;
	align-items: center;
}
.about-game-video__content {
	border-radius: 16px;
	overflow: hidden;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(10, 5, 34, .4);
		z-index: 1;
		// pointer-events: none;
		transition: .3s;

	}
	.video-play-btn{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		border:18px solid $pink;
		background-color: #fff;
		cursor:pointer;
		// pointer-events: none;
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: 53%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border:8px solid $pink;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-right: 0;
		}
	}
}
.about-game-video__content.active:after{
	transform:translateY(100%);
}
/*****about game result-block****/
.result-info-content .gradient-box__inner {
	padding-left: 40px;
	padding-right: 40px;
	@media(max-width:767px){
		padding-left: 20px;
		padding-right: 20px;
	}
}
.result-info-content ul{
	display: flex;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 24px;
	justify-content: space-between;
	@media(max-width:1023px) {
		flex-direction: column;
	}
	@media(max-width:767px) {
		
		padding-top: 24px;
		padding-bottom: 24px;
	}
	li{
		width: 48%;
		max-width:200px;
		white-space: nowrap;
		@media(max-width:1023px) {
			width: 100%;
		}
		@media(max-width:767px) {
			.text-24{
				font-size: 20px;
			}
		}
		span+p {
			margin-top: 6px;
		}
		& +li{
			margin-left: 64px;
			@media(max-width:1023px) {
				margin-left: 0;
				margin-top: 24px;
			}
			@media(max-width:767px) {
				margin-top: 16px;
			}
		}
		
	}
}
.result-info-content .d-flex{
	justify-content: space-between;
	align-items: flex-end;
	
}

.about-game-parametrs ul{
	display: grid;
	grid-template-columns:repeat(3, 1fr) ;
	row-gap: 32px;
	column-gap:48px;
}
.about-game-parametrs li{
	white-space: nowrap;
	a{
		font-family: $ms;
		color: $pr;
	}
	.badge +.badge{margin-left: 12px;}
}
.about-game-parametrs {
	span + p{margin-top: 6px;}
}

.text-block .button {
	margin-top: 24px;
}
/***СВАЙП-СЕТКА ДЛЯ КАРТОЧЕК**/
.grid-column-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 32px;
	row-gap:32px;
	
}
.text-block--game-types{
	.grid-column-3{max-width:832px}
	.card-light{
		width: 250px;
		p{ -webkit-line-clamp: 4;}
	  
	}
	
}
/*****big img ******/
.text-block__img{
	img{border-radius:16px;	}
}
.text-block-grid{
	display: grid;
	grid-template-columns: 2.16fr 1fr;
	column-gap: 22px;
	@media(max-width:1023px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.text-block-grid__right{
		display: flex;
		flex-direction: column;
		padding-top: 27px;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(254, 248, 232, .84);
		text-align: center;
		overflow: hidden;
		height: 220px;
		border-radius: 16px;
		
		.text-20{
			font-family: $ms;
		}
		.text-block-grid__text{
			position: relative;
			z-index: 2;
		}
		.text-block-grid__img {
			// background-color: rgba(254, 248, 232, .84);
			img{mix-blend-mode: multiply;}
			transform: translateY(-6%);
			position: relative;
			z-index:  1;
		}
		@media(max-width:1199px){.text-block-grid__img{
				transform: translateY(0%);
			}}
		@media(max-width:1023px) {
			width: 100%;
			margin-top: 24px;
			
		}
	}
}
.text-block--game-types .column-container,
.about-game-parametrs .column-container,
.hero-cards .column-container,
.game-cards .column-container,
.location-cards .column-container	{
	@media(max-width:1023px){
		width: calc(100% + 20px);
	}
}
.news-slider .column-container{
	width: calc(100% + 24px);
	@media(max-width:1023px) {
		width: calc(100% + 20px);
	}
}
.news-slider .flex-header{
	padding-right: 24px;
	@media(max-width:767px){
		padding-right: 20px;
	}
}
// .right-overlay {
// 	position: relative;
// 	&:after{
// 		content: '';
// 		position: absolute;
// 		top: 0;
// 		right: -10px;
// 		bottom: 0;
// 		width: 45px;
// 		background: linear-gradient(to left, #FFFFFF 34.78%, rgba(255, 255, 255, 0) 100%);
// 		z-index: 5;
// 		display: none;
// 		@media(max-width:1199px){
// 			display: block;
// 		}
// 	}	
// }

.hero-cards-swiper {
	margin-top: 32px;
}
.location-cards-swiper.swiper{
	overflow: hidden;
	height: 168px;
}
article .flex-header {
	align-items: center;
	margin-bottom: 24px;
}
.location-cards .center-wrapper{margin-top: 24px;}

/*======slider game news======*/
.gn-cards-full{
	.card-light--pic{
		width: 368px;
		flex-shrink:0;
	}
}