/*********page about game********/
.about-game-main{
	
.page-content-wrapper {
	padding-bottom: 157px;
	background-color: #EEF5FF;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 20px;
	padding-bottom: 64px;
	@media(max-width:1023px) {
		padding-bottom: 80px;
	}
	@media(max-width:767px) {
		background-color: #ffffff;
			padding-bottom: 50px;
	}
	.page-content-left{
		width: 74%;
		
		
		@media(max-width:1279px) {
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}
		
	}
	.page-content-left__block{
		box-shadow:0px 5px 16px rgba(216, 207, 244, 0.8);
		background-color: #fff;
		overflow:hidden;
		padding-top: 24px;
		padding-bottom: 24px;
		// padding: 24px 32px;
		border-radius: 24px;
		@media(max-width:767px){
			padding-left: 0;
			padding-right: 0;
			box-shadow: none;

		}
		
	}
	.page-content-left__block+.page-content-left__block{
		margin-top: 40px;
		@media(max-width:767px){
			margin-top: 0;
		}
	}
	.page-content-right {
		width: 22.5%;
	}
}
.page-content-columns{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	
	.page-content-right{
		position: sticky;
		top: 72px;
	}
}
@media(max-width:1279px) {
	.page-content-wrapper .page-content-columns {
		display: block;
	}
	.page-content-wrapper .page-content-right {
		display: none;
		}
	}

.about-game-header {
	padding-bottom: 24px;
	// padding-top: 24px;
	padding-left: 32px;
	padding-right: 32px;
	@media(max-width:767px){
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.text-group {
		@media(max-width:767px){
			flex-direction: column;
			align-items: flex-start;
			&>*+* {
				margin-left: 0;
				margin-top: 8px;
			}
		}
	}

}
.about-game article .text-24{
	margin-bottom: 16px;
}
.about-game article .flex-header .text-24 {
	margin-bottom: 0;
}

/*****about game result-block****/
.result-info-content .gradient-box__inner {
	padding-left: 40px;
	padding-right: 40px;
	@media(max-width:767px){
		padding-left: 20px;
		padding-right: 20px;
	}
}
.result-info-content ul{
	display: flex;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 24px;
	justify-content: space-between;
	@media(max-width:1023px) {
		flex-direction: column;
	}
	@media(max-width:767px) {
		
		padding-top: 24px;
		padding-bottom: 24px;
	}
	li{
		width: 48%;
		max-width:200px;
		white-space: nowrap;
		@media(max-width:1023px) {
			width: 100%;
		}
		@media(max-width:767px) {
			.text-24{
				font-size: 20px;
			}
		}
		span+p {
			margin-top: 6px;
		}
		& +li{
			margin-left: 64px;
			@media(max-width:1023px) {
				margin-left: 0;
				margin-top: 24px;
			}
			@media(max-width:767px) {
				margin-top: 16px;
			}
		}
		
	}
}
.result-info-content .d-flex{
	justify-content: space-between;
	align-items: flex-end;
	.text-grey{font-family: $os;}
}

.about-game-parametrs ul{
	display: grid;
	grid-template-columns:repeat(3, 1fr) ;
	row-gap: 32px;
	column-gap:48px;
}
.about-game-parametrs li{
	white-space: nowrap;
	a{
		font-family: $ms;
		color: $pr;
	}
	.badge +.badge{margin-left: 12px;}
}
.about-game-parametrs {
	span + p{margin-top: 6px; font-family: $os;}
}

.text-block .button {
	margin-top: 24px;
}
.news-slider .text-group {

	*+* {
		margin-left: 32px;
	}

	@media(max-width:767px) {
		display: block;

		*+* {
			margin-left: 0;
			margin-top: 8px;
		}
	}
}
}

.game-types{
	.grid-column-3{
		max-width:832px;
		@media(max-width:1023px) {
			padding-right: 20px;
		}
	}
	.card-light{
		width: 250px;
		p{ 
			-webkit-line-clamp: 4;
			font-size: 14px;
			font-family: $os;
			line-height: 20px;
			color: #0A0522;
		}
		h4{
			height: auto;
			font-size: 14px;
			line-height: 20px;
		}
		.card-light__text{
			padding-top: 16px;
		}
	  
	}
	
}
/*****big img ******/
.text-block__img{
	img{border-radius:16px;	}
}
.text-block-grid{
	display: grid;
	grid-template-columns: 2.16fr 1fr;
	column-gap: 22px;
	@media(max-width:1023px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.text-block-grid__right{
		display: flex;
		flex-direction: column;
		padding-top: 27px;
		justify-content: space-between;
		align-items: center;
		background-color: rgba(254, 248, 232, .84);
		text-align: center;
		overflow: hidden;
		height: 220px;
		border-radius: 16px;
		
		.text-20{
			font-family: $ms;
		}
		.text-block-grid__text{
			position: relative;
			z-index: 2;
		}
		.text-block-grid__img {
			
			img{mix-blend-mode: multiply;}
			transform: translateY(-6%);
			position: relative;
			z-index:  1;
		}
		@media(max-width:1199px){.text-block-grid__img{
				transform: translateY(0%);
			}}
		@media(max-width:1023px) {
			width: 100%;
			margin-top: 24px;
			
		}
	}
}
.column-container.pr-1023	{
	@media(max-width:1023px){
		width: calc(100% + 20px);
	}
}
.news-slider .column-container{
	width: calc(100% + 24px);
	@media(max-width:1023px) {
		width: calc(100% + 20px);
	}
}
.news-slider .flex-header{
	padding-right: 24px;
	@media(max-width:767px){
		padding-right: 20px;
	}
}
.hero-cards-swiper {
	margin-top: 32px;
}
.location-cards-swiper.swiper{
	overflow: hidden;
	height: 168px;
}
article .flex-header {
	align-items: center;
	margin-bottom: 24px;
}
.location-cards .center-wrapper{margin-top: 24px;}

/*======slider game news======*/
.gn-cards-full{
	.card-light--pic{
		width: 368px;
		flex-shrink:0;
	}
}

.games-similare .card-grid-trio{
	@media(min-width:1024px){
		column-gap:26px;
	}
}
@media(max-width:767px){
	.about-game-main{
		.location-cards .flex-header{padding-right: 16px;}
		.games-similare .flex-header,
		.game-cards .flex-header{
			flex-direction: column;
			align-items: flex-start;

			&>*+* {
				margin-left: auto;
				margin-top: 16px;
			}

		}
	}
}
.page-content-wrapper--games {
	position: relative;
	background: url(../img/lightblueBg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}
/*======start whis us====*/
.cta{
	background: url(../img/lightBg.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.cta .cta-cards  {
	display: flex;
	justify-content: space-between;

}
.about-game-video__content {
	border-radius: 16px;
	overflow: hidden;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(10, 5, 34, .4);
		z-index: 1;
		// pointer-events: none;
		transition: .3s;

	}

	.video-play-btn {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		border: 18px solid $pink;
		background-color: #fff;
		cursor: pointer;

		// pointer-events: none;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 55%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border: 8px solid $pink;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-right: 0;
		}
	}
}

.about-game-video__content.active:after {
	transform: translateY(100%);
}
@media(max-width:1023px) {
.about-game-main .game-types .swiper-block{padding-bottom: 10px;}
}
@media(max-width:767px){
	.fake-offset .game-news ,
	.about-game-main .page-content-wrapper .page-content-left__block {
		padding-bottom: 0;
	}
	.about-game-main .page-content-wrapper .page-content-left__block {
		padding-top: 0;
	}
	.about-game-main #games-similare{
		padding-top: 68px;
	}
	
}

