.edu-page{
	@media(min-width: 768px){
		min-height: calc(100vh - 130px);
	}
}
.edu-card{
	max-width:400px;
	display: flex;
	justify-content: space-between;
	padding: 20px 24px 24px;
	border-radius: 16px;
	
	
	.edu-card__left{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 152px;
	}
	.edu-card__title{
		.text-13 {
			color: #3B4E6A;
		}
	}
	.edu-card__right{
		width: 176px;margin-left: auto;
	}
	.edu-card__body{
		display: flex;
		align-items: center;
		padding-top: 24px;
	}
	.edu-card__body-img{
		flex-shrink:0;
	}
	.edu-card__body-text{
		padding-left: 12px;
	}
	.edu-card__body-text .text-13{
		position: relative;
			color: #3B4E6A;
		
		
	}
	.edu-card__footer{
		padding-top: 28px;
	}
	.button{
		background-color: #fff;
		color:$pr;
		font-size: 13px;
		width: 100%;
		text-align: center;
	}
}
.edu-card-yellow .edu-card{
	background-color: #FAECBC;}
.edu-card-olive .edu-card {
	background-color: #E9ECB0;

}

.edu-card-lightgreen .edu-card {
	background-color: #D6F3EC;
}
.edu-card-lightblue .edu-card {
	background-color: #E2F2FC;
}
.edu-card-grey .edu-card {
	background-color: #E8E8E5;
}
.edu-card-pink .edu-card {
	background-color: #FCEAE0;
}
