/*single game new page*/
.inner-header{
	height: 77px;
	background-color: #0A0522;
	padding-left: 24px;
	padding-right: 24px;
	
	.inner-header-content{
		max-width:1440px;
	margin-left: auto;
	margin-right: auto;
		display: flex;
		height: 77px;
		align-items: center;
	}
	.back-arrow--white{
		margin-right: 60px;
	}
	.innner-header-menu{
		a{
			font-size: 13px;
			line-height: 20px;
			color: #fff;
			display: inline-block;
			font-family: $ms;
			&+a{
				margin-left: 32px;
			}
		}
	}
	.inner-header-right{
		margin-left: auto;
		
		&>*+*{margin-left: 16px;}
	}
}
.about-game--dark {
	background-color: #0A0522;
	.game-banner{
		position: relative;
		padding-top: 80px;
		
		display: flex;
		height: 758px;
		.title-1{
			text-align: left;
			font-size: 52px;
			line-height: 1.21;
			font-weight: bold;
			display: flex;
			align-items: center;
			margin-bottom: 48px;
			
			img{
				width: 140px;
				height: 56px;
				object-fit: contain;

			}
			@media(max-width:1279px) {
				font-size: 34px;
				img{
					width: 82px;
				}
			}
			@media(max-width:11px){
				font-size: 32px;
				
			}
		}
		.container{
			position: relative;
			z-index: 2;
		}
		.flex-wrapper{
			justify-content: space-between;
		}
		.game-banner__content{
			height: 444px;
			@media(max-width:1279px) {
				height: 360px;
			}
			
			position: relative;
			&:before{
				content: '';
				width: 104%;
				height: 120%;
				position: absolute;
				top: 0;
				left: 0;
				transform: translateX(-10%);
				background-image: url('../img/aboutGame/grid.svg');
			background-size: cover;
			background-repeat: no-repeat;
			opacity:.74;
			z-index:-1;
			}
			.game-rate{
				margin-top: auto;
			}
		}
		.game-banner__right{
			width: 50%;
			max-width:520px;
			display: flex;
			justify-content: center;
			align-items: center;
			.play-button{
				position: relative;
				&:after{
					width: 120px;
					height: 120px;
					content:'';
					position: absolute;
					top: 50%;
					left: 50%;
					transform:translate(-50%, -50%);
					border:1px solid rgba(255, 255, 255, .3);
					border-radius: 50%;
					z-index: 0;
					animation-name: opac;
					animation-duration: 4s;
					animation-iteration-count: infinite;
				}
			}
		}
		.game-rate{
			display: flex;
			align-items: center;
			.game-rate-val{
				width: 56px;
				height: 56px;
				line-height: 56px;
				font-size: 18px;
				font-family: $ms;
				border-radius: 9px;
				color: #fff;
				background-color: $green;
				text-align: center;
				margin-right: 20px;
			}
			.game-rate-info{
				color: #fff;
				.text-17{
					margin-bottom: 4px;
				}
			}
		}
	}
	.game-banner__content{
		max-width:520px;
		height: 444px;
	}
}

.game-banner:before,
.game-banner:after {
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(180deg, rgba(40, 36, 61, 0) 37.56%, #0A0522 100%);
}
.game-banner:before {
	background: linear-gradient(98.04deg, #271B64 6.19%, rgba(10, 5, 34, 0) 71.75%);
}
.play-button{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: $pr;
	border: 23px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor:pointer;
	transition: .3s;
	&:hover{
		border-color:$pr;
		background-color: #fff;
		span{
			border-left-color:$pr;
		}
	}
	span{
		width: 0;
		height: 0;
		display: block;
		border:10px solid #fff;
		border-top: 8px solid  transparent;
		border-bottom: 8px solid  transparent;
		border-right:0px;
		position: relative;
		left:2px;
		transition: .3s;
	}
}
@keyframes opac{
	0%{
		transform:translate(-50%, -50%) scale(1);
		opacity:.3;
	}
	50%{
		transform:translate(-50%, -50%) scale(1.4);
		opacity:1;
	}
	100% {
		transform:translate(-50%, -50%) scale(1.8);
		opacity:.9;
	}
}
.about-game--dark .about-game-parametrs{
	li, p, span{color: #fff;}
	.badge--white {
		color: #0A0522;
		font-size: 16px;
		font-family: $os;
	}
	.flex-wrapper{
		padding: 48px;
		@media(max-width: 1279px) {
			padding: 24px;
		}
	}
	.about-game-img{
		margin-right: 63px;
		flex-shrink:0;
		@media(max-width: 1279px){
			width: 180px;
			margin-right: 32px;
		}
	}
	li a {
		color: #E857D1;
	}
}
.gradient-box.gradient-box--orange{
	&:before{background: linear-gradient(to right, #E14FAD 0%, #F9D423 100%);}
	.gradient-box__inner{
		background-color: #0A0522;
	}
}
.about-game-earnings{
	color: #fff;
	padding-top: 120px;
	padding-bottom: 120px;
	p, span, h1, h2,h3,h4,h5{
		color: #fff;
	}
	.main-title{
		padding-bottom: 73px;
	}
	.result-info-content ul{
		justify-content: flex-start;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 55px;
		li{
			width: auto;
			max-width: unset;
			.text-grey{margin-top: 4px; display: inline-block;}
		}
		li+li{
			margin-left: 54px;
		}
	}
}
.about-game-earnings__text {
	width: 57%;
	max-width: 688px;
	@media(max-width: 1023px){
		width: 100%;
		max-width:100%;
	}
}.about-game-earnings__img{
	width: 36.5%;
	max-width:440px;
	@media(max-width: 1023px) {
		display: none;
	}
}
.about-game-earnings {
	.flex-wrapper	{
		justify-content: space-between;
		align-items: flex-end;
	}
}
.section-wrapper{
	.container{
		position: relative;
		z-index:  2;
	}
	position: relative;
	overflow: hidden;
	&:after{
		content:'';
		width: 88%;
		height: 88%;
		background: radial-gradient(50% 50% at 50% 50%, #7256FF 0%, rgba(35, 35, 35, 0) 100%);
		opacity: 0.4;
		position: absolute;
		top: 20%;
		right: -20%;
		z-index:0;
	}
}

.section-row{
	
	.row-col-4{
		max-width: 312px;
		width: 26%;
		flex-shrink:0;
		.text-28 p>*{font-family: $mr;}
		
	}
	.row-col-8 {
		max-width: 832px;
		width: 70%;
		.text-16 p{
			font-family: $os;
			line-height: 26px;
			&+p{
				margin-top: 1em;
			}
		}
	}
	.section-row-block{
		justify-content: space-between;
		display: flex;
		.text-28 p{
			@media(max-width:1279px){
				font-size: 22px;
			}
		}
	}
	
	.row-col-box{margin-top: 24px;}
	.game-mechanics-cards{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap:32px;
		row-gap: 24px;
		.card-light{
			box-shadow: none;
		}
		@media(max-width:1279px) {
			column-gap:16px;
		}
	}
	.game-rules-item+.game-rules-item{margin-top: 32px;}
	.game-rules-item{
		.badge{margin-bottom: 16px;}
	}
}
.section-row.section-row--white {
	border-radius: 24px;
	overflow: hidden;
	.section-row-block{
		padding: 64px;
		padding-bottom: 0;
		background-color: #fff;
		&:first-child{
			border-radius: 24px 24px 0 0;
		}
		&:last-child {
			border-radius: 0 0 24px 24px ;
			padding-bottom: 64px;
		}
		@media(max-width:1279px) {
			padding: 48px;
			padding-top: 64px;
		}
		@media(max-width:1023px) {
			padding: 24px;
			
		}
	}
}
.section-row--dark {
	.playing-time>*,
	.playing-time-text>*, .row-col-4 .text-28>* {
		color: #fff;
	}
}
.about-game-parts+.about-game-parts{
	margin-top: 104px;
}
.playing-time-text{
	max-width: 456px;
}
.playing-time{
	
	.flex-wrapper{
		justify-content: space-between;
	}
	.text-block-grid__right{
		flex-shrink: 0;
		width: 272px;
		height: 220px;
		background: linear-gradient(260.6deg, #38B480 3.16%, #5C9BFA 50.56%, #7342FE 95.99%);
		border-radius: 16px;
		text-align: center;
		overflow: hidden;
		margin-top: 0;
	}
}
.playing-time{
	.playing-time-text{padding-right: 24px;}
	@media(max-width: 1023px){
		.text-block-grid__right{
			width: 220px;
			margin-top: 0;
		}
	}
}
.section-row-block{
	.hero-cards-swiper {
		padding-top: 32px;
		margin-top: 0;
	}
	.hero-cards-text p{color: #fff;}
	.location-types {
		@media(min-width:768px){
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 24px;
			row-gap:24px
		}
		@media(min-width:1279px) {
			column-gap: 32px;
			row-gap: 32px
		}
		.picture-card{
			max-width:100%;
			height: 240px;
		}
	}
	.text-paragrafe p{font-size: 16px;}

	.text-paragrafe .text-16.text-bold {
		margin-bottom: 8px;
		&>*{font-family: $ms;}
	}
	.text-paragrafe p,
	.text-paragrafe img{margin-bottom: 8px; border-radius: 16px;}
} 

/* background: linear-gradient(180deg, #0A0522 0%, #5766E8 52.08%, #0A0522 100%);
opacity: 0.4;*/
/*//single game new page*/
