.success-registartion{
	padding-top: 40px;
	padding-bottom: 64px;
	background-color: #EEF5FF;
	.success-header-banner{
		position: relative;
		
		padding: 48px;
		padding-left: 72px;
		background: url(../img/successBg.svg);
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 24px;
		min-height: 150px;

	}
	.success-header_img{
		position: absolute;
		bottom: 0;
		right: 10%;
	}
	.success-header__title{
		p{color: #fff;}
		p+p{
			font-family: $ms;
		}
	}
	.success-reg-block {
		padding-top: 64px;
		.success-reg__title {
			margin-bottom: 32px;
			p{
				font-size: 20px;
				line-height: 1.4;
				font-family: $ms;
			}
		}
	}
}
.info-card{
	background-color: #fff;
		border-radius: 16px;
		max-width: 584px;
		padding: 24px;
		display: flex;
		.info-card__head{
			padding-bottom: 12px;
		}
		.info-card__body{
			padding-bottom: 24px;
		}
		.info-card__head p{
			font-size: 16px;
			line-height: 24px;
			color: #0A0522;
			font-family: $ms;
		}
	.generate-nickname{
		display: flex;
		justify-content: space-between;
		.form-btn{
			margin-left: 16px;
			flex-shrink: 0;
		}
	}
	.generate-nickname input{
		padding-left: 12px;
		padding-right: 120px;
		font-size: 14px;
		color: #3B4E6A;
		
	}
	.generate-nickname .form-field{
		width: 95%;
		.text-link{
			position: absolute;
			right: 16px;
			z-index: 2;
			top: 0;
			bottom: 0;
			font-size: 14px;
			font-family: $os;
			&:hover{
				opacity: .5;
			}
		}
	}
	.info-card-img{
		width: 144px;
		height: 144px;
		border-radius: 50%;
		overflow: hidden;
	}
	.info-card-col+.info-card-col{
		margin-left: 32px;
	}
}

.file-download__btn .inputfile {
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.file-download__btn .inputfile+label {
	width: 100%;
	display: inline-block;
	text-align: center;

}
.success-info-cards{
	display: flex;
	justify-content: space-between;
	.info-card{
		width: 49%;
	}
}
.success-info-wrapper{
	display: flex;
	.info-card{
		max-width: 376px;
		.button{width: 100%;}
	}
	.success-info-column+.success-info-column{
		margin-left: 56px;
	}
	.info-card+.info-card{
		margin-left: 24px;
	}
}
.success-info-column__title p{
	font-size: 18px;
	line-height: 24px;
	color: #0A0522;
	margin-bottom: 24px;
}