
.course-menu-accor{
	.acor-container-block{
		// 
		background-color: #fff;
		border-radius: 12px;

	}
	.acor-container .acor-container-block label{
		padding: 16px 0px;
	}
	.acor-container .acor-container-block .acor-arrow{
		margin-right: 16px;
	}
	.acor-header .text-14{
		padding-top: 4px;
		
	}
	.text-14 {font-family: $mr;}
	.course-menu__theme{
		padding: 16px;
		background: #EEF5FF;
		border-radius: 12px;
	}
	.course-menu__theme-title{
		.text-14+.text-14{padding-top: 4px;}
	}
	.theme-list__header {
		display: flex;
		align-items: center;
		&>*+*{margin-left: 12px;}
		.badge{
			height: 16px;
			line-height: 16px;
			font-size: 12px;
		}
	}
	.theme-list__deskrip{
		padding-right: 32px;
		padding-top: 10px;
	}
	.mark-circle{
		margin-left: auto;
		width: 12px;
		height: 12px;
		border: 2px solid #788CAB;
		background-color: #fff;
		border-radius: 50%;
	}
	.theme-list__header__icon{
		width: 20px;
		height: 20px;
		@include pos;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.5006 2.5H2.50065C1.57565 2.5 0.833984 3.24167 0.833984 4.16667V14.1667C0.833984 15.0833 1.57565 15.8333 2.50065 15.8333H6.66732V17.5H13.334V15.8333H17.5006C18.4173 15.8333 19.159 15.0833 19.159 14.1667L19.1673 4.16667C19.1673 3.24167 18.4173 2.5 17.5006 2.5ZM17.5006 14.1667H2.50065V4.16667H17.5006V14.1667Z' fill='%233B4E6A'/%3e%3c/svg%3e");
	
	}
	.theme-list__item--test {
		.theme-list__header__icon {
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.666 1.66663H6.66602C5.74935 1.66663 4.99935 2.41663 4.99935 3.33329V13.3333C4.99935 14.25 5.74935 15 6.66602 15H16.666C17.5827 15 18.3327 14.25 18.3327 13.3333V3.33329C18.3327 2.41663 17.5827 1.66663 16.666 1.66663ZM10.391 11.6666L7.49935 8.74996L8.66602 7.57496L10.391 9.30829L14.666 4.99996L15.8327 6.17496L10.391 11.6666V11.6666ZM3.33268 4.99996H1.66602V16.6666C1.66602 17.5833 2.41602 18.3333 3.33268 18.3333H14.9993V16.6666H3.33268V4.99996Z' fill='%23788CAB'/%3e%3c/svg%3e");
		}
	}
	.theme-list__item--task {
		.theme-list__header__icon {
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M15.3417 4.83336L14.3333 3.82502C13.6833 3.17502 12.625 3.17502 11.975 3.82502L9.74167 6.05836L2.5 13.3V16.6667H5.86667L13.15 9.38336L15.3417 7.19169C16 6.54169 16 5.48336 15.3417 4.83336V4.83336ZM5.175 15H4.16667V13.9917L11.3833 6.77502L12.3917 7.78336L5.175 15ZM9.16667 16.6667L12.5 13.3334H17.5V16.6667H9.16667Z' fill='%23788CAB'/%3e%3c/svg%3e ");
		}
	}
	.theme-list__item--video {
		.theme-list__header__icon {
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.33268 4.99996H1.66602V16.6666C1.66602 17.5833 2.41602 18.3333 3.33268 18.3333H14.9993V16.6666H3.33268V4.99996ZM16.666 1.66663H6.66602C5.74935 1.66663 4.99935 2.41663 4.99935 3.33329V13.3333C4.99935 14.25 5.74935 15 6.66602 15H16.666C17.5827 15 18.3327 14.25 18.3327 13.3333V3.33329C18.3327 2.41663 17.5827 1.66663 16.666 1.66663ZM9.99935 12.0833V4.58329L14.9993 8.33329L9.99935 12.0833Z' fill='%23788CAB'/%3e%3c/svg%3e ");
		}
	}
	.theme-list__item{
		padding: 16px;
	}
	.theme-list__item.active {
		.theme-list__header .text-13{font-family: $ms;}
		.mark-circle{
			background-color: #3B4E6A;
			border-color: #3B4E6A;
		}
	}
	.course-menu__theme.active{
		background-color: #F3EAFF;
		
		.course-menu__theme-list{
			background-color: #fff;
			border-radius: 12px;
			margin-top: 16px;
		}
		.theme-list__item+.theme-list__item {
			border-top: 1px solid #D8E1EF;
		}
	} 
	.course-menu__theme+.course-menu__theme{margin-top: 16px;}
	.acor-container .acor-container-block input+label>.acor-arrow{
		background-color: $pr;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5575 5.5575L5 2.1225L8.4425 5.5575L9.5 4.5L5 0L0.5 4.5L1.5575 5.5575Z' fill='%23ffffff'/%3e%3c/svg%3e");
	}
	.acor-container .acor-container-block input:checked+label>.acor-arrow {
		background-color: #EEF5FF;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5575 5.5575L5 2.1225L8.4425 5.5575L9.5 4.5L5 0L0.5 4.5L1.5575 5.5575Z' fill='%237256FF'/%3e%3c/svg%3e");
	}
	.acor-container-block{
		border-top: 1px solid #D8E1EF;
	}
}