.badge{
	display: inline-flex;
	padding-left: 12px;
	padding-right: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	
	justify-content: center;
	font-family: $mr;
	font-size: 14px;
	color: #fff;
	border-radius: 24px;
}
.bagde-medium{
	height: 24px;
	line-height: 24px;
	padding-left: 8px;
	padding-right: 8px;
	display: inline-flex;
}
.header-group .badge{font-family: $ms;}
.badge--light{
	background-color: #EEF5FF;
	color: #3B4E6A;
}
.badge--green{
	background-color: #33A661;
}
.badge--black {
	background-color: #0A0522
}
.badge--white{
	background-color: #fff;
	color: #0A0522;
}
.badge--yellow{
	background-color: #FCF1D5;
		color: #0A0522;
}
.badge-sale{
	background-color: #F2CF68;
	color: #0A0522;
	font-family: $mr;
	padding-left: 8px;
	padding-right: 8px;
}
.badge--red{
	color: #fff;
	background-color: #EE605F;
}
.badge--profi{
	background: linear-gradient(90deg, #EE667D 0%, #C26BEB 100%);
	color: #fff;
}