.comments-block-form{
	display: flex;
	align-items: center;
}
.comments-block .flex-header{
	margin-bottom: 24px;
	@media(max-width:767px){
		flex-direction: column;
		align-items: flex-start;
		&>*+*{margin-left: auto; margin-top: 16px;}
	}
}
.comments-block__avatar{
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #7EE4ED;	
	flex-shrink:0;	
	margin-right: 16px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	@media(max-width:767px){
		display: none;
	}
}
.comment-form{
	width: 100%;
	.form-field-icon{
		width: 20px;
		height: 20px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.08333 11.25L9.16667 13.75L12.0833 10L15.8333 15H4.16667L7.08333 11.25ZM17.5 15.8333V4.16667C17.5 3.24167 16.75 2.5 15.8333 2.5H4.16667C3.72464 2.5 3.30072 2.67559 2.98816 2.98816C2.67559 3.30072 2.5 3.72464 2.5 4.16667V15.8333C2.5 16.2754 2.67559 16.6993 2.98816 17.0118C3.30072 17.3244 3.72464 17.5 4.16667 17.5H15.8333C16.2754 17.5 16.6993 17.3244 17.0118 17.0118C17.3244 16.6993 17.5 16.2754 17.5 15.8333Z' fill='%237256FF'/%3e%3c/svg%3e");
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 12px;
		z-index: 2;
	}
	.form-field{margin-bottom: 0;}
	.form-field input{
		padding-left: 44px;
	}
}
.send-btn{
	width: 18px;
	height: 18px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5075 15.75L17.25 9L1.5075 2.25L1.5 7.5L12.75 9L1.5 10.5L1.5075 15.75Z' fill='%23788CAB'/%3e%3c/svg%3e");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12px;
	z-index: 2;
	transition: .3s;
	&:hover{
		opacity: .7;
	}
}
.comments-block-tree{
	ul{padding-top: 24px;}
	li>ul{
		padding-top: 16px;
		padding-left: 60px;
		@media(max-width:767px){padding-left: 24px;}
	}
	
	li .comments-block-tree__item {
		display: flex;
	}
	li+ li{margin-top: 24px;}
	.comments-block__avatar{
		width: 44px;
		height: 44px;
		border-radius: 50%;
		overflow: hidden;
		flex-shrink:0;
		margin-right: 16px;
	}
	.comments-block__details-info{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 12px;
		@media(max-width:574px){
			flex-direction: column;
			align-items: flex-start;
			.comment-info-group+.comment-info-group{margin-top: 8px;}
		}
	}
	// .replay-text{
	// 	position: relative;
	// 	margin-left: 16px;
	// 	padding-left: 8px;
		
	// 	&:before{
	// 		content: '';
	// 		width: 18px;
	// 		height: 18px;
	// 		position: absolute;
	// 		top: 0;			
	// 		left: 0;
	// 		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.5 6.75V3.75L2.25 9L7.5 14.25V11.175C11.25 11.175 13.875 12.375 15.75 15C15 11.25 12.75 7.5 7.5 6.75Z' fill='%23788CAB'/%3e%3c/svg%3e ");
	// 		background-position: center;
	// 		background-size: auto;
	// 		background-repeat: no-repeat;
	// 	}
		
	// }
	.comment-info-group{
		display: flex;
		align-items: center;
		p,
		span {
			font-family: $ms;
			font-size: 13px;
			line-height: 20px;
		}
		span{
			color: #3B4E6A;
			
			font-family: $mr;
		}
		&>*+*{margin-left: 16px;}
		.icon-star + span{margin-left: 4px;}
		.badge{
			font-size: 13px;
		}
		.badge.badge--white {
			border: 1px solid #D8E1EF;
			line-height: 18px;
		}
		// @media(max-width:599px)	{
		// 	span {margin-left: 0px;}
		// 	flex-direction: column;
		// 	align-items: flex-start;
		// 	*+*{margin-left: 0;}
			
		// }
	}
	.comments-block__details{width: 100%;}
	.comments-block__details-text{
		background-color: #EEF5FF;
		padding: 16px;
		border-radius: 0px 12px 12px 12px;
		margin-bottom: 12px;
		p{font-family: $os; font-size: 14px;line-height: 20px;}
	}
	li>ul .comments-block__details-text {
		background-color: #fff;
		padding-top: 0;
		padding-bottom: 0;
	}
	.quote-btn,.replay-btn {
		font-size: 13px;
		line-height: 20px;
		color: #7256FF;
		font-family: $ms;
		cursor:pointer;
	}
	li>ul{
		.comments-block__avatar{
			width: 32px;
			height: 32px;
		}
	}
	/*====like and dislike====*/
	.comment-rate__like, .comment-rate__dislike{
		display: flex;
		align-items: flex-start;
		cursor:pointer;
		span,
		.rating-value {
			width: 20px;
			height: 20px;
			text-align: center;
			border: 0;
			font-family: $ms;
			color: #33A661;

		}

		.rating-value {
			margin-left: 4px;
			// margin-right: 10px;
		}
	}
	.comment-rate__dislike{
		margin-left: 12px;
		.icon-dislike{
			position: relative;
			top: 2px;
		}
		.rating-value {
			color: #EE605F;
		}
		
	}
	.comments-block__details-options{
		justify-content: space-between;
		align-items: center;
		
	}
	.comments-block__details-col.d-flex{
		&>*+*{margin-left: 16px;}
		align-items: center;
	}
	
	/*====count====*/
	// .comment-info-count {
	// 	display: flex;
	// 	align-items: center;
	// 	height: 20px;

	// 	span,
	// 	input {
	// 		width: 20px;
	// 		height: 20px;
	// 		text-align: center;
	// 		border: 0;
	// 		font-family: $ms;
	// 		color: #33A661;
			
	// 	}
	// 	input{
	// 		margin-left: 10px;
	// 		margin-right: 10px;
	// 	}
	// 	span{
	// 		color: #788CAB;
	// 	}
	// 	.decrem-btn,
	// 	.increm-btn{
	// 		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M14.25 9.75H9.75H8.25H3.75V8.25H8.25H9.75H14.25V9.75Z' fill='%23788CAB'/%3e%3c/svg%3e");
	// 		background-position: center;
	// 		background-size: auto;
	// 		background-repeat: no-repeat;
	// 	}
	// 	.increm-btn {
	// 		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0 9.6C0 6.23969 0 4.55953 0.653961 3.27606C1.2292 2.14708 2.14708 1.2292 3.27606 0.653961C4.55953 0 6.23969 0 9.6 0H10.4C13.7603 0 15.4405 0 16.7239 0.653961C17.8529 1.2292 18.7708 2.14708 19.346 3.27606C20 4.55953 20 6.23969 20 9.6V10.4C20 13.7603 20 15.4405 19.346 16.7239C18.7708 17.8529 17.8529 18.7708 16.7239 19.346C15.4405 20 13.7603 20 10.4 20H9.6C6.23969 20 4.55953 20 3.27606 19.346C2.14708 18.7708 1.2292 17.8529 0.653961 16.7239C0 15.4405 0 13.7603 0 10.4V9.6Z' fill='white'/%3e%3cpath d='M15.25 10.75H10.75V15.25H9.25V10.75H4.75V9.25H9.25V4.75H10.75V9.25H15.25V10.75Z' fill='%23788CAB'/%3e%3c/svg%3e ");
	// 	}
	// }
	.badge--moder {
		position: relative;
		background-color: #33A661;
		padding-left: 32px;
		&:before {
			content: '';
			width: 16px;
			height: 16px;
			position: absolute;
			left: 8px;
			top: 2px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.13381 0.0115322C8.5729 -0.0550807 8.01723 0.169904 7.65782 0.60823L2.27259 7.17873L1.33134 6.22999L0.703814 6.86251L1.95887 8.12799L0.703814 9.39303L0.390094 9.07681C-0.130031 9.60107 -0.130031 10.45 0.390094 10.9743L1.01762 11.6068C1.53775 12.1311 2.38 12.1311 2.90012 11.6068L2.5864 11.2906L3.84146 10.0255L5.09695 11.2906L5.72448 10.6581L4.78323 9.70933L11.3964 4.20245C11.7785 3.88393 12 3.41024 12 2.91014L11.9998 0.351283L9.13381 0.0115322ZM1.95858 10.658L1.33114 10.0256L2.27239 9.07688L2.89992 9.7094L1.95858 10.658ZM3.84117 8.32438C3.31397 7.79253 3.29129 7.03526 3.79102 6.47605L8.54881 1.24608H11.0588L3.84117 8.32438Z' fill='white'/%3e%3c/svg%3e ");
			@include pos;
			z-index: 2;
		}
	}
	.comments-block__quote{
		padding-left: 12px;
		margin-bottom: 8px;
		border-left: 4px solid #0A0522;
		color: #3B4E6A;
		max-width:450px;
		p{
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;	
		}
		
		@media(max-width:767px){
			p{-webkit-line-clamp: 2;}
		}
		span{
			font-size: 13px;
			
		}
		p{font-size: 14px; font-family: $os; margin-top: 4px;}
	}
}
.filter-btn-block{
	.filter-btn{border-radius: 0;}
	.filter-btn+.filter-btn{border-left:0;}
	.filter-btn:first-child{
		border-radius: 9px 0 0 9px;
	}
	.filter-btn:last-child{
		border-radius: 0 9px 9px 0;
		border-left:0px;
	}
}