/*=================
кастомная выпадашка СЕЛЕКТ
===================*/
.custom-select {
	position: relative;

	.select-icon {
		position: absolute;
		right: 8px;
		top: 4px;
		width: 16px;
		height: 16px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.94 5.71997L8 8.77997L11.06 5.71997L12 6.66664L8 10.6666L4 6.66664L4.94 5.71997Z' fill='%23788CAB'/%3e%3c/svg%3e");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: center;
		z-index: 2;
		pointer-events: none;
		cursor: pointer;
	}

	.select-field {
		
		background-color: #EEF5FF;
		border-radius: 24px;
		input {
			padding: 0;
			border: 0;
			padding-left: 8px;
			padding-right: 32px;
			width: 60px;
			height: 24px;
			color: $text;
			font-size: 13px;
			background-color: transparent;
			font-family: $os;
			cursor: pointer;
			display: block;
		}
	}

	.select-list {
		position: absolute;
		left: 0;
		bottom: 0px;
		max-height: 0;
		transition: max-height 0.3s ease-out;
		overflow: hidden;
		transform: translateY(100%);
		width: 100%;
		background-color: #fff;
		z-index: 3;
		// border: 1px solid #888888;
		border-top: 0;
		border-radius: 0 0 4px 4px;

		li {
			
			color: $text;
			font-size: 13px;
			padding-top: 2px;
			padding-bottom: 2px;
			cursor: pointer;
			padding-left: 8px;
			transition: .2s;
			&:hover {
				opacity: .8;
			}
		}

		li.current {
			
			color: $text;


		}
	}
}
.custom-select.custom-select--light,
.custom-select.custom-select--full {
	.select-icon{
		width: 20px;
		height: 20px;
		top: 15px;
	}
	.select-field input{width: 100%;}
	.select-list{
		border-radius: 12px;
		ul{padding: 12px;}
	}
	.select-list li {
		font-size: 14px;
		font-family: $mr;
		line-height: 20px;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 12px;
		padding-right: 12px;
		color: #3B4E6A;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 2px;
		margin-bottom: 2px;
		border-radius: 9px;
		svg{
			width: 20px;
			height: 20px;
			fill:#788CAB;
		}
	}
	.select-list li:hover,
	.select-list li.current{
		background-color: #fff;
		color: #0A0522;
		svg {
			fill: #00A8E9;
		}
		.select-list li:first-child {
			margin-top: 12px;
		}

		.select-list li:last-child {
			margin-bottom: 12px;
		}
	}
	
}
.custom-dropdown{
	position: relative;
	.custom-dropdown__icon{
		position: absolute;
		top: 15px;
		right: 16px;
		z-index: 2;
	}
}
.custom-dropdown {
	.custom-dropdown__icon,
	.custom-dropdown__icon svg {
		pointer-events: none;
	}
	
	.custom-dropdown__field  {
		height: 36px;
		background-color: #fff;
		border-radius: 9px;
		font-size: 13px;
		font-family: $ms;
		padding-left: 16px;
		line-height: 36px;
		padding-right: 40px;
		display: inline-block;
		min-width:112px;
		cursor:pointer;
		p{
			pointer-events: none;
		}
	}
	.custom-dropdown__icon {
		top: 11px;
		right: 16px;
		
		svg{transition: .3s;}
		&.icon-rotate svg{
			transform:rotate(180deg);
		}
	}
	.custom-dropdown__wrapper {
		position: absolute;
		bottom: 0;
		transform: translateY(100%);
		width: 280px;
		left: auto;
		right: 0;
		display: none;
		z-index: 15;
		&.active{
			display: block;
		}
	}
	.custom-dropdown__list-wrapper {
		background-color: transparent;
		
	}
	.custom-dropdown__list {
		margin-top: 8px;
		background-color: #fff;
		border-radius: 12px;
		box-shadow: 0px 5px 16px rgba(216, 207, 244, 0.8);
		padding: 12px;
		
		svg.svg-wallet  {
			fill: #33A661 ;
		}
		.custom-dropdown__list-item{
			font-size: 14px;
			font-family: $mr;
			line-height: 20px;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left: 12px;
			padding-right: 12px;
			color: #3B4E6A;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 2px;
			margin-bottom: 2px;
			border-radius: 9px;
			transition: .3s;
			cursor:pointer;
			p{
				display: flex;
				align-items: center;
				span{margin-left: 12px;}
			}
		}
		
		.custom-dropdown__list-item.current {
			background-color: #D4E5FF;
			color: #0A0522;
			.badge {
				background-color: #fff;
			}

		}
		
		.custom-dropdown__list-item+.custom-dropdown__list-item{margin-top: 4px;}
		
	}
	.badge{
		background-color: #EEF5FF;
		color: #3B4E6A;
		font-size: 13px;
	}
}
