.form-field{
	position: relative;
	margin-bottom: 20px;

	input{
		width: 100%;
		height: 48px;
		background: #EEF5FF;		
		border: 1px solid #D4DFF1;
		border-radius: 12px;
		padding-left: 44px;
	}
	.form-field-icon{
		position: absolute;
		top: 50%;
		transform:translateY(-50%);
		z-index: 2;
		left: 12px;
		height: 20px;
	}
	@media(max-width:767px){
		margin-bottom: 15px;
		input {height: 40px;}
	}
	input.phone{
		color: #788CAB;
	}
	input:focus {
		background: #fff;
	}
}
/*******code value group******/
.codeValue-group{
	display: flex;
	justify-content: center;
	input{
		width: 100%;
		// background-color: #EEF5FF;
		// border: 1px solid #D4DFF1;
		border:none;
		border-radius: 12px;
		flex-shrink: 0;		
		color: #0A0522;
		font-size: 18px;		
		font-family: $ms;
		padding: 0;
		padding-left: 22px;
		padding-right: 16px;
		letter-spacing: 45px;
	
	}
	input:focus,
	input:valid{
		background: #fff;
	}
	.dashed-bg{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-left: 4px;
		padding-right: 4px;
		
	}

	.dashed-bg span {
		width: 43px;
		height: 1px;
		background-color:  #D8E1EF;
	}
	.codeValue__item+.codeValue__item {
		margin-left: 12px;
	}
	input+input {
		margin-left: 21px;
	}
	.codeValue__item input:valid +span,
	.codeValue__item input:focus +span{display: none;}
	
}
.filter-btn-block{
	display: flex;
}
