header.header{
	height: 56px;
	background: #FFFFFF;
	position: sticky;
	top:0;
	z-index: 15;
	@media(max-width:1199px){
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top:auto;
		border-top:1px solid #D4DFF1;
		&:before{
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			width: 40px;
			background: linear-gradient(270deg, #FFFFFF 34.78%, rgba(255, 255, 255, 0) 100%);
		}
	}
.header-content{
	height: 100%;
	max-width: 1238px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	
}

.header-left .custom-select{
	width: 60px;
	
}
.header-menu{
	ul{
		display: flex;
		align-items: center;
		li{
			margin-left: 32px;
			&:hover{
				a{color: $pr;}
			}
		}
		a{
			font-size: 13px;
			line-height: 20px;			
			color: #0A0522;
			font-family: arial;
			white-space: nowrap;

		}
		li.active a{
			text-shadow: 0.25px 0.1px 0px #0A0522, -0.25px -0.1px 0px #0A0522;}
	}
}

.header-right{margin-left: auto;}
}
/* header user panel*/
.profile-panel{
	display: flex;
	align-items: center;
}
.profile-persone{
	position: relative;
}
.profile-persone__drop{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateY(100%);
	z-index: 5;
	height: 80px;
	background-color: #fff;
	border-radius: 0 0 12px 12px;
	display: none;
	&.active{display: block;}
}
.profile-persone__img{
	position: absolute;
	left: 0;
	z-index: 3;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: #40E0EE;
}
.profile-icon {
	border-radius: 9px;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #EEF5FF;
	cursor:pointer;
	margin-right: 32px;
	
}

.icon-notify {
	width: 20px;
	height: 20px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.5 15.8334V16.6667H2.5V15.8334L4.16667 14.1667V9.16675C4.16667 6.58341 5.85833 4.30841 8.33333 3.57508C8.33333 3.49175 8.33333 3.41675 8.33333 3.33341C8.33333 2.89139 8.50893 2.46746 8.82149 2.1549C9.13405 1.84234 9.55797 1.66675 10 1.66675C10.442 1.66675 10.866 1.84234 11.1785 2.1549C11.4911 2.46746 11.6667 2.89139 11.6667 3.33341C11.6667 3.41675 11.6667 3.49175 11.6667 3.57508C14.1417 4.30841 15.8333 6.58341 15.8333 9.16675V14.1667L17.5 15.8334ZM11.6667 17.5001C11.6667 17.9421 11.4911 18.366 11.1785 18.6786C10.866 18.9912 10.442 19.1667 10 19.1667C9.55797 19.1667 9.13405 18.9912 8.82149 18.6786C8.50893 18.366 8.33333 17.9421 8.33333 17.5001' fill='%23788CAB'/%3e%3c/svg%3e");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	position: relative;

	.label {
		position: absolute;
		top: -4px;
		left: -7px;
		z-index: 2;
		min-width: 12px;
		height: 14px;
		border: 2px solid #fff;
		background-color: #F2CF68;		
		font-family: $ms;		
		display: flex;
		align-items: center;
		
		border-radius: 10px;
		padding-left: 3px;
		padding-right: 3px;
		span{
			font-size: 10px;
			color: #0A0522;
			
		}
	}
}
.login-block{
	position: relative;
	height: 31px;
	.login-block__img{
		width: 31px;
		height: 31px;
		border-radius: 50%;
		overflow: hidden;
		position: absolute;
		left: -13px;
		top: 0;
		z-index: 2;
	}
	.login-btn{
		font-size: 13px;
		font-family: $ms;
		padding-right: 12px;
		border-radius: 20px;
		padding-left: 27px;
		height: 31px;
		line-height: 31px;
		background-color: #EEF5FF;
		color: $pr;
		transition: .3s;
		&:hover{
			background-color: $pr;
			color: #fff;
		}
	}
}
.header .mobile-logo{
	display: none;
	@media(max-width:1199px){
		display: block;
	}
}
.header .mobile-logo svg{
	fill: #7256FF;
	width: 35px;
	height: 20px;
}
/* mob version*/
@media(max-width:1199px) {
	.header .mobile-logo {
	display: block;
	margin-right: 4px;
}
	.custom-select--lang {
	 	display: none;

	}
	header.header .header-menu ul li{margin-left: 16px;}
	.header-content {
		overflow: hidden;
		overflow-x:auto;
		width: 100%;
		scrollbar-width: none;
		}

		.header-content::-webkit-scrollbar {
			width: 0;
			height: 0;
		}
	.header-center{padding-right: 44px;}
}