/*-=======ТАБЫ=====*/
.tabs-wrapper{
	border: 1px solid #D8E1EF;
	border-radius: 16px;
	overflow: hidden;
}
.tabs-wrapper .tabs-header {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #D8E1EF;
	padding-right: 24px;
}

.tabs-wrapper .tab-options {
	display: flex;
	align-items: center;

	&>*+* {
		margin-left: 16px;
	}
}

.tabs-wrapper .tabs {

	display: flex;

	.tab p {
		pointer-events: none;
	}

	.tab {
		padding-left: 24px;
		padding-right: 24px;
		height: 56px;
		line-height: 56px;
		font-size: 14px;
		color: $pr;
		cursor: pointer;
		background-color: $light;
		p{position: relative;
			&:after{
				content:'';
				position: absolute;
				left: 0;
				width: 0;
				bottom: 2px;
				height: 2px;
				background-color: transparent;
				transition: .3s;
			}
		}
		&.active {
			background-color: #fff;
			color: #E857D1;

			p {
				&:after{
					width: 100%;
					background-color: #E857D1;
				}
				text-shadow: 0.25px 0.1px 0px #E857D1, -0.25px -0.1px 0px #E857D1;
				
			}
		}
	}
}

.tabs-wrapper .tab-item {
	display: none;
	&:first-child{display: block;}

}


.tabs-wrapper .tab-options {
	.custom-dropdown .custom-dropdown__field{
		min-width: 32px;
		padding: 0;
	}
	.custom-dropdown .custom-dropdown__icon{
		right: 0;
	}
}
