mixin lightCard(title, num, text)
	.card-light&attributes(attributes)
		.card-light__head
			h4 !{title}
			span #{num}
		.card-light__text
			p !{text}
mixin social-block
	.contact-icons&attributes(attributes)
		a(href="").contact-icons__item
			svg.twit-svg
				use(xlink:href="./img/svg-sprite.svg#twitIcon")
		a(href="").contact-icons__item
			svg.fb-svg
				use(xlink:href="./img/svg-sprite.svg#fbIcon")
		a(href="").contact-icons__item
			svg.tg-svg
				use(xlink:href="./img/svg-sprite.svg#tgIcon")

mixin breadcrumb(...items)
	.page-breadcrumb
		ul
			each item in items
				li
					a(href="#!") #{item}