extends ../layouts/layout.pug

block content

	include ../sections/_aside-menu.pug
	include ../sections/_header_2.pug
	main.about-game-main
		.page-content-wrapper
			.container.container--special
				+breadcrumb('Главная','Игры', 'Axie Infinity')
				.page-content-columns
					.page-content-left
						.page-content-left__block
							include ../sections/_about-game-header
							include ../sections/_about-game-description
						.page-content-left__block
							include ../sections/_about-game-news
						.page-content-left__block
							include ../sections/_about-game-similar
						.page-content-left__block
							include ../sections/_comments-block
					.page-content-right
						include ../sections/_about-game-aside
	include ../sections/_footer.pug
	
block variables
	-var title = "About Game";
