extends ../layouts/layout.pug

block content
	#overlay
	include ../sections/_aside-menu.pug
	include ../sections/_header_3.pug
	main.about-game-main.single-game-page
		.page-content-wrapper
			.container.container--special
				+breadcrumb('Главная','Игры', 'Axie Infinity')
				.page-content-columns
					.page-content-left
						.page-content-left__block
							include ../sections/_about-game-header
							include ../sections/_about-game-description
						.fake-offset#news
							.page-content-left__block
								include ../sections/_about-game-news
						.fake-offset#games-similare
							.page-content-left__block
								include ../sections/_about-game-similar
						.fake-offset#comments
							.page-content-left__block
								include ../blocks/_comments-block
					.page-content-right
						include ../sections/_about-game-aside
	include ../sections/_footer.pug
	
block variables
	-var title = "About Game";
