extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.investor-page
		include ../sections/_investor-banner.pug
		include ../sections/_our-offer.pug
		include ../sections/_investor-cta.pug
		include ../blocks/_animate-line.pug
		include ../sections/_game-news.pug
		include ../sections/_road-map.pug
		include ../sections/_token-usage.pug
		include ../sections/_our-team.pug
		include ../sections/_our-experts.pug
	
	
	
block variables
	-var title = "For Investor";
