extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.investor-page
		include ../sections/_investor-banner.pug
		include ../sections/_our-offer.pug
		include ../sections/_investor-cta.pug
		include ../blocks/_animate-line.pug
	
	
	
block variables
	-var title = "For Investor";
