extends ../layouts/layout.pug

block content
	#overlay
	include ../sections/_mobile-fix-bottom-menu.pug
	include ../sections/_aside-menu.pug
	include ../sections/_header.pug
	main.invest-rounds
		include ../sections/_invest-rounds-top.pug
		.invest-rounds-board.p-80
			include ../sections/_information-tablo-white.pug
		
		
	include ../sections/_footer.pug
		
	
	
block variables
	-var title = "Invest Rounds";