extends ../layouts/layout.pug

block content
	#overlay
	include ../sections/_aside-menu.pug
	include ../sections/_header_2.pug
	//========= тег main =========
	main.about-game-main.all-games-page
		include ../sections/_header-slider
		.page-content-wrapper.page-content-wrapper--games
			.container.container--special
				.page-content-columns
					.page-content-left
						//======один блок с карточками ====
						.fake-offset#step-genres
							.page-content-left__block
								include ../sections/_one-game-similar
						//======один блок с карточками ====
						.fake-offset#card-genres
							.page-content-left__block
								include ../sections/_one-game-similar-card
						//======один блок с карточками ====
						.fake-offset#role-genres
							.page-content-left__block
								include ../sections/_one-game-similar-role
						//======один блок с карточками ====
						.fake-offset#action-genres
							.page-content-left__block
								include ../sections/_one-game-similar-action
					.page-content-right
						include ../sections/_one-game-aside
		include ../sections/_one-game-category
		include ../sections/_best-games
	include ../sections/_footer.pug
	
block variables
	-var title = " Game";
