extends ../layouts/layout.pug

block content
	#overlay
	+fix-bottom-menu('Игры', 'Обзоры', 'Обучение', 'Новости GameFi')
	include ../sections/_aside-menu.pug
	include ../sections/_header_3.pug
	main.single-news-page
		.page-content-wrapper
			.container.container--special
				+breadcrumb('Главная','Игры', 'Новости Gamefi', 'В Японии откроется первая старшая киберспортивная школа')
				.page-content-columns
					.page-content-left
						.page-content-left__block
							include ../sections/_single-news-page
						
						.page-content-left__block
								include ../sections/_about-game-news
						
						.page-content-left__block
								include ../blocks/_comments-block
					.page-content-right
						include ../sections/_single-news-sidebar
	include ../sections/_footer.pug
	
block variables
	-var title = "About Game";
