extends ../layouts/layout.pug

block content
	#overlay.light-overlay
	include ../sections/_aside-menu.pug
	include ../sections/_header.pug
	main.tasks-page
		include ../sections/_ui-header-personal
		include ../sections/_tasks-content
	
	include ../sections/_footer.pug
	include ../sections/_tasks-single
	
block variables
	-var title = "Game Hotel | Tasks";
