extends ../layouts/layout.pug

block content
	#overlay.light-overlay
	include ../sections/_aside-menu.pug
	include ../sections/_header-tasks.pug
	include ../sections/_ui-header-personal
	main.tasks-page
		include ../sections/_tasks-content
	//=======FOOTER========
	include ../sections/_footer.pug
	
	include ../sections/_tasks-single
	include ../sections/_tasks-single-process
	include ../sections/_tasks-single-done
	include ../sections/_tasks-single-notdone
	//- include ../sections/_tasks-single
	
block variables
	-var title = "Game Hotel | Tasks";
