extends ../layouts/layout.pug

block content
	
	//-include ../sections/_ui.pug
	include ../sections/_ui-form.pug
	include ../sections/_ui-tasks.pug
	include ../sections/_ui-header-personal.pug
	//- include ../sections/_header-slider
	
	
	
block variables
	-var title = "Page";
